[2015-01-29 15:23] shawnps opened #1 "Handle non-Go repos more gracefully"
Right now we just return internal server error, but we can actually tell when a repo has no go files in it so we should return a more specific error

[2015-01-29 15:24] shawnps opened #2 "ignore “third_party”, “vendor”"
I messed this up and only ignored "Godeps" but noticed some repos use other conventions

[2015-01-29 15:25] shawnps opened #3 "log repo name when it’s not found in cache"
We log that we didn't find the repo in the cache, but not which repo. would be nice to have more specific log statement

[2015-01-29 15:39] #3 closed

[2015-02-04 12:23] hermanschaaf opened #5 "Check: errcheck"
Original report by @shawnps:

[errcheck](https://github.com/kisielk/errcheck) checks whether a package is checking errors returned by functions. For example, it detects both of these:

[code]
and
[code]

but unfortunately:

shawnps [9:59 PM]
but it runs at the package level :disappointed:

shawnps [9:59 PM]
and the package needs to be in your gopath too so we'd have to like clone the repo into rep

[2015-02-04 12:24] hermanschaaf opened #6 "Check: go test -cover"
Original comment by @shawnps:

Check the coverage percent of the package. We might not do this if we can't properly sandbox stuff.

[2015-02-07 04:45] hermanschaaf opened #7 "Github readme badges"
...a request we have received many times, and something I personally want too :smiley_cat:

[2015-02-07 15:26] shawnps opened #10 "Godeps"
should add Godeps

[2015-02-07 15:32] #10 closed

[2015-02-08 02:25] hermanschaaf commented on #7
It works!

![screenshot from 2015-02-08 11 24 56](https://cloud.githubusercontent.com/assets/1121616/6094918/251c7024-af85-11e4-9919-e29d31d18c27.png)

... but Github is aggressively caching the image on their CDN. We need to send the `Cache-Control: no-cache` header to avoid that, and I'm not sure if we can do it with the current hacky way I'm redirecting to the image location on shields.io. Will

[2015-02-08 13:41] shawnps opened #11 "Pulling repo exits status 1 sometimes"
On goreportcard.com (not seeing on local) if I click Update Now I get an error, and in the log it says git pull exited status 1. Clicking it twice works

[2015-02-08 13:45] shawnps opened #12 "Serve badge assets ourselves"
We should serve the badges ourselves so we can fix caching: https://github.com/github/markup/issues/224#issuecomment-48532178

[2015-02-08 13:47] shawnps opened #13 "Writing to mongo happens twice when clicking update now"
Seeing this in the server log when clicking Update Now:

2015/02/08 08:46:08 Writing to mongo...
2015/02/08 08:46:08 Writing to mongo...
2015/02/08 08:46:10 Writing to mongo...
2015/02/08 08:46:10 Writing to mongo...
2015/02/08 08:46:14 Writing to mongo...
2015/02/08 08:46:14 Writing to mongo...
2015/02/08 08:46:17 Writing to mongo...
2015/02/08 08:46:17 Writing to mongo...
2015/02/08 08:46:19 Wri

[2015-02-08 13:48] shawnps commented on #13
yeah not seeing it locally, weird :baby:

[2015-02-08 14:00] shawnps opened #14 "make mongo stuff configurable"
the mongo info is just global vars in the `handlers` package right now, would be nice to make those flags with defaults in `main.go` and pass them to a struct or something.

[2015-02-08 14:04] shawnps opened #15 "make and document an API"
this is way in the future probably but would be cool to expose an API for people to hit

[2015-02-08 14:14] shawnps opened #16 "error banner not showing detailed error string"
It seems like the error banner always shows: Oops! There was an error processing your request: Internal Server Error, even though the backend is sending a more descriptive error

[2015-02-08 14:17] shawnps opened #17 "automatically deploy on push to master"
would be cool to set up some sort of simple deployment process on pushes to master

[2015-02-08 14:45] shawnps opened #18 "high scores page"
I started a handler for returning high scores here:

https://github.com/gojp/goreportcard/blob/master/handlers/high_scores.go

We should add a view :pager:  (or maybe multiple views since this one is just for repos > 100 files)

[2015-02-08 15:04] #2 closed

[2015-02-08 15:05] shawnps commented on #1
This has a custom error now but we're not showing the error message it seems, see https://github.com/gojp/goreportcard/issues/16

[2015-02-08 15:05] #1 closed

[2015-02-08 19:10] shawnps commented on #18
Added a view here: http://goreportcard.com/high_scores/

It doesn't look very nice though :baby:

[2015-02-08 19:10] #18 closed

[2015-02-08 22:09] shawnps commented on #11
Weird, seems like it might be specific to the `goreportcard` repo only, will have to investigate a bit

[2015-02-08 22:39] shawnps opened #19 "Recent and/or popular searches on bottom?"
We could maybe add some links to recent or popular searches on the bottom of the page

[2015-02-14 05:58] shawnps opened #20 "initial git clone seems broken"
i've noticed the git clone failing with exit status 128 the first time a new repo is entered

[2015-02-14 17:11] shawnps opened #21 "add share link or button"
something like "org/repo got an A on goreportcard.com!"

[2015-02-14 18:31] shawnps opened #22 "add tests"
integration test should be pretty quick to put together

[2015-02-14 23:41] shawnps commented on #5
The GOPATH thing is probably not a problem anymore, but I get a giant traceback when using errcheck locally, and then it says `error: failed to check packages: could not type check: couldn't load packages due to errors: runtime`

Will probably investigate a bit more and file an issue if I can't figure it out

[2015-02-16 05:29] shawnps opened #23 "check out https://github.com/alecthomas/gometalinter"
has a lot of nice tools :baby:

[2015-02-26 23:43] shawnps opened #24 "add grind"
https://github.com/rsc/grind

[2015-03-07 15:10] dmikalova commented on #12
I think it'd better to keep with a standard service - shields.io - and just use the cache control headers already discussed [here](https://github.com/gojp/goreportcard/issues/7) to fix caching.

[2015-03-20 08:30] wadtech opened #25 "suggest repositories if none specific given"
Please forgive me if it behaves differently on a desktop, I've only tried mobile.

I tried out goreportcard and naturally used my own account first. I couldn't remember the name of any of my go repos and entering just the username presents an error flash.

If I enter just the username it would be neat to be displayed a list of available repositories to run the report on.

Optionally then repositor

[2015-03-20 09:08] shawnps opened #26 "http: Accept error: accept tcp 127.0.0.1:8080: too many open files; retrying in 1s"
This error happens a lot. It brings the site down and then I have to manually restart it.

[2015-03-20 09:30] shawnps commented on #26
Might have found it, looks like mongo connections weren't being closed -.-

[2015-03-20 09:30] #26 closed

[2015-03-20 09:44] shawnps opened #27 "check out gometalinter"
https://github.com/alecthomas/gometalinter

[2015-03-24 13:27] #23 closed

[2015-04-07 18:36] robotvert opened #28 "FYI: goreportcard library style"
Hi,

Not an issue, just a heads up.
I needed to score projects programmatically so I extracted the relevant parts and made a [package](/robotvert/goreportcard) out of it.
It might be just me needing this but IMHO it'd be nice if the official project split the "web part" and the "scoring part", to separate concerns and avoid such forks.

Cheers!

[2015-04-28 12:08] robotvert opened #29 "package awslabs/aws-sdk-go hangs during reporting"
Whether it's locally using the library I extracted (see issue #28) or online using [http://goreportcard.com/report/awslabs/aws-sdk-go](http://goreportcard.com/report/awslabs/aws-sdk-go) it seems this package hangs halfway through.

[2015-04-29 02:50] shawnps commented on #29
Works for me on goreportcard, just takes a long time

[2015-04-29 07:00] robotvert commented on #29
takes time indeed. it works now, especially after updating to the latest rev.
I had a gateway error yesterday on grc.com but it seems fine now.

[2015-04-29 07:00] #29 closed

[2015-05-11 14:59] #11 closed

[2015-05-11 14:59] #20 closed

[2015-05-11 14:59] #17 closed

[2015-06-06 01:25] #13 closed

[2015-07-27 16:00] tomcam opened #30 "goreportcard needs sponsorship"
I'll do it. Please contact me at tomcampbell@gmail.com or +1 425 260 5292

[2015-08-10 17:17] shawnps commented on #30
Hi @tomcam

Sorry for the late response.

I really appreciate your offer but Digital Ocean has offered to sponsor it, which makes things easier since the server is hosted there.

Thanks again for offering

[2015-08-10 17:17] #30 closed

[2015-08-10 17:21] tomcam commented on #30
Love DO! All right, great to hear.

On Mon, Aug 10, 2015 at 10:17 AM, Shawn Smith <notifications@github.com>
wrote:

[2015-08-23 15:26] jackspirou opened #32 "Allow for periods in URL routes."
Github allows for ~~usernames, org names, and~~ repo names to include periods, but currently goreportcard.com does not.  If a period is present in the URL route `goreportcard` throws a 404.

I suggest allowing for periods by updating the `makeHandler` method in the `main.go` file to include them:
`^/%s/([a-zA-Z0-9\-_]+)/([a-zA-Z0-9\-_]+)$` -> `^/%s/([a-zA-Z0-9\-_]+)/([a-zA-Z0-9\-_.]+)$`

This way

[2015-08-23 19:36] shurcooL commented on #32
Do you have a source for that? It doesn't appear to be that way:

![image](https://cloud.githubusercontent.com/assets/1924134/9429854/458230bc-4993-11e5-8de8-79ce9f07d6ef.png)

At least not for usernames.

Also, I see repo names allow for periods, but with certain exceptions:

![image](https://cloud.githubusercontent.com/assets/1924134/9429860/853ab922-4993-11e5-8aec-577f9848c06a.png)

![image](ht

[2015-08-23 20:35] jackspirou commented on #32
No source, just thought both were valid, but good catch on the usernames/org names.

As for repo names, yes, still I would like to include periods that are valid for repository names since that was the issue I discovered.  The search allows for periods so i'm not sure why the URL routes wouldn't as well.

[2015-08-23 21:16] jackspirou commented on #32
Updated pull request #33 to account for the updates above.

[2015-08-24 10:00] #32 closed

[2015-09-09 21:14] mattfarina opened #34 "goreportcard.com down"
http://goreportcard.com is down for me. Is there a better place to note this?

[2015-09-30 13:26] alkchr opened #36 "Reclone project if "git pull" fails"
Currently, **goreportcard**  clones a repo just once. Every subsequent attempt to update info about a project triggers `git pull`. Is my understanding correct?
[code]
https://github.com/gojp/goreportcard/blob/6f08ef1939591fb115678eee84771b88379c7484/handlers/checks.go#L80-L92

If so, there is a flaw in this approach:
1. `git pull` will always fail if I rewrite my git history;
2. if I change my GH

[2015-10-03 06:46] egonelbre opened #37 "Include minimum score of dependencies."
The quality of dependencies an important point about the quality of the project.

By including the scores of dependencies it makes it visible. It would also encourage collaboration, e.g. i write a package and get a score C because of a dependencies then I'm more motivated to improve that dependency.

There's the question how to aggregate those dependencies. Minimum seems the most appropriate, chai

[2015-10-03 06:50] shurcooL commented on #37
This is a pretty fantastic idea. It would be essential to have an easy way to see the all dependencies (including indirect ones) and their scores to make improving the score more actionable.

[2015-10-03 06:54] shawnps commented on #36
Yup, that's correct

this has in fact been an issue in the past for one repo and I ended up manually re-cloning it (bad)

basically sounds fine to me but i wonder if there is a way to force a pull or something like that. will have to investigate

[2015-10-03 06:57] shawnps commented on #37
Sounds nice to me. It could maybe be a new section "dependencies" along with the rest of the tools, which lists out the dependencies and their scores.

I'm a bit worried about it getting significantly slower if the score of the dependencies are not currently in the "cache" (we cache stuff in mongo unless the user explicitly updates it with the Update now link)

If either of you has any ideas let m

[2015-10-03 07:00] shurcooL commented on #36
I think you could do:

[code]

Or something like that (not necessarily exactly that). The above does not take into consideration if the default branch is not master. It also wouldn't work if the remote changes (if that's a possible situation).

[2015-10-03 07:02] shurcooL commented on #37
A way to make sure it's never slow is by not showing the score if it's not already in cache. But then either get the user to manually update those dependency package scores and refresh their original package, or spawn a background task to do the above (and tell the user to refresh later).

[2015-10-03 07:22] shawnps commented on #37
That sounds good to me.

I'm thinking at first it will be another section along with the rest of the tools. When you click to expand, it'll list each dependency and its score (or no score), and an Update now link per dependency.

Each dependency in the list will have a link to its own score on Go Report Card.

One problem here is that we decided when building Go Report Card that it would only supp

[2015-10-03 07:28] shawnps commented on #15
this has been requested a couple of times. should consider exposing an API and documenting it in the README or on the site itself

[2015-10-03 07:31] shawnps opened #38 "don't break when mongo is unreachable"
this is probably discouraging to anyone trying to develop locally, if you aren't running mongo and you try to get a report, the gopher spins for a minute or two then you get the following error:

`Failed to get mongo collection during GET: no reachable servers`

[2015-10-03 07:31] #22 closed

[2015-10-03 07:32] shawnps commented on #5
tried getting this working a few times but no luck...closing

[2015-10-03 07:32] #5 closed

[2015-10-03 07:33] shawnps commented on #34
@mattfarina thanks for making this issue, I think the problem is fixed now but feel free anytime to report any issues you find here in the future

[2015-10-03 07:33] #34 closed

[2015-10-03 07:50] shawnps commented on #24
It's broken right now https://github.com/rsc/grind/issues/9

[2015-10-03 07:51] shawnps opened #39 "automatically deploy on build success"

[2015-10-03 15:19] shawnps commented on #37
For future reference, this apparently will get a list of non stdlib import paths:

`go list -f '{{.Deps}}' | tr "[" " " | tr "]" " " | xargs go list -f '{{if not .Standard}}{{.ImportPath}}{{end}}'`

not sure if there's a better way

[2015-10-03 18:51] egonelbre commented on #37
Regarding slowness, I would use the DB as the main source of content and update it as necessary. I.e. When a person opens new package, it opens it as "loading". It creates an empty entry and marks with "needsUpdate" flag, along with the date it was requested and a priority.

There's one or few goroutines that fulfill those request. I.e. Poll the DB for the next update according to time requested a

[2015-10-04 00:46] shurcooL commented on #5
Where does goreportcard clone/copy packages now, if not a GOPATH workspace?

[2015-10-14 02:17] shawnps opened #40 "give points for having a LICENSE/COPYING file"

[2015-10-14 02:23] client9 commented on #37
hi guys...

for ignoring standard libraries, i did this  (cut-n-pasted from some other code i wrote)

go list -f '{{  join .Deps "\n"}}' ../... |

[code]

[2015-10-14 02:24] client9 commented on #37
re:  by using the go source parsing packages rather than invoking go list.

@egonelbre  -- I took a look at those but i couldn't really find anything very nice.  Any tips here?

[2015-10-14 02:25] client9 commented on #40
cc @client9

[2015-10-14 02:26] client9 commented on #40
more points if it's a license that is detectable from https://github.com/ryanuber/go-license

[2015-10-14 05:12] client9 opened #41 "How is scoring done.. perhaps make a bit more strict"
I wouldn't call this A+, but maybe I'm too picky.

Anyways .. thanks making such a nice service.

n

http://goreportcard.com/report/ugorji/go

A+    Excellent!
Found 22 issues across 28 files

gocyclo	 53%
gofmt	 85%
golint	 32%
go_vet	82%

[2015-10-14 05:16] client9 commented on #40
here's a sample of a repo without a license

http://goreportcard.com/report/robertkrimen/isatty

[2015-10-14 06:01] shawnps commented on #41
This was caused by the grade being calculated based on an overall average, and once I added license since this repo has a LICENSE file the grade got boosted quite a bit. I'm working on making it a weighted average now with less weight going to LICENSE file.

[2015-10-14 06:48] shawnps commented on #41
Assigned these weights:

[code]

ugorji/go should have a C now. Will see how this works out and can reopen this if it isn't quite good enough.

[2015-10-14 06:48] #41 closed

[2015-10-14 06:50] shawnps commented on #41
I actually think go cyclo and go lint could maybe be weighted a bit less...we'll see

[2015-10-14 07:05] shurcooL commented on #41
go vet issues are much, much more severe than lint issues.

[2015-10-14 07:06] shurcooL commented on #40
Please don't penalize for having license in README rather than a standalone file. I really dislike the pollution of files like AUTHORS, COPYING, CONTRIBUTING.md, README.md, LICENSE, etc. and I don't want to get points taken away from having a neater repo.

Not having a license at all is another story.

[2015-10-14 07:12] shawnps commented on #40
@shurcooL that seems to be the GitHub standard (LICENSE) when adding a new repo:

![screen shot 2015-10-14 at 4 11 26 pm](https://cloud.githubusercontent.com/assets/80111/10477079/4b0dd698-728e-11e5-9be3-d1ebb5bf9435.png)

how do you propose finding a license within the README file?

[2015-10-14 07:14] shawnps commented on #41
@shurcooL yeah that's a good point. I'll reduce golint's weight.

[2015-10-14 08:01] shurcooL commented on #40
It's a harder problem. I proposed not penalizing for not having LICENSE, which is easier.

[2015-10-14 08:31] shawnps commented on #40
Okay, correct me if I'm wrong: bonus points if you have LICENSE, but a repo without LICENSE could still hit 100%

[2015-10-14 14:35] egonelbre commented on #37
The untested version, currently this takes the full path to the package rather than the package name -- but I suspect, this version is more useful, since it would work better on package with custom folder structures.

[code]

I also started to think, how good idea is that... I.e. measure this against using `go list`, maybe the performance win isn't that big.

[2015-10-14 17:51] client9 commented on #19
see https://www.ssllabs.com/ssltest/ for ideas.

[2015-10-15 16:08] alkchr commented on #36
So, the following change is required:
[code]
I have tested it with a project with rewritten history, everything works as expected.

[2015-10-15 16:16] alkchr opened #42 "A vector for Denial of Service Attack"
Goreportcard does not check a presence of `../` in repo url and thus it is possible to start a check for all available repo directories by using it as url parameter. And multiple `../../` let us make the system scan everything beginning from the root (`/`).
All this create a vector for Denial of Service attack.

For illustration, goreportcard stores `go get`ted repos inside `repos/src`. And when a

[2015-10-19 00:22] client9 opened #44 "Add notice if github-hosted project is missing a description"
Doing some experiments I found that some repos don't have a description set in github.  It would be nice if go-reportcard mentioned this.  It might help to get people to add a description.

[code]

[2015-10-19 00:49] shurcooL commented on #44
What if a Go package is not hosted on GitHub?

I think Go report card currently only supports Go packages hosted on github, but I hope that eventually support for all Go packages is added.

For example, consider the package [`robpike.io/filter`](https://godoc.org/robpike.io/filter). Would you rate it lower because it doesn't have a GitHub description? Or would it not apply since it's not hosted on

[2015-10-19 01:28] client9 opened #45 "case sensitivity issue on highscores page"
good stuff guys.

Found a nit on highscore page:
[code]

[2015-10-19 03:28] #36 closed

[2015-10-19 06:15] client9 commented on #44
hi @shurcooL .. ahh good "point".  It is a github specific issue so maybe just a "Other issues" section where it's mentioned since its not really a golang problem.  I will change the title of this issue.

hmmm interesting.
`golint` only checks for package level comment if  `-min_confidence` is 0.2 or lower!

[2015-10-19 14:17] mattfarina commented on #40
I noticed it now checks for licenses. I expanded on that a little with pull request #46.

[2015-10-22 05:23] client9 opened #47 ""Needs lots [of] improvement""
I found a D!!

The message is `Needs lots improvement` .. I think it should be  `Needs lots _of_ improvement`

[2015-10-23 02:58] shawnps commented on #47
Thanks, nice catch. Fixed the typo

[2015-10-23 02:58] #47 closed

[2015-10-29 07:36] matrixik opened #48 "Empty error when testing minimaxir/big-list-of-naughty-strings/naughtystrings"
Hello,

When I try to test https://godoc.org/github.com/minimaxir/big-list-of-naughty-strings/naughtystrings site is showing empty error:
`Oops! There was an error processing your request: {}`

[2015-10-29 09:55] shawnps commented on #48
Hi @matrixik

The app works on the repo-level, so you would pass  `minimaxir/big-list-of-naughty-strings` rather than `minimaxir/big-list-of-naughty-strings/naughtystrings`:

http://goreportcard.com/report/minimaxir/big-list-of-naughty-strings

[2015-10-29 09:55] #48 closed

[2015-10-29 10:57] matrixik commented on #48
O, thank you. Maybe it can be returned in error msg?

[2015-11-03 22:02] gdamore commented on #7
Yes please!  Maybe what should happen is that shields.io should present an ETag.  If that were done, then you wouldn't have to disable caching.  Put another way, I think this needs to be solved by shields.io, not goreportcard.

[2015-11-04 10:20] shawnps commented on #7
This might already be happening, so maybe everything is fine..? https://github.com/badges/shields/issues/221 will have to test it a bit

[2015-11-04 10:45] #12 closed

[2015-11-06 00:03] mholt commented on #40
Would be nice if it worked for files called LICENSE.txt :sweat_smile:

[2015-11-08 15:35] mattfarina commented on #40
@mholt that was merged in a few days ago. If you refresh on a project it should work now.

[2015-11-08 16:54] mholt commented on #40
:+1: Bravo - thanks!

[2015-12-13 17:08] alkchr opened #49 "More informative error messages"
`Oops! There was an error processing your request` and `500 Internal Server Error` are not really informative. Here is [an example](http://goreportcard.com/report/goaltools/iniflag) for illustration. I have no clue what's wrong with it and I'm not able to reproduce the error locally ([the same](http://goreportcard.com/report/goaltools/INIFlag) repo but uppercased works as expected).

[2015-12-14 01:54] shawnps commented on #49
@alkchr try again. You're correct about surfacing the error messages, will look into that later. The problem was on the server and it's been fixed for now.

[2015-12-24 11:27] onuryilmaz commented on #6
+1

[2015-12-24 11:28] onuryilmaz opened #51 "Include any Git repository other than github.com"
It would be better if we can include any other git repositories.

[2015-12-25 04:33] shurcooL commented on #6
FYI, http://gocover.io/ already does this, and it's pretty good at it.

Since `go test -cover` requires user code to be executed, gocover.io uses docker containers to do that safely.

[2015-12-25 04:53] shurcooL commented on #51
Indeed.

Go makes it very easy with these funcs:

- [`golang.org/x/tools/go/vcs.RepoRootForImportPath`](https://godoc.org/golang.org/x/tools/go/vcs#RepoRootForImportPath)
- [`golang.org/x/tools/go/vcs.Cmd.Download`](https://godoc.org/golang.org/x/tools/go/vcs#Cmd.Download)

Websites like godoc.org, gotools.org, gocover.io, etc., already support arbitrary valid (as in, go-gettable) import paths.

[2015-12-26 21:46] xor-gate commented on #6
I think the best for goreportcard could report the overall code coverage percentage? Where:

* 0 to 60% bad
* 70% good
* 80% to 100% excellent

[2015-12-27 00:32] shurcooL commented on #6
Does gocover.io have an API? If so, perhaps it could be used to calculate the above.

If not, it's open source, so perhaps that's helpful. Otherwise, this'll need to be implemented.

[2016-01-04 19:34] client9 commented on #51
Semi-related

I frequently attempt to cut-n-paste a package name from a golang source file which fails, i.e.

Try to do this:

[code]

But should be

[code]

:-(

Just removing the hardwired github.com I think will allow other non-github repos to work and make it easier for github.com repos  !!

[2016-01-04 19:37] client9 opened #52 "enhancement: add client9/misspell"
Not sure I would give or deduct points, but nice to see.

https://github.com/client9/misspell

[2016-01-04 19:38] client9 commented on #27
ping @shawnps

[2016-01-04 19:47] client9 opened #53 "fyi: https://github.com/karolgorecki/goprove"
this maybe be of interest to you

https://github.com/karolgorecki/goprove

[code]

[2016-01-10 22:05] client9 commented on #52
I'll attempt to add this to gometalinter

[2016-01-10 22:06] client9 commented on #7
It seems to work

[2016-01-10 22:07] client9 commented on #7
But it is not advertised nor clear how to do it.  I just copied what I found in
https://raw.githubusercontent.com/gojp/goreportcard/master/README.md

[2016-01-10 22:36] shurcooL commented on #52
That would be really nice to see! :+1:

[2016-01-10 23:06] client9 commented on #52
hi @shurcooL  in the meantime.. you can manually use it with gometalinter
See https://github.com/client9/misspell#does-this-work-with-gometalinter for details.

[2016-01-11 06:50] shawnps commented on #52
@client9 thanks, I'm looking at this now. I can't get the stdout for whatever reason. I made a small script to try to figure it out:

[code]

it prints nothing, but if I run the command manually I get a bunch of results. Not sure if something in there is glaringly wrong.

[2016-01-11 06:52] shawnps commented on #52
(Not sure if getting `misspell` into `gometalinter` would fix this)

[2016-01-11 07:00] #27 closed

[2016-01-11 07:10] shawnps commented on #52
I think I got it.

`[]string{"gometalinter", "--deadline=180s", "--disable-all", "--linter", "misspell:misspell ./*.go:PATH:LINE:MESSAGE", "--enable=misspell"}`

[2016-01-11 07:33] shawnps commented on #52
This is in now with 0 weight. Added a couple of issues and a PR to misspell:

https://github.com/client9/misspell/pull/10
https://github.com/client9/misspell/issues/7
https://github.com/client9/misspell/issues/8

[2016-01-11 07:33] #52 closed

[2016-01-11 07:35] shawnps commented on #14
not really a big deal imo, if someone really wants it they can reopen and take a look (or i will)

[2016-01-11 07:35] #14 closed

[2016-01-11 07:36] shawnps commented on #49
duplicate of this:

https://github.com/gojp/goreportcard/issues/16

[2016-01-11 07:36] #49 closed

[2016-01-11 09:00] alkchr commented on #49
@shawnps Thanks for fixing the issue related to my repo.

[2016-01-11 09:05] shawnps commented on #49
@alkchr anytime, thanks for making the issue!

[2016-01-11 09:31] shawnps commented on #7
well, i'm showing it on the page, but that requires people to copy the img address and do some manual work to get it into their readme... should be able to make it nicer i'm just bad at JS

[2016-01-11 09:32] shawnps commented on #7
seems that you also need to hard-refresh to get the newest badge if the repo's grade changes

[2016-01-11 09:34] shawnps commented on #39
not sure best way to do this and not a huge priority

[2016-01-11 09:34] #39 closed

[2016-01-11 09:36] #21 closed

[2016-01-11 14:57] shawnps commented on #15
This sort of came up in an issue here https://github.com/avelino/awesome-go/issues/683

Would be nice to at least document the /checks endpoint so people don't need to find it themselves.

[2016-01-11 15:06] shawnps opened #55 "make the high scores page more configurable"
Right now a repo will only appear on `/high_scores` if it has > 100 files. That was just a number that I chose arbitrarily. There are probably plenty of great repos that have 1-99 files :) Could probably pass the min number in a query parameter or something.

[2016-01-11 19:38] shurcooL commented on #55
Why even have a minimum of .go files requirement? Is it because otherwise there are too many tiny repos with perfect scores, making results not interesting?

[2016-01-11 20:05] hermanschaaf commented on #55
@shurcooL Yes, that was the original reason. A better measure might be total line count - but I think we don't store that in the database right now. Maybe we should?

[2016-01-11 20:09] hermanschaaf commented on #7
Yes, the reason we didn't advertise it is that you need to hard-refresh for it to update, because it's getting cached. Right now, if memory serves, we are returning a redirect to the image hosted on shields.io, and that is what gets cached. If we want to fix this properly, I think we might need to work with shields.io, or add a no-cache header to the images we serve ourselves.

[2016-01-11 20:10] hermanschaaf commented on #7
Actually, is a hard-refresh always enough? I thought it was github's CDN caching the image, not the browser

[2016-01-11 22:58] shawnps commented on #7
@hermanschaaf ah sorry to be more specific, I meant I had to hard refresh the Go Report Card page that I'm displaying the badge on, not the README that someone might put it in

[2016-01-13 02:11] client9 opened #56 "misspell update / re-org"
Thanks to goreportcard a bunch of false positives have been fixed.

More importantly

* Long blocks of text with no whitespace are ignored.  This eliminates false positives in urls and big chunks of base64 text that sometimes are in source files.
* For Golang files only comments are checked for spelling (for now).  You can change this behavior to check everything with `-source=text`.  I may expand

[2016-01-13 17:04] shawnps opened #57 "make last refresh date more obvious when it's old"
some users may not realize that clicking Test Now pulls data from a cache unless they explicitly click Update now. maybe the last refresh text could be colored red if it's quite old or something

[2016-01-13 17:05] shawnps commented on #56
Thanks for the fixes @client9, I updated `misspell` on goreportcard.com

[2016-01-13 17:05] #56 closed

[2016-01-16 20:19] peter-edge opened #58 "Repository error when processing request"
github.com/peter-edge/flights-go

I cloned goreportcard locally and ran it, it works fine and shows 0 issues across 3 files.

Can we debug? Maybe also add a way to see what the error is when running?

[2016-01-17 02:07] shurcooL commented on #58
It'd be nice to be able to see the error details to debug this.

I noticed your Go package has a different canonical import path:

[code]

I wonder if that's something goreportcard doesn't support?

[2016-01-17 02:09] peter-edge commented on #58
Of note, it works with the rest of my (also custom import path) repos:
go.pedge.io

On Sunday, January 17, 2016, Dmitri Shuralyov <notifications@github.com>
wrote:

[2016-01-17 02:50] shawnps commented on #58
@peter-edge I just checked the server log and saw this:

[code]

Not sure what happened to be honest. I removed the repo that was stored on the server and tested it again on Go Report Card and it worked. Will leave this issue open and try to reproduce the error.

[2016-01-17 02:57] peter-edge commented on #58
This is a weird situation but I think I know: I had a repo briefly that I
deleted before that had the same name. So this is trying to pull a
different repo. Cheap hack is to ignore cache and delete repo on the server
if exitStatus == 128.

On Sunday, January 17, 2016, Shawn Smith <notifications@github.com> wrote:

[2016-01-17 03:02] shawnps commented on #58
@peter-edge ah, yeah that is probably it. I think your suggestion about deleting the repo on exitStatus == 128 makes sense.

[2016-01-17 03:34] shurcooL commented on #58
Maybe it was failing to fast-forward because it had a different repo checked out previously.

Deleting the old repo, or fetching and doing a hard reset to origin/master should fix that problem.

[2016-01-21 02:42] shawnps opened #59 "Make badges easier to copy"
Like how Travis does it. cc @hermanschaaf

[2016-02-01 14:26] bwmarrin opened #60 "Oops! There was an error processing your request: {}"
Not sure if this is the best place to report this, but I don't know of anywhere else :)

When trying to update the score for my repo bwmarrin/discordgo I am getting the below error

[code]

But this seems to work fine for other repo's I have so I'm unsure if somehow there's something I've done in my discordgo repo that's causing a problem :(    I would like to get it updated as I've fixed a bunch

[2016-02-01 14:39] shawnps commented on #60
Hi @bwmarrin

This has happened in the past and I think in this case it's related to the default branch being "develop" rather than "master".

I'll try to reproduce locally and fix it in the long term, but in the meantime I've reset the repo and I think it should work now. Let me know if it happens again or the output isn't what you expected

[2016-02-01 14:40] shawnps commented on #60
Spoke too soon, looks like clicking Update now breaks. I'm almost certain it has something to do with the branches because this is the error I see:

`2016/02/01 09:39:43 ERROR:  Could not clone repo: could not reset origin/master: exit status 128`

I'll try to investigate soon

[2016-02-01 15:00] bwmarrin commented on #60
Thanks.  Just FYI I've had the branches set like this for awhile and it's been working (I thought).

Maybe this is just another reason to just use master :)

[2016-02-01 15:06] bwmarrin commented on #6
A note about this idea :)  First, I hadn't known about gocover.io before this and it looks really great.  One thing I just noticed though is while my tests depend on environment variables being set.  I might be weird in this regard but it may effect others as well.  I don't see a way to create a account on gocover.io and tell it what environment variables to setup in the docker container.  Because

[2016-02-02 17:03] sharpner opened #61 "service down?"
Currently "Bad Request" is all we see :-)

[2016-02-02 23:52] shawnps commented on #61
Thanks, it should be back up. There was a panic and I'm investigating a fix now.

[2016-02-02 23:52] #61 closed

[2016-02-03 01:20] shawnps commented on #61
The panic should be fixed now. For the record it was this: https://github.com/alecthomas/gometalinter/issues/88

[2016-02-03 07:34] shawnps opened #62 "add TODO count?"
This doesn't need to have a score impact, and maybe it's controversial, but I personally like to see no TODOs so it might be interesting to count them.

[2016-02-03 07:39] sharpner commented on #61
Thx!

[2016-02-03 07:39] hermanschaaf commented on #62
I agree that this would be useful. We can show the TODO count (and list out the TODO locations like we do for errors / warnings), but yes, I would not have it affect the score. The TODOs could be for new features, discussions, etc, which have no impact on the current quality of the code.

[2016-02-04 13:06] shawnps opened #64 "https"

[2016-02-04 13:07] hermanschaaf commented on #64
https://letsencrypt.org/

[2016-02-04 13:46] hermanschaaf commented on #64
:+1:

[2016-02-04 13:48] hermanschaaf commented on #64
![screen shot 2016-02-04 at 21 48 13](https://cloud.githubusercontent.com/assets/1121616/12816727/056f223c-cb89-11e5-85ad-72e5305b2e6a.png)

[2016-02-04 13:48] shawnps commented on #64
wow. let's encrypt is cool.

[2016-02-04 14:03] shawnps commented on #64
i'm gonna call this done, amazingly. can reopen if any issues occur but we should have let's encrypt working with auto renewal now. that was fun

[2016-02-04 14:03] #64 closed

[2016-02-06 08:30] shawnps opened #66 "idea: hit github to see if repo is up to date or not, hide Update Now if it is"
@hermanschaaf's idea, we could hide the Update Now link for a repo if we know we're up to date with the upstream...that way for a large repo for example it wouldn't get updated and run through all the checks (and take a long time).

[2016-02-06 08:36] hermanschaaf commented on #66
We could even automatically update the repo if we see there are changes since the last time we updated it. I think the extra time some users will have to wait will be an acceptable trade-off for not ever having to manually click the "Update Now" link

[2016-02-06 08:38] shawnps commented on #66
@hermanschaaf ah, that's a good idea :+1:

[2016-02-06 08:39] shawnps opened #67 "link to github.com/gojp/goreportcard from the site"
so people can find the repo and contribute etc.

[2016-02-07 05:39] shawnps commented on #60
I think this is fixed now that we call `go get` in the backend rather than call out to `git` directly. We can reopen if it happens again.

[2016-02-07 05:39] #60 closed

[2016-02-07 05:41] #38 closed

[2016-02-07 05:44] shawnps commented on #42
Sorry for the extremely late response, and thanks for the informative ticket. I believe this is fixed now that we validate that the repo is "go get"-able. I'm not able to pass ../ or ../../ and so on anymore.

Thanks again, and please feel free to open more tickets if you discover any more vulnerabilities in the future.

[2016-02-07 05:44] #42 closed

[2016-02-07 05:46] hermanschaaf commented on #67
Fixed in the latest redesign, the link is in the top right corner labeled "GitHub"

[2016-02-07 05:46] #67 closed

[2016-02-07 05:47] shawnps commented on #51
This ought to work now with the new way we pull repos down (using `go get` rather than `git`):

https://goreportcard.com/report/golang.org/x/crypto/ssh

Someone can reopen if any issues come up.

[2016-02-07 05:47] #51 closed

[2016-02-07 05:49] shawnps commented on #58
Hoping this is fixed now with the new way of pulling repos down. Closing but feel free to reopen if anyone notices any weirdness.

[2016-02-07 05:49] #58 closed

[2016-02-07 05:51] hermanschaaf commented on #16
Think this will be better now in most cases. Feel free to re-open if it is a problem again.

[2016-02-07 05:51] #16 closed

[2016-02-07 06:07] hermanschaaf opened #69 "Hamburger menu doesn't work on mobile"
The hamburger menu shows in the new design, but it doesn't bring up a menu when you tap it.

[2016-02-07 10:44] hermanschaaf commented on #19
First pass of this is online now (it's just a static list for now, having popular searches would require some more work)

[2016-02-07 16:51] bwmarrin commented on #60
Ah, thanks.  So that means this will always test vs whatever `go get` gets, which is master, right?

[2016-02-08 01:41] shurcooL commented on #19
You could also consider a list like on https://gotools.org/. It just lists 10 most recently viewed packages. It's very inexpensive to compute.

[2016-02-08 07:12] winhowes opened #70 "PushState happens twice when report is generated"
It seems like `history.PushState` fires twice - I have to go back 2 pages to get to the search page

[2016-02-08 07:14] winhowes opened #71 "Request: Search from report card page"
Once I've searched one report - there's no easy way to search another report without going back. It'd be great if there was still a search bar at the top.

Bonus - the search bar autocompletes suggestions :D

[2016-02-08 07:16] hermanschaaf commented on #70
Thanks for reporting! I noticed this too, it is quite annoying. PRs welcome :bow:

[2016-02-08 07:20] shawnps commented on #71
+1

[2016-02-08 07:20] hermanschaaf commented on #71
+1 this would be a nice addition

Autocomplete is actually something Bolt allows us to do quite easily, as it supports prefix scans: https://github.com/boltdb/bolt#prefix-scans . This assumes we only autocomplete repos that have been searched before, but that seems reasonable for now.

[2016-02-08 07:21] shawnps commented on #71
@hermanschaaf I think this would be totally fine for now. We have data on over 5,000 repos including many of the most popular Golang repos, so there'd be a fair bit of stuff to autocomplete I think.

[2016-02-08 07:24] winhowes commented on #71
Yeah the auto-complete idea was just to make it easier doing duplicate searches (to for instance, see how their repo is improving).

The bigger thing though would being able to search again from the report without having to go back

[2016-02-08 07:30] hermanschaaf opened #73 "Entering an empty package name changes the invalid URL to /report"
... which, if you refresh the page, shows a 404.

[2016-02-09 03:01] shawnps opened #75 "hitting "Refresh now" causes result list to double in size"
reported by @wickett

https://goreportcard.com/report/github.com/gauntlt/gauntlt-go

hit Refresh now, and everything will show up twice in the list

[2016-02-09 03:48] hermanschaaf commented on #59
Completed in https://github.com/gojp/goreportcard/commit/f390c002e8e642f24455c48c13ebd9c7c7430323

[2016-02-09 03:48] #59 closed

[2016-02-09 03:49] hermanschaaf commented on #57
it would also be nice to have the date be relative, like "4 days ago", or "1 year ago", instead of the timestamp we have now

[2016-02-09 05:03] hermanschaaf commented on #75
Will be fixed once https://github.com/gojp/goreportcard/commit/d3856ba793f0c3ad582d344d969392b9b19f39b7 is deployed

[2016-02-09 05:03] hermanschaaf commented on #73
This will be fixed once https://github.com/gojp/goreportcard/commit/d3856ba793f0c3ad582d344d969392b9b19f39b7 is deployed, upon which I will close this ticket.

[2016-02-09 05:04] hermanschaaf commented on #70
This is fixed in https://github.com/gojp/goreportcard/commit/d3856ba793f0c3ad582d344d969392b9b19f39b7 - to be deployed live soon...

[2016-02-09 05:11] winhowes commented on #70
Nice

[2016-02-09 05:13] hermanschaaf commented on #70
Okay it's more or less fixed on live now. It's a little hacky - we should probably stop using push state entirely and just redirect the page, and then show a loading bar if necessary. Would make the application simpler and I don't think anyone will really even notice.

[2016-02-09 05:13] #70 closed

[2016-02-09 05:14] hermanschaaf commented on #75
Deployed and confirmed fixed, but you might need to do a hard-refresh to get the fix if you already loaded that page before.

[2016-02-09 05:14] #75 closed

[2016-02-09 05:15] hermanschaaf commented on #73
We won't have none of that no more.

[2016-02-09 05:15] #73 closed

[2016-02-09 06:57] winhowes opened #77 "Make description https"
Sorry just going off of #76 - this seems like an easy win - but to just make the repo description link https :)

[2016-02-09 06:58] hermanschaaf commented on #77
:+1:

[2016-02-09 06:58] #77 closed

[2016-02-09 07:05] shawnps commented on #77
Thanks @winhowes

[2016-02-09 07:54] shawnps opened #78 "HSTS"
from @winhowes:

[2016-02-09 07:54] winhowes commented on #78
+1

[2016-02-09 08:11] 256dpi opened #79 "Infinite Redirect Loop"
I just experienced several infinite redirect loops when going on the website.
Any others experience the same issue?

Btw: Thanks for the great tool!

[2016-02-09 08:30] hermanschaaf commented on #79
Oh, thanks for reporting! Can you tell me which URL you visited? I haven't experienced this, but will fix ASAP

[2016-02-09 08:40] 256dpi commented on #79
The following URL causes the problem:
https://goreportcard.com/report/github.com/gomqtt/client

But it also happens on the root.

Strange is that the server response with a "OK" rather than a "Moved Permanently" or similar...

[2016-02-09 08:41] 256dpi commented on #79
Update: It looks like the problem is limited to Safari.

[2016-02-09 08:45] 256dpi commented on #79
I guest it is related to that issue: http://stackoverflow.com/questions/28441025/ignore-safaris-initial-page-load-popstate

[2016-02-09 11:36] hermanschaaf commented on #79
Thanks! It's nice to work on a project where the users debug their own bug reports ;)

So I decided to just get rid of pushState, it was causing more trouble than I feel it's worth. I tried loading it on mobile safari at least, seems fine now. Please let me know if it's not the case!

PS Side-note: now I understand why I always get an infinite redirect loop when I visited gmail from mobile Safari.

[2016-02-09 11:36] #79 closed

[2016-02-09 11:37] hermanschaaf commented on #71
Added the search bar, but no autocomplete yet. Thanks for the suggestion! :+1:

[2016-02-09 11:37] #71 closed

[2016-02-09 11:38] 256dpi commented on #79
All works fine now! Thanks :+1:

[2016-02-09 13:07] hermanschaaf opened #80 "Handle `COPYING` files and `License` (different case and extensions)"

[2016-02-09 13:40] shawnps commented on #80
Wonder if we can use this https://github.com/ryanuber/go-license/

[2016-02-09 13:41] shawnps commented on #80
seems to include copying

https://github.com/ryanuber/go-license/blob/master/license.go#L33

[2016-02-09 13:41] shawnps commented on #80
for now we can probably just try to detect anything in that list, since it's really a yes/no at the moment

[2016-02-09 13:53] shawnps commented on #80
Might want to update the frontend to be more clear that it's not just "LICENSE" files we're checking for

[2016-02-09 14:29] adelevie commented on #15
Big :+1: to an API. For [18F's](https://18f.gsa.gov/) [micro-purchase project](https://micropurchase.18f.gov/), we use various automated tests to help ensure the quality of code submitted for tiny government contracts. If we ever required a vendor to create a golang project/repo, this would be a wonderful tool to use. We could set a minimum threshold grade as part of the acceptance criteria.

[2016-02-09 16:48] hermanschaaf opened #81 "Exclude go-bindata generated files"
From [user bbrazil on Reddit](https://www.reddit.com/r/golang/comments/44wduq/show_golang_go_report_card/czti2rt):

Maybe any files starting with "Code generated by go-bindata." should be excluded?

Sounds good to me.

[2016-02-09 22:06] kortschak opened #82 "misspell: incorrectly flags BSE spelling as incorrect"
e.g. optimisation is flagged as wrong

[2016-02-10 02:44] shawnps commented on #82
Hi, there is a separate repo for misspell here: github.com/client9/misspell

[2016-02-10 03:41] cavaliercoder opened #83 "Refresh ignores new commits"
I've clicked `Refresh` a few times but the report data doesn't reflect my committed code changes. The report timestamp is updated as expected.

The project in question is [github.com/cavaliercoder/grab](https://github.com/cavaliercoder/grab).

For example, [the report](https://goreportcard.com/report/github.com/cavaliercoder/grab) (Last refresh: 2016-02-10T03:37:50.61859419Z) shows that there is n

[2016-02-10 03:44] shawnps commented on #83
@cavaliercoder thanks for filing an issue.

I'm not sure why but it seems like `go get` wasn't updating your repo on our server. I pulled it manually but I'll leave this open so we can investigate why that might have happened.

[2016-02-10 03:53] shawnps commented on #81
I've used this tool before as well and I believe it always outputs a bindata.go, so let's just skip those files for now

[2016-02-10 11:22] JaTochNietDan commented on #83
I have the same issue for this one: github.com/teamwork/tnef

[2016-02-10 16:41] rikvdh commented on #83
Also the same for github.com/SimpleWebFS/server

[2016-02-11 11:22] dnaeon commented on #83
Same issue here as well.

* https://github.com/dnaeon/go-vcr

[2016-02-11 11:39] hermanschaaf commented on #83
Yes, strange. We are using `go get` with the `-u` flag now, but somehow it is still not updating. Not sure why yet...

[2016-02-11 12:02] hermanschaaf commented on #83
It should be fixed now, after just deploying https://github.com/gojp/goreportcard/commit/808460fd3dae8c5f8a12f2262fedae262c6c08d4

Please re-open this issue if you run into the same problem again. Thanks everyone for reporting!

[2016-02-11 12:02] #83 closed

[2016-02-11 12:02] #82 closed

[2016-02-15 10:40] thiderman opened #87 "After a force push, the repo cannot be pulled"
I was fixing some errors to get a perfect score. I fixed'em and pushed'em and almost all was well. Eagerly waiting for my report card to tell me how fantastic I am, I pressed the `Refresh` button. Alas, I just got 90% on `gofmt` score! Blast! Apparently I forgot to `git add` the changes to one of my last files. I fixed this and force pushed. Excited as a kid on Christmas, I reapplied pressure to t

[2016-02-15 11:22] hermanschaaf commented on #87
We use nothing more complicated than `go get -u -d ...`, which fails in this case with an error indicating that the local cached copy diverged from the upstream master.

So I just pushed some changes to fix this. In [9edfe29](https://github.com/gojp/goreportcard/commit/9edfe29b03438718cf59743ef42d482bcb9d1dd3), we try `go get` first. If it fails, we delete the cached directory, and try `go get` a

[2016-02-15 11:22] #87 closed

[2016-02-15 12:33] thiderman commented on #87
Very nice with a quick fix, and yay for the perfect score! :dancer:

Thanks again! :smile:

[2016-02-15 15:39] hermanschaaf commented on #81
So should we consider this fixed now?

[2016-02-15 15:44] shawnps commented on #81
@hermanschaaf yeah I think so, I'll close

[2016-02-15 15:44] #81 closed

[2016-02-16 12:27] DanielOaks opened #88 "Allow British English rather than American for Misspell"
I've got a package that uses British English rather than American, so misspell knocks off a few points because of it. It'd be awesome if there was a way to signify that British (or even Australian) English should be used rather than American.

Example package: https://goreportcard.com/report/github.com/DanielOaks/girc-go

I believe this issue on misspell might also be related, might need to wait f

[2016-02-16 21:35] client9 commented on #80
I can provide some code... the list in go-reportcard is kinda outdated.   I wrote some code for godep which which i can repackage for you.

[2016-02-16 21:38] client9 commented on #88
hi @DanielOaks I'll work on adding a .misspell.yaml like file you can add in.  That will allow you to configure some options. thx

nickg (the misspell guy)

[2016-02-16 21:43] DanielOaks commented on #88
Awesome, thanks @client9, much appreciated!

[2016-02-17 17:39] client9 commented on #88
Actually @DanielOaks  if you have noticed misspell "corrections" from UK to USA could you file a ticket or update one listing the ones that need removing.  I tried to get rid of some of them, but I'm sure there are others.

[2016-02-18 00:20] shawnps opened #89 "strip https:// from beginning if it's there rather than error out"
cc @ickymettle

[2016-02-21 23:55] mdlayher opened #90 "error: "Could not go get the repository""
Hello!

I've tried a few times to set up Go Report Card for my repo here: https://goreportcard.com/report/github.com/mdlayher/unifi_exporter.

However, every time I try, I receive the error listed in the title.  I suspect this may be because of a mismatch between the package name `unifiexporter` and the repository `unifi_exporter`, but would be curious if you all had any thoughts on the matter.

T

[2016-02-22 05:31] hermanschaaf commented on #90
Thanks for reporting!

I looked into this for a couple of minutes, and I'm not sure what's going on yet. In the logs I can see:

[code]

The relevant code in our codebase is here: https://github.com/gojp/goreportcard/blob/master/handlers/checks.go#L75-L120

What's weird is that it logs the correct repo name, `github.com/mdlayher/unifi_exporter`, does nothing to change it, calls `go get` with that

[2016-02-24 19:39] hermanschaaf commented on #7
I'm going to close this issue for now. The badges do seem to update if you force refresh once or twice. So... until someone complains, let's close this one and focus on other things.

[2016-02-24 19:39] #7 closed

[2016-02-25 07:36] shawnps opened #92 "filenames have unnecessary info in them"
for example:

https://goreportcard.com/report/github.com/gengo/grpc-gateway#go_vet

`/github.com/gengo/grpc-gateway/protoc-gen-swagger/genswagger/template_test.go`

I don't think we need `/github.com/gengo/grpc-gateway/` in there, but someone can feel free to comment if they believe it's useful

[2016-02-25 07:37] shawnps commented on #92
Actually at a minimum I think removing `github.com/orgName` makes sense, but maybe keep the root dir as that is how the file view will look on GitHub for example (not sure about other sites):

![screen shot 2016-02-25 at 4 37 27 pm](https://cloud.githubusercontent.com/assets/80111/13312981/11241d3e-dbde-11e5-98f0-a6f9c2727f7f.png)

[2016-02-25 13:36] shawnps commented on #80
@client9 thanks, or you can point me at where the code is you wrote for godep and I can take a stab also

[2016-02-25 15:41] client9 commented on #80
[code]

[2016-02-25 23:32] shawnps commented on #80
@client9 thanks, I added some of the examples from `LicenseFilePrefix`

[2016-02-26 00:35] #80 closed

[2016-02-26 00:36] #40 closed

[2016-02-26 12:49] h2non commented on #90
Same issue with: `github.com/resilient-http/resilient.go`

[2016-02-28 19:43] ncw commented on #69
I can confirm this on Android Nexus with latest Chrome.

[2016-03-08 22:14] peter-edge opened #94 "goreportcard no longer works with custom import paths"
https://go.pedge.io

All of them worked before. I just added a new one, https://go.pedge.io/base, and it does not work. I tried refreshing the others and they do not work anymore either. The error "Could not go get the repository" https://github.com/gojp/goreportcard/issues/90 is happening.

Did you change from doing `git clone` to `go get`? If so, this will not work for anything that enforces cus

[2016-03-08 22:16] peter-edge commented on #94
Ya https://github.com/gojp/goreportcard/commit/8b1d3a056647fd319a4e09697c19970c4e764591

At the very least, this should remain a backup option.

[2016-03-08 22:17] peter-edge commented on #94
Ah, I can do https://goreportcard.com/report/go.pedge.io/base, which is correct.

[2016-03-08 22:22] #94 closed

[2016-03-09 04:25] client9 commented on #88
Hi @DanielOaks misspell has a been fixed so it is neutral English.    Please let us know if re-running goreportcard fixes the immediate issue.

Later we'll make it possible to select if you want US, CA, GB-ise or GB-ize (or any other variation) so you have consistent English.. no matter where you are!

thanks for the report.

[2016-03-09 06:44] shawnps commented on #88
@DanielOaks I'm going to go ahead and close since it looks like your repo has no more misspell issues, thanks! Feel free to make another ticket if something else comes up.

[2016-03-09 06:44] #88 closed

[2016-03-09 07:01] shawnps opened #95 "golang.org/x/foo file links broken"
we show this text:

/golang.org/x/crypto/otr/smp.go

then when you click, it goes to

https://godoc.org/golang.org/x/crypto/blob/master/otr/smp.go

which says not found

[2016-03-09 07:02] shawnps commented on #95
also broken for gopkg.in, ex:

/gopkg.in/rana/ora.v3/doc.go

goes to

https://gopkg.in/rana/ora.v3/blob/master/doc.go

which is just the top-level page for the package. i think there is some way to create the github url from gopkg.in url but i forget

[2016-03-09 07:55] DanielOaks commented on #88
All fine now, thanks very much for the fast turnaround!

[2016-03-09 21:46] henvic commented on #90
+1

Same problem here when trying to get report for github.com/launchpad-project/api.go.

[2016-03-11 01:34] hako opened #96 "idea: Branch switching?"
It would be great if goreportcard can run on different git branches of a Go project. We could list all the branches in a repo, switch to that branch and run goreportcard on it.

[2016-03-15 15:52] hermanschaaf opened #98 "Improve scoring algorithm"
The current algorithm, iirc, works more or less like this:
- get the total number of files, `t`
- for each kind of error, count the number of files containing at least one error, `e1`, `e2`, ... `eN`
- define a weight for each error type (e.g. `gofmt` is weighted more heavily than `go vet`), `w1`, `w2` ... `wN`
- final score is `(w1 * e1 + w2 * e2 + ... + wN * eN) / t`

This means that even when a

[2016-03-15 15:58] shawnps commented on #98
@hermanschaaf doing it by line count sounds fine to me. I think you know something about doing that? :wink:

https://github.com/gengo/goloc

[2016-03-15 15:58] shawnps commented on #98
I do wonder how much slower it'll be though.

[2016-03-15 16:01] hermanschaaf commented on #98
oh yeah, I completely forgot I even wrote goloc, haha. :smirk:  We could use the `CountStatements` function from there. I don't think it's going to slow down the process too much, but it is quite a lot of work to change all this, also retro-actively.

[2016-03-16 09:21] shawnps opened #99 "when in dev mode, automatically re-build and restart app when files change"
it would be nice to have some sort of dev mode flag that watches for file changes and re-builds+restarts the app when you've changed something

[2016-03-16 09:38] shawnps opened #100 "move to vendor dir"
remove Godeps dir and use vendor

[2016-03-16 10:05] shawnps commented on #100
done

[2016-03-16 10:05] #100 closed

[2016-03-16 10:06] shawnps commented on #57
this is done now

[2016-03-16 10:28] shawnps opened #101 "style the 404 page"
right now it's just a white page with "404 page not found"

[2016-03-17 05:51] shawnps opened #102 "give gofmt more weight"
In my opinion, gofmt being 100% is pretty important. It's already 35% weight but I think it's worth more than that. Maybe 40%. Not sure what other people think. I'd take 5% away from cyclo and give it to gofmt. I could be wrong but I think one of the things cyclo checks is the amount of if statements in a function, which in Go is a bit weird since we tend to have lots of `if err != nil`

[2016-03-17 05:52] shawnps commented on #102
Oh, or take some weight away from golint for it. Golint is more suggestions and not hard rules.

[2016-03-17 06:14] shawnps opened #103 "show more informative progress"
It would be cool if we could show progress as the tasks complete... like say "Done!" next to the check when it's finished or something. For large repos it sometimes looks like the check is just stuck in an infinite loop.

[2016-03-17 06:20] shawnps opened #104 "add ineffassign check"
this check has been effective in my experience, and gometalinter supports it:

https://github.com/alecthomas/gometalinter

ineffassign - Detect when assignments to existing variables are not used.

[2016-03-17 08:33] hermanschaaf commented on #101
let's change it to `404 page not found. [Submit a Pull Request] to improve this page` and see what we get :)

[2016-03-17 08:53] winhowes opened #105 "Grade Distribution Graph"
It would be really cool to have a graph showing the distribution of grades and where a certain project fits in on the curve. This might be helpful to adjust grading in the future to get closer to a bell curve or avoid grade inflation

[2016-03-19 04:31] #104 closed

[2016-03-20 06:49] daneroo opened #107 "Badge url has missing host"
From the report site, [like this for example](https://goreportcard.com/report/github.com/gojp/goreportcard);
When you click on the badge to reveal the badge image url, and/or markdown for the badge,

The resulting image url, and report url have an empty host portion

Visually:
[![Go Report Card](https:///badge/github.com/gojp/goreportcard)](https:///report/github.com/gojp/goreportcard)
 should be:

[2016-03-21 12:57] Depado commented on #107
Same problem here.

[2016-03-21 12:59] hermanschaaf commented on #107
I'm guessing it was brought on by the changes in https://github.com/gojp/goreportcard/pull/97, and I missed it. Will fix soon, thanks for reporting!

[2016-03-21 17:57] shawnps commented on #107
Thanks @trinchan for the fix

[2016-03-21 17:57] #107 closed

[2016-03-21 21:20] daneroo commented on #107
Nice work, thanks for the quick fix.

[2016-03-22 20:47] Oppodelldog opened #109 "support for local filesystem projects"
Hi,
This is a really nice project combining all those good go code quality tools and I would like to integrate this project into our Jenkins to produce those fine reports on every build.
Therefore I would like to ask if you are open for pull-requests that would enable scanning of local files as well.

I would not want to integrate that functionality into the existing  webapplication but maybe into

[2016-03-23 03:15] shawnps commented on #109
@Oppodelldog I believe someone worked on something like this, I haven't checked the code:

https://github.com/gojp/goreportcard/issues/28

Do you want the scores in your Jenkins, or just the linter results? If you just want the linter results, I'd recommend using Go Meta Linter: https://github.com/alecthomas/gometalinter

[2016-03-24 10:32] Oppodelldog commented on #109
Thanks, I will follow #28.

[2016-03-24 10:32] #109 closed

[2016-03-24 10:37] Oppodelldog commented on #28
This would help me to integrate the scorecard for my private project in jenkins.
I would need to run the checks via command line on local filesystem project and then generate the current html and badge for that project.
I'm curious to see if this can be integrated smoothly.

[2016-03-24 13:42] xor-gate opened #110 "Linting tool for unused identifiers (go-unused)"
Maybe you know or didn't know, this would be a nice addition probably:

https://github.com/dominikh/go-unused

[2016-03-28 11:47] #102 closed

[2016-03-31 10:40] arthurwhite opened #113 "go_vet reports unknown identifier in example code"
For example, the [github.com/gowww/compress](https://goreportcard.com/report/github.com/gowww/compress) package.

The package name `compress` is suffixed with `_test` inside the [`example_test.go`](https://github.com/gowww/compress/blob/master/example_test.go#L1) file.
That's maybe why this `go vet` doesn't recognize the identifier reference.

But [it should](https://blog.golang.org/examples).
And

[2016-03-31 11:10] shawnps commented on #113
@arthurwhite that is strange behavior indeed.

i can't reproduce it on my local, but i see it failing on the go report card server. i opened a ticket with gometalinter, will see what the author says:

https://github.com/alecthomas/gometalinter/issues/108

[2016-03-31 11:41] shawnps commented on #113
Looks like it's not `gometalinter` but rather something strange going on with `vet` on the server...I'll try to investigate further soon

[2016-04-05 20:57] moorereason commented on #24
Not sure if rsc has abandoned grind or not.  I've been using [this fork](https://github.com/jackspirou/grind) for a while.

[2016-04-06 08:34] shawnps opened #115 "can we be smarter when go get fails?"
I've seen this happen a few times: when trying to `go get` something, one of the dependencies (which is already on the server) is messed up somehow:

[code]

and the whole thing fails. What I do in this case is I go to the folder of that dependency in the GOPATH and just delete it. I can't do that forever, so we need to figure out why this is even happening in the first place and/or automate fixin

[2016-04-06 08:39] shawnps commented on #24
@moorereason thanks for the heads up, I have seen that fork but I think it was broken for me last time I tried it. I'll try again soon!

[2016-04-15 03:07] shafreeck commented on #90
Same problem with : github.com/shafreeck/fperf

[2016-04-15 07:47] alkchr commented on #90
Possibly, a way to reproduce the issue:

1. Create a new repo with some Go project, ask `goreportcard` to check it.
2. Remove the repo and create again with new git history (maybe, history rewrite will do the trick, too), ask `goreportcard` to check it again to see the error below.

[code]

Repos ending with `.go` are not related to the issue. And `github.com/shafreeck/fperf` is not go gettable (G

[2016-04-15 07:56] hermanschaaf commented on #90
@alkchr Actually, goreportcard already does exactly as you suggested, [see the code here](https://github.com/gojp/goreportcard/blob/f0eb50fcb2ab23574b7d4ee6e634485d495aa9af/handlers/checks.go#L112-L122).

The remaining issue is something we did not foresee at the time, which is that `go get` not only fails if the repo itself has a rewritten history, but also if any one of the repo's *dependencies*

[2016-04-20 00:45] prashantv opened #116 "Ignore generated code"
Something similar to:
https://github.com/github/linguist/blob/master/lib/linguist/generated.rb

I'm seeing files that aren't ignored that are generated in my repository:
https://github.com/uber/tchannel-go/blob/master/trace/thrift/gen-go/tcollector/ttypes.go
https://github.com/uber/tchannel-go/blob/master/examples/thrift/gen-go/test/tchan-test.go

Comments like "Autogenerated by" or "@generated" o

[2016-04-20 16:53] hermanschaaf commented on #115
I think you are referring to the same issue as https://github.com/gojp/goreportcard/issues/90 ?

[2016-04-21 09:57] shawnps commented on #115
@hermanschaaf ah yeah probably. closing

[2016-04-21 09:57] #115 closed

[2016-04-21 14:46] miniwark commented on #7
As the badges use shields.io, if possible, if would be nice to allow the use of shield.io ?style parameters (and maybe other too like ?label and ?maxAge). I miss the possibility to flat square this only badge on my project.

[2016-04-23 11:04] peterbourgon commented on #116
Here are some more example files, Thrift and protobufs

- https://github.com/go-kit/kit/tree/master/examples/addsvc/thrift/gen-go/add
- https://github.com/go-kit/kit/blob/master/examples/addsvc/pb/add.pb.go

[2016-04-23 13:02] hermanschaaf commented on #7
@miniwark We just added a feature that allows you to style the badge (thanks @Tomohiro!)

You can do it simply by adding `?style=[style name]` to the existing URL in your readme. The options for style names are the same as on shields.io, i.e.:

 - `?style=plastic`
 - `?style=flat`
 - `?style=flat-square`
 - `?style=social`

[2016-04-23 13:05] alkchr commented on #116
Any reason why generated files should be exempt from the requirement to follow Go style guide?

[2016-04-23 13:09] peterbourgon commented on #116
In an ideal world, code generators will produce stylistically valid Go code. But in our practical world, I think you will never convince the e.g. Thrift compiler folks to care about Go naming conventions or idioms. They abide their own conventions, which typically need to remain coherent across multiple target languages.

[2016-04-23 15:05] alkchr commented on #116
Isn't the function of goreportcard to encourage Go's conventions (not someone else's ones)? If in real world you're not able to follow the accepted style guide, that's OK, you just get a lower score. And that's fair.
In practical world there is a single complete implementation of yaml. It is transpiled from C and half of its code looks as follows:
[code]
Just because of that should goreportcard co

[2016-04-23 15:19] peterbourgon commented on #116
IMO, the YAML project should get a low score, but projects which incidentally use the YAML project should not be penalized for it.

Similarly, if I want to provide Thrift bindings in my project, I have to use the official Thrift IDL compiler to produce Go code. That generated code is incidental to my project, I didn't write it, I'm not invested in it, I don't particularly care about it. I don't th

[2016-04-24 17:03] miniwark commented on #7
@hermanschaaf Thanks! I confirm than this is working.

[2016-04-26 17:46] mweagle commented on #90
Same problem with: [github.com/mweagle/Sparta](github.com/mweagle/Sparta)

Even as a workaround, I'd be willing to manually delete the cached repo(s) from Go via a UI option. Appreciate the great tool - thanks.

[2016-04-28 08:15] AkihiroSuda commented on #90
Same problem with: https://github.com/osrg/namazu
https://goreportcard.com/report/github.com/osrg/namazu

Note that we recently renamed `osrg/earthquake` to `osrg/namazu`.
goreportcard had been working before renaming that.

[2016-04-28 10:17] dnaeon opened #118 "gofmt report seems incorrect"
The report from gofmt seems incorrect.

Repo in question:

 - https://github.com/dnaeon/gru

Generated report from GoReportCard:

 - https://goreportcard.com/report/github.com/dnaeon/gru#gofmt

My files are already gofmt'ed, so nothing reported on my system.

[code]

Also these lines here are not correct.

[code]

Since my file contains `package` already.

[2016-04-28 10:42] shawnps commented on #118
@dnaeon Thanks for the report. I believe this was a side effect of disk space running out on the Go Report Card server. I think the `go get` wasn't able to complete because of lack of space, and the repo on disk was left in a weird state. I refreshed and it looks like it works now.

[2016-04-28 10:44] shawnps commented on #90
@AkihiroSuda please try again, seems to be working for me.

[2016-04-28 10:45] shawnps commented on #90
@mweagle please try again, I believe the issue was that we ran out of disk on the server and couldn't `go get` anything. I'll see about putting some sort of monitor on it or cron to clean up the repos we store on disk.

[2016-04-28 10:46] shawnps commented on #90
@mdlayher yours appears to be working as well, I was able to update just a second ago

[2016-04-28 10:49] shawnps commented on #90
@h2non @henvic I suspect the issue with your repos is that `go get` does in fact exit status 1 when trying to get them:

[code]

The only thing I can think of is that because your repo names have `.go` in them, `go get` is trying to do something special. I don't know why. I'm not sure if ignoring exit status 1 is the right answer, will have to think about it.

[2016-04-28 10:51] shawnps commented on #90
@shafreeck yours appears to be working as well...I'm going to assume the issue was disk space and at some point a couple weeks ago I probably cleared up the space on the server but did not think to correlate that problem to this ticket.

[2016-04-28 10:58] dnaeon commented on #118
@shawnps thanks for looking into this one!

[2016-04-28 10:58] #118 closed

[2016-04-28 11:10] AkihiroSuda commented on #90
Now it works, thanks!

[2016-04-28 14:18] mweagle commented on #90
@shawnps - Works great, thanks for looking into it.

[2016-04-28 14:22] hermanschaaf commented on #90
After deploying #119, this should be fixed now, so I'm closing this ticket. If you still get a "could not go get repo" error, it's probably best to open a new ticket, since the reasons are not always the same. Hopefully this fixes it for the majority of cases though!

[2016-04-28 14:22] #90 closed

[2016-04-29 06:26] #19 closed

[2016-04-29 06:35] hermanschaaf commented on #45
This is still an issue. It could be as simple as lower-casing all go get queries?

![screenshot from 2016-04-29 14 34 21](https://cloud.githubusercontent.com/assets/1121616/14909559/a1320b64-0e17-11e6-9c9c-bb54c5451f1e.png)

[2016-04-29 06:57] shawnps commented on #45
@hermanschaaf that could work probably, and we'd also want to remove the duplicates from bolt

[2016-04-29 08:37] shawnps commented on #45
We're doing a lowercase string comparison when inserting into high scores now, and if an entry already exists we remove it rather than inserting twice.

[2016-04-29 08:37] #45 closed

[2016-04-29 08:47] shawnps commented on #116
I see where both sides are coming from. But I think as we already skip some of these files, and many people have asked for this, we'll end up skipping code generated by Thrift for the time being. I would love to see issues opened with whatever tools are generating the code to make it more idiomatic. In the future we can remove the logic that skips generated code if we decide to.

[2016-04-29 08:48] shawnps commented on #116
For reference on what we skip already:

https://github.com/gojp/goreportcard/blob/16b0c80f9fcf22add65937fdd3a6f86676fcefee/check/utils.go#L14

[2016-04-29 14:56] shawnps commented on #113
Weird, `go vet` passes on command line on my local, but fails with the same errors when running Go Report Card locally.

[2016-04-29 15:03] #89 closed

[2016-05-06 15:47] shawnps commented on #78
thanks @mikemackintosh for helping me on this one

[2016-05-06 15:47] #78 closed

[2016-05-10 10:57] zwerch opened #120 "Private Repositories"
I am missing the possibility to check private GitHub repositories on [goreportcard.com](https://goreportcard.com). Am I not seeing something or does it just not work (yet)?

[2016-05-10 12:55] shawnps commented on #120
@zwerch unfortunately this isn't available right now. @hermanschaaf and I have discussed it before, but we've put it off for a few reasons:

* It's probably going to take us a while to build
* Security implications (we `go get` repos right now, which stores them on disk. We'd want to be extra careful about private repos)
* We don't know how many people want it. You count of course, and maybe 2 or

[2016-05-11 01:32] wangkirin commented on #120
I have similar requirements ,but not for the private GitHub repositories. We want to run goreportcard in our local network , and check repos from private git server (like gitlab or phabricator) , the question is , if we want to go get the repo , we need enter the username and password

[2016-05-11 06:14] shawnps commented on #120
@wangkirin ah, that is an interesting use case, thanks for bringing that up. I wonder if we could sort that out with setting a username/pw as environment variables or something like that?

[2016-05-11 06:41] wangkirin commented on #120
@shawnps
Yes, that's what I mean.: )

[2016-05-11 07:32] bep opened #121 "Check your Golint version"
See

https://goreportcard.com/report/github.com/bep/gr

And

https://play.golang.org/p/D-vWPKGnV2

Your GoLint complains about:
[code]

But, as in the example, the code won't compile without the type in the declaration, and my current GoLint setup does not complain about this.

[2016-05-11 07:38] shawnps commented on #121
@bep could you provide an example repo please?

[2016-05-11 07:39] shawnps commented on #121
@bep nvm I see `bep/gr`in recent reports.

[2016-05-11 07:42] bep commented on #121
Sorry ... yes, I messed up with my copy-pastes. bep/gr it is.

[2016-05-11 07:45] shawnps commented on #121
@bep I updated golint on the server as well as on my local and they both return the result that you pasted above.

You're right however that the code doesn't compile without `gr.Modifier`. Not quite sure what the best thing is to do here...maybe it's a bug in golint?

[2016-05-11 07:47] hermanschaaf commented on #121
Could it be a gometalinter thing? I'm also wondering what version of Go @bep is running?

[2016-05-11 07:49] shawnps commented on #121
@hermanschaaf I ran `golint` directly, not with `gometalinter`.

I'm going to try increasing this next:

[code]

I checked the golint source and it looks like the error might only get printed for 0.8 confidence

[2016-05-11 07:49] hermanschaaf commented on #121
@shawnps Ah okay yeah, that sounds good.

[2016-05-11 07:51] shawnps commented on #121
Increasing the `min_confidence` makes it not report that anymore...now to see if we can add that to the  `gometalinter` call

[2016-05-11 07:56] shawnps commented on #121
@bep try again, we increased the `min_confidence` for `golint` and it shouldn't report that error anymore.

[2016-05-11 08:00] bep commented on #121
100% score... Thanks.

For the record, none of my GoLints complains with the default setting (= min_confidence = 0.8).

[2016-05-11 08:00] #121 closed

[2016-05-11 08:01] shawnps commented on #121
@bep thanks yeah, not sure what the difference is without knowing more about your system and if your golint is up to date, etc.

[2016-05-11 08:05] shawnps opened #122 "add ability to share results"
via twitter or something. cc @hermanschaaf

[2016-05-11 12:41] alkchr commented on #120
Concerning the username/password stuff, doesn't GitLab or whatever other platform deployed locally have something similar to Github's deploy keys? ![Adding new deploy keys](https://cloud.githubusercontent.com/assets/6612636/15181174/812fd4d8-17a7-11e6-9982-4f395dc827cb.png) If you configure them on your server `go get` will work flawlessly, right? Or am I missing something? Clear text password doe

[2016-05-12 02:31] longbai opened #123 "could you add some check style report?"
like java checkstyle, or https://github.com/qiniu/checkstyle

[2016-05-12 04:07] hermanschaaf commented on #123
My concerns: There seems to be some overlap between this tool and gofmt and golint ("camel_name", "formated"), and most of the other criteria are rather subjective ("file_line", "params_num", "results_num").

Furthermore, the tool requires a json config file to specify ignored files in a directory. We make an attempt to ignore generated files, and since we cannot expect projects to have this json

[2016-05-12 07:38] hansrodtang opened #124 "check/license: Allow LICENSE.{name}.{ext}"
For repositories that have dual-licensed code adding the license name (and optionally a file extension) to the license file is a somewhat common pattern. It would be nice if you could detect licenses that match this pattern.

Examples: `LICENSE.BSD.md` and `license.gpl`

Same goes for COPYING and possibly other prefixes. The rule that would cover most cases is probably to allow all files which hav

[2016-05-12 07:57] hermanschaaf commented on #124
Thanks for reporting! I suppose there is no harm in adding this as an option, but I would argue that the LICENSE.{name}.md is not as common a pattern as you might suppose:

119 repos use [LICENSE.BSD.md](https://github.com/search?utf8=%E2%9C%93&q=filename%3ALICENSE.BSD.md&type=Code&ref=searchresults)

903 use [LICENSE.MIT.md](https://github.com/search?utf8=%E2%9C%93&q=filename%3ALICENSE.MIT.md&typ

[2016-05-12 08:52] hansrodtang commented on #124
The suffix was as I mentioned just optional and I included all cases when counting popularity of the pattern.

Adding `LICENSE.GPL` and `LICENSE.MIT` etc. sounds like a fine temporary fix but I think it is more correct to allow any suffix.
Adding more and more special cases as they are discovered could end up being tedious for something that could be fixed pretty much once and for all with adding

[2016-05-12 09:01] hermanschaaf commented on #124
Oh yes, sorry that my message was unclear; I agree we should allow any suffix or extension, and you should be able to do that by adding to the existing list of allowed terms in the format specified by the `find` command. I imagine something like `"license.*"` and `license.*.*` (+copyright, copying, etc) should cover it. Would just need to be tested as well, but I don't think there's much that can

[2016-05-12 09:06] shawnps commented on #124
The only thing I can think of going wrong is if we use wildcards and the repo has a file called `license.go` but not a `LICENSE`, it will be counted as having a license, right?

[2016-05-12 09:08] hermanschaaf commented on #124
@shawnps Yeah, that's the only thing I can think of. Like I said, I'm okay with that edge case if it allows for much simpler code.

[2016-05-12 09:11] hansrodtang commented on #124
Since this project is meant for Go projects a `license*.go` (also covers `license*_test.go`) is probably the only one we have to be careful about, and it should not be hard to ignore all files with a `.go` extension.

Is it okay to experiment with alternate implementations using the likes of `path/filepath.Walk`? Or is there a performance (or other) reason you are using `find`?

[2016-05-12 09:14] hermanschaaf commented on #124
Yeah, feel free to experiment with alternate implementations, I don't think we have a particularly good reason to keep using `find`, unless @shawnps can think of one?

[2016-05-12 09:17] shawnps commented on #124
Oh no that would be great, feel free @hansrodtang

[2016-05-12 11:42] #124 closed

[2016-05-12 11:43] shawnps commented on #124
@hansrodtang https://goreportcard.com/report/github.com/hansrodtang/randomcolor#license looks like it worked, thanks

[2016-05-13 07:42] Nalum commented on #120
Running my own instance of goreportcard to check private repos is something I'm interested in.

[2016-05-13 11:54] dnaeon opened #127 "The goreportcard site appears to be down"
Check https://goreportcard.com/report/github.com/gojp/goreportcard (or any other repo for that matter)

Results in:

502 Bad Gateway

nginx/1.4.6 (Ubuntu)

[2016-05-13 12:11] hermanschaaf commented on #127
Thanks for reporting! We'll have to do a postmortem on this, but the site is back up for now, albeit without the previous boltdb database with recent repos and high scores. I believe @shawnps has access to a relatively recent backup of that we can roll back to.

[2016-05-13 12:19] hermanschaaf commented on #127
Okay, I rolled back to a database from a few weeks ago, that's probably fine for now. This really was quite a serious event, we'll need to figure out how to prevent it from happening again.

[2016-05-13 12:21] hermanschaaf commented on #127
Since the site is back up now, I'll close this issue and open a new one to discuss the bug that caused it.

[2016-05-13 12:21] #127 closed

[2016-05-13 12:23] hermanschaaf opened #128 "Goreportcard source directory can get deleted in certain edge case"
It seems that in some edge case, when we are deleting cached repos because of git history changes, it can happen that the goreportcard directory itself gets deleted, along with the bolt database. This is why the site went down as reported in https://github.com/gojp/goreportcard/issues/127

I thought we covered all the edge cases when we wrote the cache invalidation logic, but it seems like we not.

[2016-05-15 16:12] artemnikitin opened #129 "Commit 43b4abfd9a7a4ac3b7e6d6d88ab32062fb52a1ac break skipping content of vendor folder in result"
In last commit 43b4abfd9a7a4ac3b7e6d6d88ab32062fb52a1ac issue was introduced. Currently, rating take in mind content of `vendor` folder, while previously don't. I tried to revert specified commit locally and it fixes problem for me.
Unfortunately at this moment, I wasn't been able to understand there is a problem in sources and made a pull request with fix

[2016-05-15 16:22] shawnps commented on #129
thanks @artemnikitin, I'll revert that commit and @hermanschaaf and I will investigate more

[2016-05-15 16:30] shawnps commented on #129
@artemnikitin we found the root of the problem and we'll fix it soon. Thanks for reporting

[2016-05-15 18:12] artemnikitin commented on #129
Ok, I see that issue was already fixed. I will close issue. Thanks for quick response )

[2016-05-15 18:12] #129 closed

[2016-05-17 04:52] hectorj commented on #113
What go versions are you guys using?

I have a similar problem in one of my projects: it works with Go 1.5.X, but fails with Go 1.6.X

[2016-05-17 10:28] arthurwhite commented on #113
Personally, I have the `1.6.2 darwin/amd64` installed with Homebrew.

What is even weirder is that Go Report Card returns a 100% success for another package ([github.com/gowww/log](https://goreportcard.com/report/github.com/gowww/log)) which have exactly the same "template".

[2016-05-18 20:00] arthurwhite commented on #113
I just pushed a new commit and Go Report Card fails for this package too. 💣

 |  example_test.go
--- | ---
Previously | [`e31412b`](https://github.com/gowww/log/blob/e31412b00154959aaefdc02264d1581803dee23f/example_test.go)
Now | [`a2e97ea`](https://github.com/gowww/log/blob/a2e97eaf65b509da6b6fdddf1203a3aaa4b324de/example_test.go)

[2016-05-20 02:57] hermanschaaf commented on #25
I still like this idea a lot and would merge it if anyone writes this feature. We couldn't do too many github API calls though, so a start may be to just autosuggest names of repos that already have reports generated.

[2016-05-30 07:17] shawnps opened #130 "feature request: "show me all repos with less than 100% gofmt score""
pretty self explanatory, not sure how easy this is with the way we use boltdb now, but i would like to be able to see all of the repos on go report card that have under a given score for a given check, for example < 100% for gofmt, so I or someone else can easily go in and make a PR to fix it

[2016-05-30 07:20] shawnps opened #131 "make "github.com/foo/bar" part of "Report for github.com/foo/bar" title a link on report page"
![screen shot 2016-05-30 at 4 19 20 pm](https://cloud.githubusercontent.com/assets/80111/15642426/4accf31e-2682-11e6-8d35-5306e0e1fd4c.png)

I'd like to be able to click that "github.com/golang/crypto" text and go directly to the page. Let me know if you prefer without a link @hermanschaaf as it's not a huge deal

[2016-05-30 08:04] hermanschaaf commented on #131
Yes we should do this! But we need to make sure it only has this behavior for Github, bitbucket (?), etc

[2016-05-30 12:43] #131 closed

[2016-05-30 13:03] #122 closed

[2016-05-30 13:24] #101 closed

[2016-06-01 12:35] MetalMatze opened #132 "Idea: Run errcheck on project"
Hey, I really like [errcheck](https://github.com/kisielk/errcheck) and think it would be awesome to integrate it into goreportcard.
Just want to get some feedback for this.

Thanks

[2016-06-01 12:42] hermanschaaf commented on #132
Sounds good to me! We will surely want to ignore some error checks by default, like the error returned by `fmt.Print`. I've never used errcheck myself, so do you have any thoughts on sensible functions / packages to ignore?

Other than that, I don't see any major issues with adding this. Thanks for the suggestion, and anyone feel free to open a pull request :smile:

[2016-06-09 08:45] t3rm1n4l opened #133 "Files are not refreshed even after new updates"
goreportcard reports invalid files from old changes:

https://goreportcard.com/report/github.com/t3rm1n4l/nitro talks about memdb.go which does not exist in the latest repo anymore. I have tried refreshing couple of times and it did not help.

[2016-06-12 01:34] hydroflame opened #134 "Make a cmd/reportcard binary to be able to get our score localy"

[2016-06-12 05:09] shawnps opened #135 "call misspell via gometalinter"
https://github.com/alecthomas/gometalinter/issues/118

[2016-06-12 05:16] #135 closed

[2016-06-13 17:44] t3rm1n4l commented on #133
Could you guys please remove the repo cache for github.com/t3rm1n4l/nitro ?

[2016-06-13 17:51] hermanschaaf commented on #133
@t3rm1n4l sorry I haven't had a chance to look into this sooner. It seems like the `diskstore` branch is checked out on our server - was that the default branch at some point? Just trying to figure out the root cause here.

In any case, I checked out the master branch and refreshed it - looks good now. Let me know if you run into any more issues.

[2016-06-13 17:51] #133 closed

[2016-06-13 17:55] t3rm1n4l commented on #133
Thanks a lot

[2016-06-13 17:59] hermanschaaf commented on #134
I like this idea, and would use it myself!

If you want it to happen soon, feel free to open a PR :smile:  Otherwise I'll probably implement it some time in the coming month when I have some free time.

[2016-06-14 14:27] subchen opened #136 "link error for sub-dir package on github.com repo"
I get a report for `github.com/subchen/goutils/log` package.
https://goreportcard.com/report/github.com/subchen/goutils/log

But all source file links on this report page is wrong.

[code]

[2016-06-14 23:22] shawnps commented on #136
Probably related to this change I made recently https://github.com/gojp/goreportcard/commit/122f58ead56bb81b6559b4ed0bfb9bda7ca3d03a

[2016-06-15 09:55] shawnps commented on #136
Looks unrelated to 122f58e actually

[2016-06-16 12:00] hermanschaaf commented on #132
Closed by https://github.com/gojp/goreportcard/pull/137 (but not deployed yet)

[2016-06-16 12:00] #132 closed

[2016-06-18 04:56] purpleidea opened #138 ""Could not go get the repository.""
I'm unable to use this with https://github.com/purpleidea/mgmt/

I get the following error message:

```There was an error processing your request: Could not go get the repository.```

Any help understanding why I get the error would be appreciated. Thanks!

[2016-06-18 05:38] hermanschaaf commented on #138
Hi @purpleidea,

I fixed this case manually, you can see the report at https://goreportcard.com/report/github.com/purpleidea/mgmt now. Thanks for reporting!

The issue seems to have stemmed from two dependencies, `github.com/coreos/etcd/client` and `github.com/coreos/etcd/pkg/capnslog`. We already had a version of `github.com/coreos/etcd` pulled, but this version somehow did not include those dire

[2016-06-18 05:42] purpleidea commented on #138
@hermanschaaf Glad to know it wasn't something I did wrong. Now to fix up the problems on my "report card" ;)

Thanks!

[2016-06-20 14:14] cbusbey opened #139 "go_vet 0%, no problems detected"
![screen shot 2016-06-20 at 9 12 28 am](https://cloud.githubusercontent.com/assets/572796/16197294/24f709f4-36c7-11e6-86df-ebb3036b808e.png)

Getting a 0% score with go_vet with "No problems detected. Good job!", bringing our grade down to a "C."

https://goreportcard.com/report/github.com/quickfixgo/quickfix

[2016-06-20 14:48] hermanschaaf commented on #139
With 682 files it's a pretty large repo, so our tiny cloud server probably timed out while processing the request. We don't handle it very gracefully right now though. Any suggestions on how we might speed it up are also welcome!

[2016-06-20 14:53] cbusbey commented on #139
Perhaps https://github.com/gojp/goreportcard/issues/116 would help.  The vast majority of that code is uninteresting, generated code.

[2016-06-30 16:55] dlclark opened #140 "Check if repository has tagged version"
It'd be nice to include a check to confirm that the repository has at least one tagged version (a git tag in the format vX.X.X).  Libraries that have tagged versions are a big plus for dependency management and long-term usability so it'd be nice for their score to reflect that.

[2016-06-30 18:26] dlclark commented on #140
Agreed with @tylerb the SemVer 2.0 is the appropriate spec to follow.

I'm not sure if having tags that aren't version numbers in the repository should be dinged because there are legitimate usages for tags beyond version numbers.  It feels like you'd really want to detect things that people might think are version numbers, but don't conform to the SemVer spec (e.g. "v1.0").  The logic could get p

[2016-07-03 11:44] xor-xor commented on #138
I have the same issue with https://github.com/allegro/ralph-cli - when I feed it to goreportcard launched locally, everything is fine (i.e. it produces the report), but when I feed it to https://goreportcard.com, I get the same error as OP.

[2016-07-12 18:39] berezovskyi commented on #138
I also get the same issue with github.com/berezovskyi/ldpserver

[2016-07-16 12:15] mozillazg commented on #138
Same here:
* https://github.com/mozillazg/go-slugify
* https://goreportcard.com/report/github.com/mozillazg/go-slugify

[2016-07-17 13:07] monder commented on #138
It seems https://github.com/monder/rkt-sidekick has the same.

[2016-07-18 07:07] hermanschaaf commented on #138
@monder @xor-xor It works now; was a known caching issue first, and then our server ran out of disk space, sorry for not looking into it sooner. [rkt-sidekick](https://goreportcard.com/report/github.com/monder/rkt-sidekick) [ralph-cli](https://goreportcard.com/report/github.com/allegro/ralph-cli)

@berezovskyi In the `ldpserver` case the error is something different. This is what I see in the logs

[2016-07-18 11:58] xor-xor commented on #138
@hermanschaaf - thanks!

[2016-07-22 04:08] mannkind opened #142 "HTTP 400 - cannot `go get` repository"
I'm getting a HTTP 400 error via goreportcard when checking my [tweetdelete](http://github.com/mannkind/tweetdelete) repository.
e.g. <https://goreportcard.com/checks?repo=github.com%2Fmannkind%2Ftweetdelete>

I'm pretty new to Go, so perhaps I setup the repository incorrectly. However, I do have two other repositories (<http://github.com/mannkind/mysb> and <http://github.com/mannkind/dashbtn>) se

[2016-07-23 13:26] hermanschaaf commented on #142
@mannkind Thanks for the message, but it seems [fine to me now]( https://goreportcard.com/report/github.com/mannkind/tweetdelete). Could have been a temporary issue, or more likely an invalid import in your project preventing it from being `go get`-able. I'm thinking about ways we can make this more forgiving, or at least make the error message more informative.

For future readers: my advice is t

[2016-07-23 13:29] mannkind commented on #142
Interesting. Glad it's working now!

[2016-07-23 13:29] #142 closed

[2016-07-23 13:31] hermanschaaf commented on #142
Me too :smile_cat:

[2016-07-25 02:00] jfeltesse-mdsol commented on #134
related to https://github.com/gojp/goreportcard/issues/28 ?

[2016-07-25 02:07] hermanschaaf commented on #134
@jfeltesse-mdsol Yes, very related to #28. In order to properly implement the feature in this ticket, we first have to refactor the code a bit, which should close #28. I started working on this a while back but never got round to finishing it. And I won't risk any further promises when I'll pick it up again :)

[2016-07-25 16:53] creack opened #143 "Check license in parent directories"
When checking the report of a subpackage, the license check fails while the project is licensed in at the directory's root.

I think it would be interesting to check the parent directories for the License file.

[2016-07-26 00:29] akutz opened #144 "Repo clone fails if gopkg.in a direct or transitive dep"
I had a conversation with Gustavo Niemeyer, the caretaker of Gopkg.in, around the beginning of June (note the thread below starts with the oldest e-mail at the top):

--

--

--

It appears `go get` adds a trailing slash and someone just made a config change on the gopkg servers to reject trailing slashes for a URl, and due to the way gopkg.in handles incoming HTTP requests, thanks to the underlyi

[2016-07-26 01:39] purpleidea commented on #138
@hermanschaaf I tried to "refresh" the repository, since I've fixed some issues and wanted to "update my score". Unfortunately I still get the same `go get` error.

[2016-07-28 14:14] medzin commented on #138
I also have problem with refreshing repo stats. When I click "Refresh now" button I get following error: "There was an error processing your request: Could not go get the repository."

My repository: https://github.com/medzin/zb

[2016-07-29 01:16] ccding opened #145 "badge in project page doesn't update"
see https://github.com/ccding/go-stun
and https://goreportcard.com/report/github.com/ccding/go-stun

The go report letters are different in the two pages. Cannot figure it out.

[2016-07-29 01:27] hermanschaaf commented on #145
Looks the same to me (both are A+) - you are probably seeing a cached image. Both your browser and Github aggressively caches images, and it can take up to 48 hours to update on its own.

Try doing a [hard refresh](https://www.getfilecloud.com/blog/2015/03/tech-tip-how-to-do-hard-refresh-in-browsers/) and let me know if that doesn't fix it!

![screenshot from 2016-07-29 09 25 29](https://cloud.git

[2016-07-29 01:27] #145 closed

[2016-07-29 01:32] hermanschaaf commented on #144
This is interesting, thanks! This issue has been bugging us for a while now, and you could be right that this is in fact the root cause. I'll have to look into it soon.

Right now I'm actually considering circumventing "go get" and going back to directly pulling repos with the appropriate SCM (git, hg, etc). This would also have the advantage that we won't be pulling in all the dependencies every

[2016-07-29 02:22] akutz commented on #144
An easy way to test it is to add the git URL redirects as mentioned via the email thread above. Add those to the node that is doing the go get and you should be good to go. FWIW, it's a Git issue on the server side, NOT a Go issue, so I'm not sure bypassing go get will help if the URLs are still constructed with the trailing slash. Hence the need to alter it at the Git level.

[2016-07-29 10:29] Archosian commented on #120
Also using private repositories. In order to use `go get` on them we've used `git config --global url."git@private.local:".insteadOf "https://private.local/"`, which lets go get use the deploy keys we set up. This is on a gitlab repository. Could there be some project level configuration that is overwriting the global?
Obviously interested in private repos as well.

[2016-07-29 13:54] dnaeon opened #146 "There was an error processing your request: Could not go get the repository."
Hi,

Seems I'm not able to refresh the stats for my project.

-  https://goreportcard.com/report/github.com/dnaeon/gru

Could you please look into this one?

Thanks!

[2016-07-29 19:33] fd0 opened #147 "errcheck without any errors is reported as '0%'"
Hi,

for my project [restic](https://github.com/restic/restic) the errcheck check does not return anything, but it is reported as `0%`: https://goreportcard.com/report/github.com/restic/restic#errcheck

![2016-07-29-213038_1135x190_scrot](https://cloud.githubusercontent.com/assets/123276/17261033/27d54880-55d4-11e6-81dd-c899b0b97545.png)

I think that's wrong, the percentage should be the other wa

[2016-07-29 22:57] hermanschaaf commented on #147
Strange; this normally happens when a check fails to run. Whatever the reason was for the failure before though, I refreshed it just now and there were no errors:

![screenshot from 2016-07-30 06 57 08](https://cloud.githubusercontent.com/assets/1121616/17265610/dcb9b3d2-5622-11e6-8868-d47981fd4c38.png)

[2016-07-29 23:02] hermanschaaf commented on #146
Hi! I can't `go get` the repo locally; it fails with the error:

[code]

`Could not go get the repository` can happen for a number of reasons (there is a known bug), but this error is likely the issue in this particular case.

[2016-07-30 10:48] dnaeon commented on #146
Hi,

Thanks for checking! Indeed that must be it, since I'm using golang tip. On a side note what is the golang version that gorepprtcard uses?

Thanks,
Marin

[2016-07-30 10:48] #146 closed

[2016-07-31 03:52] hermanschaaf commented on #146
@dnaeon Our server is currently running go version go1.6.2 linux/amd64

[2016-08-03 06:57] hermanschaaf commented on #147
The errcheck test is reasonably new and is giving some issues on certain repos (can be slow, or not report missing error checks), so I'm disabling it for now. We can re-enable it once the issues are sorted out.

To better address this in the future, from now on if a test fails because of a timeout or other error, the error will be reported in the UI:

![gocyclo error](https://cloud.githubuserconte

[2016-08-03 06:57] #147 closed

[2016-08-03 07:01] fd0 commented on #147
Thanks for taking a look! Great project by the way :smiley:

[2016-08-04 04:46] purpleidea commented on #138
As of 5 minutes ago, this seems to be fixed. Closing...

[2016-08-04 04:50] pavel-paulau commented on #138
I am still seeing this issue:

https://goreportcard.com/report/github.com/pavel-paulau/rollercoaster

[2016-08-04 04:52] hermanschaaf commented on #138
Thanks @pavel-paulau. Yes, I could go get your repo locally, so this issue is not yet resolved yet. I'll re-open it for now.

[2016-08-04 09:11] Dieterbe commented on #138
same issue with https://goreportcard.com/report/github.com/raintank/metrictank thanks!

[2016-08-04 16:04] hermanschaaf commented on #138
I finally got around to fixing this issue (in [this commit](https://github.com/gojp/goreportcard/commit/a2b2dbdbc784aeebab550a75d252925405558522)). @pavel-paulau @Dieterbe both your repos work now. Let me know if you encounter any other issues!

As an added bonus, since we no longer use `go get`, all checks will actually happen significantly faster.

[2016-08-04 16:04] #138 closed

[2016-08-04 16:24] hermanschaaf commented on #144
Hi @akutz, we recently made some changes to pull repos directly via VCS, which fixed the `Could not go get repository` error many repos were getting. Other than purposefully adding a slash to the end of the repo name when entering it in the input box on goreportcard.com (which does fail, and we can probably handle that), is there a case you can point out where goreportcard still fails, in particul

[2016-08-04 16:36] Dieterbe commented on #138
thank you very much!

[2016-08-04 16:37] akutz commented on #144
And voila, it works!

- [REX-Ray](https://goreportcard.com/report/github.com/emccode/rexray)
- [libStorage](https://goreportcard.com/report/github.com/emccode/libstorage)

Thank you @hermanschaaf!

[2016-08-04 16:37] #144 closed

[2016-08-05 06:05] #92 closed

[2016-08-09 11:04] zwb-ict opened #148 "There was an error processing your request: Could not download the repository."
Run
[code]
get

[2016-08-09 11:08] shawnps commented on #148
@zwb-ict something was weird with the repo on disk. I deleted it and refreshed and it seems to work now. Let us know if it happens again

[2016-08-09 11:08] #148 closed

[2016-08-11 21:45] tamird opened #149 "avoid reporting `golint` failures on files generated by stringer"
See https://goreportcard.com/report/github.com/cockroachdb/cockroach#golint.

[2016-08-12 07:22] alkchr commented on #149
Looks like a copy of #116.

[2016-08-14 02:35] DanielOaks opened #150 "Error after repo has had a force-push"
Hi GRC team,

I'm having an issue with one of my repositories where I can no longer run GoReportCard over it. I get this error:

What I did beforehand was that I pushed a change to my repo, ran GRC on it. GRC pointed out a bug, which is awesome. I fixed the bug, modified the original commit with `git commit --amend`, and force-pushed the new commit to the repo.

I think it's having some troubles p

[2016-08-14 03:12] shawnps commented on #150
Hi @DanielOaks

Thanks for the detailed report and glad you like GRC!

Unfortunately I'm not able to take a look at fixing this for a few hours as I'm away from my PC for a while. Your theory about force push breaking it sounds like a good start, we've seen some weirdness when people force pushed before.

We'll try to think of a better way to handle that, sorry!

I or Herman will update this ticke

[2016-08-14 03:27] DanielOaks commented on #150
Hi Shawn,

All good! Thanks for the quick response, it's much appreciated. Don't stress, I'm not in any particular hurry – enjoy the weekend :)

[2016-08-14 05:58] shawnps commented on #150
@DanielOaks It should work now. I deleted the repo we had on disk and re-generated the report. I'm going to leave this ticket open though because we should figure out a better way to handle this.

For posterity:

[code]

[code]

[2016-08-14 12:27] #150 closed

[2016-08-14 13:44] #149 closed

[2016-08-14 13:51] hermanschaaf commented on #116
We now check for certain comments, like `"// generated"` in the first line of the file:

https://github.com/gojp/goreportcard/blob/25f1fe9648d5aa4c06118317a42ecb523581a0b0/check/utils.go#L15-L17

Unfortunately gometalinter doesn't allow us to either skip individual files or run on individual files, so we currently run the checks on all files, and then filter out the unwanted results. This is a sit

[2016-08-14 13:51] #116 closed

[2016-08-14 14:01] hermanschaaf commented on #139
#116 has been closed now, but we can't apply that fix to this quickfix repo issue, because there are no comments indicating that the code was autogenerated in the quickfix repo. For our purposes, this falls in the same category as Kubernetes, in that it is just a really large repository, which we can't handle at the moment.

As far as I can see, we have two ways forward right now:

 - allow checks

[2016-08-14 14:01] #123 closed

[2016-08-14 15:25] DanielOaks commented on #150
Nice. Thank you very much for the quick turnaround, it's much appreciated!

[2016-08-15 09:27] shiyanhui opened #151 "[There was an error processing your request: Could not download the repository]"
When I click the **refresh button**, it shows the **There was an error processing your request: Could not download the repository.** message.

url is https://goreportcard.com/report/github.com/shiyanhui/dht

[2016-08-15 09:59] hermanschaaf commented on #151
Hi @shiyanhui

Thanks for the report. I fixed the error manually on the server for your case. And I will look into solving it properly later. As long as you don't rebase the git repo again, it should be okay.

Logs to fix this later:

[code]

[2016-08-15 10:00] hermanschaaf commented on #151
It seems like the attempt to delete the broken repo must fail for some reason.

[2016-08-15 10:05] shiyanhui commented on #151
OK, thanks!

[2016-08-15 11:03] #151 closed

[2016-08-15 11:07] hermanschaaf commented on #151
Okay, hopefully [this commit](https://github.com/gojp/goreportcard/commit/09453248dc6ffd925f6185a6217f66d6382c3fc2) solves the problem [once and for all](https://www.youtube.com/watch?v=gONcDfFrPis) :)

The mistake was to use `Remove` on a non-empty directory, when it should have been `RemoveAll`. We also weren't checking the error there. It would be nice to get the `errcheck` test working, then w

[2016-08-16 15:20] cbusbey commented on #139
@hermanschaaf to be clear, are you saying that if we add the ".generated.go" suffix to our generated files this would solve the problem?   Or that the repo has so many files, ignored or not by goreportcard, that we would still not get past this issue? We can certainly add this suffix if it would help.

[2016-08-16 15:29] hermanschaaf commented on #139
@cbusbey Yes, either a ".generated.go" suffix in the name or a comment on the first line that starts with `// generated ...` would allow those files to not be taken into account by Go Report Card.

Doing so will not immediately solve the issue, because many of the checks are still performed on all files, with the final results down to filtered non-generated files. But this will open up a path for

[2016-08-16 16:11] cbusbey commented on #139
Fantastic.  As of a couple of minutes ago, our master branch has added the 'generated.go' suffix to all generated files.  This significantly reduces the number of files that should be reported.

[2016-08-16 16:14] hermanschaaf commented on #139
Great, thanks! I will experiment with using this to speed up the checks.

[2016-08-16 16:40] hermanschaaf commented on #139
@cbusbey Congrats on your A+! https://goreportcard.com/report/github.com/cbusbey/quickfix

![screenshot from 2016-08-17 00 38 47](https://cloud.githubusercontent.com/assets/1121616/17707442/04b91f50-6413-11e6-9e20-f9c47211997a.png)

I added some code to rename skipped files before the checks are run, then rename them back once they are done. Since the checks usually look at individual files and no

[2016-08-16 16:40] #139 closed

[2016-08-17 11:18] shawnps commented on #130
this is probably a one off script and I'm not sure how useful this would be on the site. closing

[2016-08-17 11:18] #130 closed

[2016-08-17 14:48] hermanschaaf commented on #145
We recently improved the caching behavior of our badges and started hosting them ourselves (not on shields.io). From now on this should not be an issue, as long as Github honors the no-cache header.

[2016-08-21 23:38] xh3b4sd commented on #134
Any update on this? I would like to integrate the command for my local build process.

[2016-08-24 15:53] rkulla opened #152 "Check for vendor folder"
Check if there is a `vendor` folder. Just the folder and not necessarily what tool they used to create it. Perhaps also check for anything that follows the [vendor spec](https://github.com/kardianos/vendor-spec), such as the presence of a vendor.json file.

For libraries, check that there is _not_ a vendor folder present. This would likely be based on first checking to see that aren't any instance

[2016-08-24 16:07] dlsniper commented on #152
Hi, one problem, how do you distinguish between libs which have an example by having a package main in a folder?

[2016-08-24 16:08] dlsniper commented on #152
For example: https://github.com/aws/aws-sdk-go/blob/master/example/service/s3/listObjects/listObjects.go

[2016-08-24 16:10] rkulla commented on #152
@dlsniper: Hmm. Since goreportcard tends to use existing go tools for scanning things, do you know of any that solve that problem already (or any workarounds)?

[2016-08-24 16:28] hermanschaaf commented on #152
@dlsniper Good point! I like this idea overall, we just need to consider the edge cases.

Also, not all main packages will necessarily require a vendor folder (e.g. if there are no external dependencies.) So we would need to check the imports in the package, and see if any of them are external and not part of the Go standard library. If so, require a vendor folder containing those dependencies. Th

[2016-08-24 18:19] rkulla commented on #152
One concern I have, that contradicts my opening this ticket, is that some people (including me) like to commit a vendor/ folder with their library because Golang *currently* doesn't support dependency versions; so most of the package managers will flatten it out and/or use whatever versions the application's vendor folder uses, or they'll pull from master based on import paths your library use.

I

[2016-08-24 18:26] dlsniper commented on #152
I would say that any discussion at this point is counter-productive as there are no specs for how vendoring will look like in 4 months from now. We should revisit this then imho.

[2016-08-24 18:27] rkulla commented on #152
@dlsniper Fair enough

[2016-08-27 09:17] savinov opened #153 ""no such fil or directory" errors during go lint checking"
A lot of "no such file or directory" errors are printed to console during linter check analysis (I've printed log messages before and after lint check, so I think the problem in linter checker).

For example, during goreportcard checking itself repository (https://github.com/gojp/goreportcard) a few hundreds of messages like these is prited:

[code]

It seems that go linter checker fails, because

[2016-08-28 03:43] shawnps commented on #153
@savinov I'm not seeing these errors, are you running GRC locally?

[2016-08-28 19:23] savinov commented on #153
Yes, I am running latest github version of GRC locally.
Ubuntu Linux 12.04.5, Go version is 1.6.3, gometalinter is latest from the github (but, as I said before, gometalinter works without errors).

[2016-08-30 06:34] cloudaice commented on #153
@savinov Are you solve this problem ?

[2016-08-30 09:20] savinov commented on #153
No, I just have found this problem and opened the issue.

[2016-09-02 00:52] nii236 opened #154 "Allow Go reports from the terminal"
I'd like to be able to run ``` $ goreportcard``` and then get a nicely formatted reported for the git repo I am currently in.

I don't think this is currently possible but am unsure.

[2016-09-02 07:04] alkchr commented on #154
A duplicate of #134. Related: #28.

[2016-09-02 07:17] nii236 commented on #154
Cool, I'll track those issues instead.

[2016-09-02 07:17] #154 closed

[2016-09-24 22:51] bradleyfalzon opened #156 "Exclude testdata directories"
The `golint` check is currently reporting issues for `testdata` directories. See https://goreportcard.com/report/github.com/bradleyfalzon/apicompat

However, `testdata` is often contains purposefully invalid code, and should generally be ignored, at least for lint checks. `golint` already ignores this directory (https://github.com/golang/lint/blob/8f348af5e29faa4262efdc14302797f23774e477/golint/im

[2016-09-25 08:51] bradleyfalzon commented on #156
I can't seem to reproduce this in dev, using a fresh GOPATH (via docker):

[code]

After checking http://192.168.1.12:8000/report/github.com/bradleyfalzon/apicompat, golint scores 100% - this is expected behaviour, but production shows 71% and shows the warnings in testdata directories. See

I've tried a few different things, and from what I can see, golint should've been ignoring this since suppo

[2016-09-25 09:49] bradleyfalzon commented on #156
OK, seems production maybe running an older version of gometalinter before https://github.com/alecthomas/gometalinter/commit/dcc27da2ed95dee794fa7d979d8e3b9b842bbb41

The above change fixes the issue for gometalinter (which is why I couldn't reproduce on dev), but this would still occur for other checks not using gometalinter, so I'll still send through a PR.

[2016-09-25 12:22] shawnps commented on #156
Sorry. Using GitHub on mobile on a train :)

Production could very well be out of date re: gometalinter, I'll update it as soon as I can. Thanks!

[2016-09-27 10:54] shawnps commented on #156
@bradleyfalzon just updated gometalinter and all linters on production

[2016-09-27 11:39] bradleyfalzon commented on #156
thanks @shawnps I can see the lints are now 100% as expected.

[2016-09-27 11:39] #156 closed

[2016-09-29 15:59] aanm opened #158 "Ignore vendor package for golint"
Is it possible to ignore the vendor package for the golint report?
https://goreportcard.com/report/github.com/gojp/goreportcard#golint

[2016-09-30 12:12] lpabon commented on #158
Please.  I'm getting an F in mine due to scanning of vendor directory.

https://goreportcard.com/report/github.com/heketi/heketi

[2016-09-30 14:50] shawnps commented on #158
I think this is a regression caused by updating golint or gometalinter on the server, because `vendor` is skipped on my local dev setup. I'm investigating but might not be able to fix for a couple of days as I'm on vacation now.

[2016-09-30 14:53] shawnps commented on #158
Yeah, calling gometalinter directly on the server shows tons of files in the `vendor` folder even though I included `--skip=vendor`

[2016-09-30 14:55] shawnps commented on #158
Okay there's a `--vendor` flag, I'll add that and it should skip vendor.

[2016-09-30 14:58] shawnps commented on #158
@aanm @lpabon please try again

[2016-09-30 15:07] aanm commented on #158
@shawnps Fixed, thanks!

[2016-09-30 15:07] #158 closed

[2016-09-30 19:16] lpabon commented on #158
@shawnps Awesome! Thanks.

[2016-10-03 08:23] shawnps opened #159 "Consider removing gocyclo"
It might just be me but I don't find gocyclo very useful and the actions required to get a better gocyclo score seem much more involved than gofmt, vet, lint, etc. Maybe remove it, make it less strict, give it less weight

[2016-10-09 22:48] xh3b4sd opened #160 "toplist on website seems to be screwed"
I was surfing around and found this. Does not look like it is intended. Further there is no re-index button or something like this. Interestingly, when clicking on the weird and duplicated "highscore" links, these repos do not exist at all.

<img width="1237" alt="screen shot 2016-10-10 at 00 47 15" src="https://cloud.githubusercontent.com/assets/552769/19224282/2b643424-8e83-11e6-9a65-2948dd65c35

[2016-10-10 01:38] shawnps commented on #160
This was @karolgorecki messing with the list by creating multiple repos with lots of Go files in them. You'll notice each of those repos have different names. I might just remove the high scores list altogether considering now everyone will know how to break it.

[2016-10-10 21:31] karolgorecki commented on #160
Hi, sorry that I've broke you high score page.
You score is calculated only by number of files + the score for each file. You can easily create many files with empty packages like `pacakge foo1`, `package foo2`. They will get 100%.

Also you can only rename the existing repo and submit it again so it's easy to duplicate. After removing repo from  my gh account I cannot refresh it/remove it because

[2016-10-10 21:41] shawnps commented on #160
@karolgorecki no need to apologize, but it would be really useful to us if you opened an issue here after doing something like this. We work on this for free and for the community so we appreciate any help we can get.

We might add a GitHub star minimum to the high score repos which I guess would make it harder to game? But I also might just remove the page because now that this is out there it's

[2016-10-10 22:38] xh3b4sd commented on #160
I think having a feature that makes sure the list of indexed repositories is refreshed from time to time makes totally sense. Repositories can disappear. Requiring a certain amount of stars to be listed makes also sense somehow. I like having this list. People check that and make sure they appear there. Removing it would regress the product a little bit.

[2016-10-20 13:32] kare commented on #143
I've got exactly the same issue!

[2016-10-20 17:58] endophage commented on #160
Like the idea of requiring some number of stars to get listed on high scores. Dropped in just to propose (or I guess second) the idea to periodically ping the repos and remove those that don't exist anymore.

[2016-10-27 23:38] apetitbois opened #163 "Add unit test coverage"
Would be cool if we could see the go test -cover value for the project as a good measure of quality.

[2016-10-31 11:18] stevenh opened #164 "Badge says error yet report pages says a+"
This is the first time we've used goreportcard, so we may have done something wrong, but the badge is reporting error where as the report says A+

Our repo is: https://github.com/multiplay/go-slack

In our README.md we have
[code]
Did we do something wrong or is this a bug / caching issue?

[2016-10-31 11:23] hermanschaaf commented on #164
Hi @stevenh, sorry to hear you are experiencing issues, but I think you are right that this is likely a caching issue, since it looks fine to me:

![screenshot from 2016-10-31 19 22 34](https://cloud.githubusercontent.com/assets/1121616/19852641/6d07ee8e-9f9f-11e6-860f-5d581e2e86f0.png)

[2016-10-31 11:50] stevenh commented on #164
Thanks @hermanschaaf closing :)

[2016-10-31 11:50] #164 closed

[2016-11-01 16:28] xh3b4sd commented on #160
Is there any update on this issue? I see that the toplist is still screwed. Is there a way to get rid of the fake listings?

[2016-11-01 22:11] Carpetsmoker commented on #163
See: https://github.com/gojp/goreportcard/issues/6

[2016-11-01 22:13] Carpetsmoker opened #165 "Score not updated after repo is updated"
https://goreportcard.com/report/arp242.net/sconfig seems "stuck" and doesn't update after changes to the repository.

https://goreportcard.com/report/github.com/Carpetsmoker/sconfig (which is the same repo) does work though...

I'll just use the second link for the badge pr0n, but looks like a bug somewhere?

[2016-11-02 03:02] shawnps commented on #165
@Carpetsmoker could you try again? This was probably because the server ran out of storage. I need to write a cron that will clean stuff up.

[2016-11-02 15:19] Carpetsmoker commented on #165
Seems to work, thanks :+1:

[2016-11-02 15:19] #165 closed

[2016-11-13 04:49] wjdp opened #167 "Licence file .txt, issue with extension"
Hiya, I note #80 exists however this doesn't seem to be resolved.

![image](https://cloud.githubusercontent.com/assets/1690934/20243747/885a6614-a95c-11e6-8e06-97cf3218439b.png)

See https://goreportcard.com/report/github.com/wjdp/htmltest, licence exists here: https://github.com/wjdp/htmltest/blob/master/LICENCE.txt.

[2016-11-13 04:51] wjdp commented on #167
Just noted https://github.com/gojp/goreportcard/blob/master/check/license.go#L26. Seems the spelling is in there, perhaps it's the extension?

[2016-11-14 04:18] shawnps commented on #167
@wjdp it looks okay to me after refreshing - maybe the cache was out of date:

![screen shot 2016-11-14 at 1 17 37 pm](https://cloud.githubusercontent.com/assets/80111/20253195/c668d8d0-aa6c-11e6-91d1-2e47d2b7a38e.png)

all good?

[2016-11-14 05:15] wjdp commented on #167
I tried removing the .txt extension which is a workaround for this issue. Ended up leaving it like that, however the issue still remains. The tool doesn't recognise a licence file with a .txt extension.

[2016-11-14 05:16] shawnps commented on #167
@wjdp okay, let me try to reproduce locally. Thanks

[2016-11-14 05:22] shawnps commented on #167
@wjdp I threw a `LICENCE.txt` in here and wrote a test, seems to work:

https://github.com/gojp/goreportcard/commit/927aa0bf5fb6060f4247e516e1e36be35c5ccd3b

still investigating

[2016-11-14 05:26] shawnps commented on #167
@wjdp sorry, I'm not able to reproduce this. I made a test repo here with a `LICENCE.txt` and it still passed the check:

http://github.com/shawnps/grctest

I also don't see anything suspicious in the logs related to your repo.

If you want, you can try renaming the file back to `LICENCE` and we can try again to see what happens. Otherwise I'm going to close this and we can reopen if someone else

[2016-11-14 05:27] shawnps commented on #167
https://goreportcard.com/report/github.com/shawnps/grctest

[2016-11-14 05:40] wjdp commented on #167
Peculiar, thanks for the follow up though! Happy for this to be closed.

[2016-11-14 05:40] #167 closed

[2016-11-14 05:41] shawnps commented on #167
@wjdp no worries, please reopen if you see this again

[2016-11-19 19:53] marians opened #168 "Check branch other than master"
I don't see an option to check an arbitrary branch of a git repository. However that would be quite helpful as a quality insurance step _before_ merging a PR into master.

[2016-12-11 19:14] erikh commented on #160
Maybe make the files considered as a "file" a minimum length?

[2016-12-14 08:38] onuryilmaz commented on #168
I think this feature could help a lot:
- Listen for Github hooks on PR events
- Run checks and save result on a temporary URL (since it would be clicked from merge checks)
- Write response to PR check (for merge checks)

[2016-12-31 20:26] voutasaurus opened #169 "misspell not up to date?"
I got this output from goreportcard.com:
[code]

smears is a word (https://www.google.com/?q=define:+smears).

I tested locally with the latest misspell and there's no misspelling reported.
[code]

[2016-12-31 20:48] shawnps commented on #169
@voutasaurus thanks. Please check again, should be fixed now.

[2016-12-31 20:50] voutasaurus commented on #169
Can confirm, thanks! :)

[2016-12-31 20:50] #169 closed

[2017-01-05 00:44] ahmetalpbalkan opened #170 "False go vet error"
I have a small project https://github.com/ahmetalpbalkan/dlog

It gives the following vet error on goreportcard: https://goreportcard.com/report/github.com/ahmetalpbalkan/dlog

     Line 14: error: ExampleNewReader refers to unknown identifier: NewReader (vet)

However I can't reproduce this error locally with `go vet ./...` or on Travis CI, with go1.7.

Any ideas?

[2017-01-05 09:57] penhauer-xiao opened #171 "To integrate Go's unit test report"
I recommended to integrate Go's unit test report (GoConvey: https://github.com/smartystreets/goconvey), the Go's unit test report is very important and useful.

[2017-01-06 09:49] penhauer-xiao opened #172 "Integrated goreportcard to Jenkins(It's CI tool)"
How to integrated goreportcard to Jenkins(It's CI tool)

[2017-01-06 22:07] ahmetalpbalkan opened #173 "Does it ever report a score that's not A+?"
I have seen go vet warnings, go lint warnings, misspells on many repositories

https://goreportcard.com/report/github.com/ahmetalpbalkan/dlog
https://goreportcard.com/report/github.com/rakyll/statik
https://goreportcard.com/report/github.com/pkg/errors
https://goreportcard.com/report/github.com/fatih/color

and yet all of them are A+. That sounds a bit odd to me.

[2017-01-06 22:19] hermanschaaf commented on #173
Hi @ahmetalpbalkan,

As many users will report, it is indeed possible to get lower than an A+ :) The relevant score calculation code [is here](https://github.com/gojp/goreportcard/blob/83a52eaab452779130af82d5b6afb064836da639/handlers/checks.go#L151-L170). Different checks have different weights. For example, misspell has 0 weight, go lint only has 0.10 weight, and go vet has .25 weight. These wei

[2017-01-06 22:22] ahmetalpbalkan commented on #173
Understood. It's good if it is in your roadmap, we can close this one. However my 2 cents: I think a library’s score should not be a matter of how good/bad others are.

[2017-01-06 22:22] #173 closed

[2017-01-06 22:26] shurcooL commented on #173
For reference, here are 2 of my repositories containing bad Go code, getting scores of C and D respectively:

- https://goreportcard.com/report/github.com/shurcooL/Conception-go
- https://goreportcard.com/report/github.com/shurcooL/play

(For some reason the score of C doesn't show up in the top left corner though, but I can see it on the badge.)

[2017-01-06 22:27] shawnps opened #174 "issue and PR triage"
Adding yet another issue to track cleaning up old issues 😉

I'll try to make some time to go through and triage the issues and PRs. Currently have 36 issues which is quite a lot.

[2017-01-06 22:29] shawnps commented on #171
@penhauer-xiao this looks like a library that builds on top of `go test`? I'm not sure how we'd use this, it seems like it would depend on whether our users are running GoConvey or not. In any case I don't think we have plans to add unit test coverage at the moment, since many of our users have quite large repos and it would just be impossible with our current architecture to run tests efficiently

[2017-01-06 22:29] #171 closed

[2017-01-06 22:30] shawnps commented on #172
@penhauer-xiao I'm familiar with Jenkins, we would probably need a command line tool or something like that. I started a tool here:

https://github.com/gojp/goreportcard/pull/155

I'll try to finish it up at some point and get back to you. Thanks

[2017-01-06 22:33] shawnps commented on #173
Thanks @shurcooL. That is strange about the C not showing up. I wonder if it's related to the cache entry being very old (~2 years apparently)

[2017-01-06 22:34] shawnps commented on #159
I'm going to close as I seem to be the only one complaining about it (and I guess the person who gave thumbs up). Of course we can re-evaluate if more issues come in.

[2017-01-06 22:34] #159 closed

[2017-01-06 22:35] shawnps commented on #163
Closing this as a duplicate, thanks for reporting

[2017-01-06 22:35] #163 closed

[2017-01-06 22:35] shawnps commented on #143
@creack @kare could one of you provide an example just for reference? Just so I have something to base tests on

[2017-01-06 22:37] shawnps commented on #128
@hermanschaaf we haven't seen this for a long time - closing this and we can reopen if we notice it happening again.

[2017-01-06 22:37] #128 closed

[2017-01-06 22:37] shawnps commented on #168
Going to close this as a duplicate of https://github.com/gojp/goreportcard/issues/96 but I'll carry your comments over. Thanks

[2017-01-06 22:37] #168 closed

[2017-01-06 22:38] shawnps commented on #96
@marians said:

@onuryilmaz said:

[2017-01-06 22:39] shawnps commented on #98
recent relevant issue:

https://github.com/gojp/goreportcard/issues/173

[2017-01-06 22:41] shawnps commented on #28
Thanks for this, I'm going to work on finishing up a command line tool here:

https://github.com/gojp/goreportcard/pull/155

which @Oppodelldog you might find useful for your build.

[2017-01-06 22:41] #28 closed

[2017-01-06 22:55] ahmetalpbalkan commented on #173
@shurcooL hehe you got some terrible repos. Jokes aside, thanks for showing me that there are some non-A+. I just refreshed the Conception-go and your score is now A. (so goodbye to that repro I guess?)

[2017-01-06 23:16] shawnps commented on #136
Looks like I fixed this in d7ca2b1. Can reopen if that's not the case

[2017-01-06 23:16] #136 closed

[2017-01-06 23:17] shawnps commented on #170
@ahmetalpbalkan I think this is a duplicate of https://github.com/gojp/goreportcard/issues/113

Still not sure what's going on but I'll close this as a duplicate and investigate soon hopefully.

[2017-01-06 23:17] #170 closed

[2017-01-06 23:32] shurcooL commented on #173
Yep, those are the only two. All others are really good Go code. See "with the exception of" [here](https://github.com/shurcooL/SLA#applicability). :)

It seems likely that it was indeed related to the cache entry being very old.

[2017-01-07 00:00] shawnps commented on #173
@shurcooL that's pretty cool that you have an SLA for your repos. Nice idea!

[2017-01-11 20:36] kare commented on #143
Here's one:
- https://github.com/kare/vanity/
- https://github.com/kare/vanity/tree/master/cmd/vanity

[2017-01-24 17:38] db47h commented on #113
Same for this package: https://goreportcard.com/report/github.com/db47h/cache

I use go 1.7 and go-tip as test code is not compatible with go <1.7,

[2017-02-02 12:36] awalterschulze opened #175 "new feature: errcheck"
Might be worth adding errcheck https://github.com/kisielk/errcheck to the report card?

[2017-02-02 13:23] hermanschaaf commented on #175
We actually had errcheck at first, but it was too slow for many repos (often taking more than 1 minute to finish), leading to incomplete results. So errcheck is unabled until such issues can be resolved: https://github.com/gojp/goreportcard/blob/a16b0104fa367218ab1cb8faa0ad175eb81a5ce2/handlers/checks.go#L120

[2017-02-02 13:24] #175 closed

[2017-02-02 13:43] awalterschulze commented on #175
Fair enough :)

[2017-02-23 03:50] shawnps opened #176 "search autocomplete"
It would be nice if we could autocomplete previously-searched-for repos from the front page

[2017-03-09 00:36] shawnps opened #177 "check if travis.yml contains latest go version"
I don't know if this is a good idea or not so I'm looking for feedback. I thought it might be nice to display whether a repo's `.travis.yml` (if it exists) contains the latest Go version. I've seen that a lot of people (including me) forget to update the `.travis.yml` when a new Go release comes out.

We check for the existence of LICENSE which isn't strictly Go-related, so it doesn't seem too out

[2017-03-09 23:30] mdlayher opened #178 "New repo: github.com/mdlayher/vsock: could not download the repository"
Hi all, I love Go report card and use it with all my projects.

Just created a new repository and any attempt to retrieve the report card results in an error.

https://goreportcard.com/report/github.com/mdlayher/vsock

Any thoughts?  Thanks again!

[2017-03-09 23:51] shawnps commented on #178
Hi @mdlayher, glad you like Go Report Card and thanks for reporting this!

This was caused by the server running out of disk space. Your repo should work now.

Thanks!

[2017-03-09 23:51] #178 closed

[2017-03-10 00:14] mdlayher commented on #178
Yep, that fixed it. Thanks so much!

[2017-03-14 05:04] mcandre opened #179 "Doc oddity with golint"
According to the Go Report Card, my code is failing golint:

https://goreportcard.com/report/github.com/mcandre/karp#golint

Am I flubbing the Go documentation syntax somehow on line 3?

[2017-03-14 05:15] shawnps commented on #179
@mcandre this seems to have been because the cache was outdated. I noticed the last time this repo had been refreshed on GRC was 2 months ago. I clicked Refresh Now and it looks okay to me. Can you confirm and close if it looks good?

[2017-03-20 19:25] #179 closed

[2017-03-22 06:34] krostar commented on #178
Dont know if I should open another issue, but I have the same error with [github.com/krostar/nebulo](https://goreportcard.com/report/github.com/krostar/nebulo)

[2017-03-22 06:36] shawnps commented on #178
@krostar I can't `go get` your repo:

[code]

[2017-03-22 06:42] krostar commented on #178
It's curious, I don't have any errors
[code]

[2017-03-22 06:43] shawnps commented on #178
@krostar I'm heading out but I can take another look in an hour or so if you don't solve it by then

[2017-03-22 06:45] krostar commented on #178
I think you have an old [github.com/labstack/echo](https://github.com/labstack/echo) version because in the master branch [debug is an attribute, not a function](https://github.com/labstack/echo/blob/master/echo.go#L76)

[2017-03-22 11:10] krostar commented on #178
@shawnps I used a lot of project with something else than master as the default branch name and I never seen any problems with that.

The error you show me earlier tell us you have an old version of the echo package. Is it the same error on the server running goreportcard?

[2017-03-22 11:22] shawnps commented on #178
@krostar can you give me examples of other projects that don't use master as the default branch so I can test?

This is what I see on the server:

[code]

You can run a local instance and try to debug as well.

[2017-03-22 11:24] shawnps commented on #178
@krostar I realized we're not using `go get` anymore. So I guess the default behavior of the vcs package we're using is to checkout master.

[2017-03-22 11:39] krostar commented on #178
OK, do you want me to create a new issue, since it's not the same problem?

Don't know if it can work in all cases, but what about replacing `git checkout master` with `git checkout HEAD`?

[2017-03-22 11:43] shawnps commented on #178
@krostar up to you, I'm fine commenting here as well. If you want to see if you can figure out the issue, this is the library we're using:

https://godoc.org/golang.org/x/tools/go/vcs

and this is where we call it:

https://github.com/gojp/goreportcard/blob/master/download/download.go

[2017-03-24 03:25] krostar opened #180 "Error when default branch isn't master"
This issue start in #178 because I was thinking it was the same problem.
The beginning of the conversation start [here](https://github.com/gojp/goreportcard/issues/178#issuecomment-288311008)

--

I think I figured out how we can solve this issue:

When you use `root.VCS.Create(fullLocalPath, root.Repo)` you checkout the default branch as defined in the remote origin (you can see the default branc

[2017-04-05 16:42] krostar commented on #180
up @shawnps

[2017-04-09 21:56] freman opened #181 "A small tweak for utils.GoFiles"
Hi there.

I've been using goreportcard as a cli tool and have stumbled upon an assumption that seems to work fine in the original context but kinda falls over when running from the cwd

https://github.com/gojp/goreportcard/blob/master/check/utils.go#L36

Might be better perhaps as
[code]

edit: Here's the patch I went with in the end (some of these subdirs were big)

[code]

[2017-04-14 18:18] caarlos0 opened #182 "Remove fake data"
There are those ugly `____HIGH_SCORE` repos showing on the high scores page:

![image](https://cloud.githubusercontent.com/assets/245435/25051911/6aa6e3a4-2125-11e7-8eb2-74024e55d589.png)

The repo don't exist anymore: https://github.com/karolgorecki/______________________________________________H_I_G_H_____S_C_O_R_E

It is obviously a fake repo...

Maybe we can remove it?

[2017-04-21 02:33] wgliang opened #183 "open repos error on Windows?"
open repos/srcrepos\src\github.com\...:The system cannot find the path specified.

[2017-04-21 02:40] shawnps commented on #183
It doesn't run on Windows.

[2017-04-21 02:40] #183 closed

[2017-04-21 03:00] wgliang commented on #183
ok,Thx

[2017-04-24 04:02] shawnps commented on #182
@caarlos0 we could remove the entries but someone could just add them back unfortunately. We need a better way of determining what can go into high scores. We might want the repo to have a minimum number of stars for example. Something that makes it easier to distinguish the real repos from the fake ones.

[2017-04-24 04:03] shawnps commented on #182
@caarlos0 either way I'll go in and remove them. Maybe people will be nice and not add fake repos before we figure out a long term solution 😄

[2017-04-24 04:53] shawnps commented on #182
@caarlos0 they're removed now. We can revisit if this happens again. Thanks!

[2017-04-24 04:53] #182 closed

[2017-04-24 11:40] caarlos0 commented on #182
Thanks :D

that's why we can't have nice things :(

---

great project, by the way 🍻

[2017-05-02 22:23] fubarhouse opened #184 "Documentation for gocyclo complexity"
Simply put I'd like it documented somewhere,to show what cyclo complexity level is acceptable by goreportcard.

I can't seem to find that anywhere, though I haven't checked the code yet - just repository readme files...

[2017-05-03 08:44] onbjerg commented on #184
For now, here's [the check](https://github.com/gojp/goreportcard/blob/a16b0104fa367218ab1cb8faa0ad175eb81a5ce2/check/gocyclo.go#L21). Seems like anything <15 is acceptable.

[2017-05-04 12:44] fubarhouse commented on #184
I can close this if you'd like as you have answered the question.
But, I still believe it should be better documented.

[2017-05-05 05:42] shawnps commented on #184
@fubarhouse it's actually written here, but this sentence seems to not make sense anymore:

`warning: cyclomatic complexity 20 of function CheckHandler() is high (> 15) (gocyclo)`

the `(> 15)` part is where we're trying to say that we warn on cyclomatic complexity > 15. I'll see if I can update the wording to make more sense.

[2017-05-05 05:43] shawnps commented on #184
Sorry, when I say "here" I mean this (this is the goreportcard repo as an example):

![screen shot 2017-05-05 at 2 43 01 pm](https://cloud.githubusercontent.com/assets/80111/25734762/2a674cb6-31a1-11e7-88b3-209f217747d0.png)

[2017-05-05 05:49] shawnps commented on #184
Hmm, actually I guess that's the direct output from gocyclo and we don't alter it. I'll stick it in the description above the lines.

[2017-05-05 05:50] fubarhouse commented on #184
Cool, sorry for being a hassle here :)

[2017-05-05 05:55] shawnps commented on #184
@fubarhouse No hassle at all! It's a good point. I just pushed a change, take a look when you have a moment. I added a sentence to the end of the description here:

[code]

You'll have to click the "Refresh now" button to update.

[2017-05-05 05:56] fubarhouse commented on #184
Looks great! Should I close this one now?

[2017-05-05 05:57] shawnps commented on #184
@fubarhouse sure, thanks!

[2017-05-05 05:57] #184 closed

[2017-05-12 11:35] samuell opened #185 "Add more tools / linters, possibly via gometalinter"
I found that typically I get more detailed feedback on my old legacy PHP projects on codeclimate.com, than at goreportcard, so I started looking if there are more linters available.

I then found about [gometalinter](https://github.com/alecthomas/gometalinter), which has a [pretty nice list of supported linters](https://github.com/alecthomas/gometalinter#supported-linters).

Is this list something

[2017-05-15 00:06] franzwilhelm commented on #120
@shawnps Any update on this issue?

[2017-05-15 08:56] shawnps commented on #120
Hi @franzwilhelm and anyone else interested in this,

From the thumbs up reactions on @Nalum's comment it looks like quite a few people are interested in running their own instance of GRC to check private repos. I'll start to think about it. There are a few things I imagine I'll need to consider:

- GitHub Enterprise support
- Non-GitHub private repos like @Archosian mentioned
- Probably most comm

[2017-05-15 10:42] Nalum commented on #120
I was able to use this locally on my private repos. Setting the `insteadof` git config did the trick. Haven't tested a remote setup yet, but I assume that with a valid deploy key will work.

I tested it with GitLab.com private repos.

[2017-06-07 17:06] RJPercival opened #186 "Fails for github.com/google/trillian"
I receive the following error message when trying to refresh [this report](https://goreportcard.com/report/github.com/google/trillian):
[code]

[2017-06-07 17:53] shawnps commented on #186
@RJPercival there was an issue on the server and a monitor that I had previously configured didn't fire to alert me about it. Please try again.

[2017-06-07 23:22] #186 closed

[2017-06-17 05:48] korthaj opened #187 "False positive from go vet"
The report at

gives a false positve that does not show up when i run "go vet" locally (version 1.8.3):

[2017-06-18 04:01] shawnps commented on #187
@korthaj thanks. This was reported here too: https://github.com/gojp/goreportcard/issues/113

Unfortunately I haven't been able to track down why it's happening. But I'll close this ticket and keep the other open.

[2017-06-18 04:01] #187 closed

[2017-06-18 06:29] korthaj commented on #113
Maybe this is a caching issue? In my case, I got the false positive

Perhaps go vet is looking at the new version of the file example_test.go and an older cached version of the file that actually contains SortSlice. I did, in fact, use goreportcard earlier, when the new function and the new test didn't yet exist.

[2017-06-18 06:49] shawnps commented on #113
@korthaj unfortunately I don't believe it's a caching issue but rather an issue with `go tool vet` itself. I just ran it manually against your repo and I get the error:

[code]

`gometalinter` uses `go tool vet` rather than `go vet`, I believe for historical reasons. Someone brought up a similar issue here:

https://github.com/alecthomas/gometalinter/issues/218

If I can find a way to have `gometa

[2017-06-18 11:14] arthurwhite commented on #113
At first glance, just calling `go vet` instead of `gometalinter` at [check/go_vet.go:21](https://github.com/gojp/goreportcard/blob/a16b0104fa367218ab1cb8faa0ad175eb81a5ce2/check/go_vet.go#L21) should do the fix.
'Doesn't work like this?

[2017-06-20 11:01] danlg commented on #120
@nalum did you manage to make it work with a remote private repo?

[2017-06-20 12:05] Nalum commented on #120
I haven't had time to check. As soon as I do I'll let you know.

[2017-06-27 08:31] bivas commented on #180
This also affects the behavior of goreportcard.com - repos who have no master branch aren't downloaded for processing.

[2017-06-27 08:42] hermanschaaf commented on #180
We'd definitely welcome a pull request if anyone can find a solution that doesn't affect current functionality, which uses master by default. The investigation @krostar did looks great, and I'd be happy to test out a potential fix.

[2017-07-07 03:06] DeedleFake opened #188 "Report Card for `main` Package in Subdirectory Redirects to Root"
[The report card for the package `github.com/DeedleFake/drudge/cmd/drudge`](https://www.goreportcard.com/report/github.com/DeedleFake/drudge/cmd/drudge) redirects to [the report card for `github.com/DeedleFake/drudge`](https://www.goreportcard.com/report/github.com/DeedleFake/drudge). The [badges](https://www.goreportcard.com/badge/github.com/DeedleFake/drudge) work [fine](https://www.goreportcard

[2017-07-13 11:17] penhauer-xiao commented on #172
@shawnps Time is very long, as if no real progress, and the road map Yeah

[2017-07-13 14:48] shawnps commented on #172
@penhauer-xiao this project is open source, feel free to work on it if you need this feature urgently. We look forward to reviewing any pull requests you make.

[2017-07-18 18:27] mafredri opened #189 "Support Go 1.9 or ignore go1.9 build tag?"
Hi,

would it be possible to add support for Go 1.9? I realize it's in beta right now, so a more reasonable approach could be to ignore files with `// +build go1.9`.

Thoughts?

I'm asking because Go Report Card is currently failing on [one of my repositories](https://goreportcard.com/report/github.com/mafredri/cdp) due to type aliases.

[2017-07-18 19:39] mafredri commented on #189
I noticed goreportcard is using `gometalinter` so I tried locally and noticed that `gofmt` is not broken (via gometalinter) for me at least. Perhaps I have a newer version or the `go1.9beta2` release is doing some magic. My primary go version is still `go1.8.3`.

I reported the `go vet` errors: https://github.com/alecthomas/gometalinter/issues/323.

As a workaround, this might work:

[code]

Howev

[2017-07-20 08:17] GoLangsam opened #190 ""Last refresh: " xxx "seconds ago" on Reportcard is misleading as long as it is not refreshed"
If I look at the page after a while (and e.g. after a couple of commits) a wording such as "Last refresh: " xxx "seconds ago" makes me believe that the results are fresh. But they are not.

I suggest to only use/show the real (date &) time of the generation - nothing like 'ago' if it's not refreshed.

[2017-07-20 17:23] arthurwhite opened #191 "Could not download the repository"
Go Report Card [fails](https://goreportcard.com/report/github.com/gowww/client) downloading [github.com/gowww/client](https://github.com/gowww/client):

[code]

Similar issues: #148, #151, #178, #186.

[2017-07-20 19:03] shawnps commented on #191
@arthurwhite I deleted our local copy of your repo on the server and it seems to work now. I'll have to check the logs to see what might have caused it.

[2017-07-20 20:30] arthurwhite commented on #191
Perfect, thank you!

[2017-07-20 20:30] #191 closed

[2017-07-20 20:52] arthurwhite commented on #191
Maybe the problem was that the first Go Report Card check has been requested while the repo was empty.

Because when I created this new repo, I was still writing the *README.md* locally, before the first commit & push. And I made a markdown preview in VS Code... The README containing the badge, a requesting has been sent to your server to get the image. 💣

[2017-07-21 22:35] shawnps commented on #6
I'm happy to discuss this if someone wants to reopen the ticket, but I think it's safe to say now that this is outside of the scope of the value provided by Go Report Card. We have a lot of users who check very big repositories that have things like integration tests which we wouldn't be able to run with the standard `go test`.

[2017-07-21 22:35] #6 closed

[2017-07-21 22:37] shawnps commented on #24
Looks like `grind` hasn't been updated in a long time. Going to close this but if someone really wants it they're of course welcome to make a PR or ticket.

[2017-07-21 22:37] #24 closed

[2017-07-21 22:37] #174 closed

[2017-07-21 22:40] shawnps commented on #53
Thanks, some good stuff in here that we'll keep in mind for future features. Going to close this out in favor of individual feature tickets.

[2017-07-21 22:40] #53 closed

[2017-07-21 22:42] shawnps commented on #55
This doesn't seem super important to many users so I'm going to close it out. If someone really wants it they can make a PR or new issue.

[2017-07-21 22:42] #55 closed

[2017-07-21 22:49] shawnps commented on #103
@hermanschaaf do you think this makes sense/would be good to have? If not let's just close it, I made this issue over a year ago and haven't heard any feedback from any users about this.

[2017-07-21 22:53] shawnps commented on #143
Looks like kare's repository contains a LICENSE in the root now. Sorry, I think it's easiest for us to just check the root dir for now. We'd certainly look at a PR if one were to be made though.

[2017-07-21 22:53] #143 closed

[2017-07-21 22:54] shawnps commented on #99
I'm just going to close this out, if I find it annoying enough in the future I'll try to add a file watcher.

[2017-07-21 22:54] #99 closed

[2017-07-21 22:56] shawnps commented on #103
Nvm, I'm just going to close this. Maybe revisit in the future.

[2017-07-21 22:56] #103 closed

[2017-07-24 00:01] kortschak opened #192 "Link to source does not work for vanity import paths"
Navigate to https://goreportcard.com/report/gonum.org/v1/gonum and click on the first issue.

Expect to resolve link to github backing repository, but does not. Link works for https://goreportcard.com/report/github.com/gonum/gonum used the same way.

[2017-07-27 09:39] #177 closed

[2017-07-30 01:07] #95 closed

[2017-08-01 14:05] vcaesar opened #193 "Line 1: warning: file is not gofmted with -s (gofmt)"
I run "gofmt -s x.go" on Mac and Ubuntu is no problem, but goreportcard shows: " Line 1: warning: file is not gofmted with -s (gofmt)".

[2017-08-01 16:25] hermanschaaf commented on #193
Hi @vcaesar, can you post a link to the project? There are a couple of possible reasons I can think of off the top of my head:
 - `gofmt -s x.go` only outputs to stdout by default, to change the file itself you need to run `gofmt -s -w x.go > x.go`
 - Go Report Card does not yet support Go 1.9, if you use any of the new constructs

[2017-08-02 00:28] tariq1890 opened #194 "We need to support git repositories outside of github.com"
Thank you for this great tool! We have been using this in our Github Enterprise repositories and integrated with our CI systems.

I have noticed that the repository filename links aren't generated for non-github (like gitlab) and github enterprise repos. I have however managed to get it working by adding extra conditional statements to account for our enterprise repositoriy prefixes.

I feel it wo

[2017-08-02 07:58] shawnps commented on #194
@tariq1890 just to clarify, you mean you're running an instance of Go Report Card internally so that you can use it on your GitHub Enterprise repositories? Also I don't know much about GitLab - is that something you host internally as well?

If you only use one (GHE or GitLab) I might prefer a flag for this rather than a config file.

[2017-08-02 12:05] vcaesar commented on #193
Okay, thank you.

[2017-08-02 12:05] #193 closed

[2017-08-02 12:06] shawnps commented on #193
Hey @vcaesar, we're happy to take a look if you give us an example project to look at.

[2017-08-02 12:43] vcaesar commented on #193
Some files in the editor or ide and do not seem to be gofmted, rewrite the file just fine, another project I used the 1.9.

[2017-08-04 08:02] tariq1890 commented on #194
Yes. GitLab is another repository.  We'd use goreportcard for both GitHub and GHE. Right now we've added extra conditional statements to support our GHE. Using a config file would help make goreportcard more extensible. Since only the GHE user knows the GitHub Enterprise details, they can add the details in the config file.

[2017-08-07 05:50] fubarhouse commented on #180
I know this doesn't help, but I'd also love a solution here. +1

[2017-08-08 02:13] shawnps commented on #194
@tariq1890 if you make a PR when you have some free time, I'd be happy to take a look. Please just make it so the config is optional, in other words nothing should change the way we deploy goreportcard.com. I'd also like to avoid vendoring a big config-parsing library if possible. JSON might be fine since this config should be really small. A sample config or addition to the README etc. would be r

[2017-08-09 07:56] tariq1890 commented on #194
Sure. I can get around to doing that.

[2017-08-09 08:59] #160 closed

[2017-08-12 07:17] 200sc opened #196 "Recognize duplicate repos on high score page"
We had the project "OakmoundStudio/oak", then changed the organization display name to oakmound, and now both projects are on the high score list next to each other. We're not trying to game the list; it'd be nice if the former of those two was removed, hopefully by the list recognizing two identical repos.

[2017-08-12 08:00] shawnps commented on #196
@200sc thanks. I'm working on a tool for managing the high scores list now. Since this is a rare occurrence I or @hermanschaaf will just field these requests manually. Just removed `OakmoundStudio/oak` from the list now.

[2017-08-12 08:00] #196 closed

[2017-08-12 08:06] 200sc commented on #196
Thank you! Also for the quick response!

[2017-08-12 08:06] shawnps commented on #196
Thanks for reporting 😄

[2017-08-13 07:34] tariq1890 commented on #194
@shawnps I just realized that the tweak I had made was in vcs.go to get the GitHub ENterprise links working.

Looks like the change is required in golang's tools repository. I guess we can close this issue

[2017-08-13 07:49] shawnps commented on #194
@tariq1890 you mean you patched `vcs.go` so Go Report Card would work with GHE repositories in general, not just to fix the links? I haven't tried running Go Report Card against a GHE repo so I'd be curious to know what happens when you do.

If you have any ideas on this let me know and we can try to figure something out.

[2017-08-13 09:49] tariq1890 commented on #194
Yes, I had patched vcs.go to add our Github Enterprise URL Regex. If you have had a look at the vcs.go, you would've noticed the list of the vcs paths that are recognized by the go tools library. My solution was to simply add the GHE URL pattern to that hardcoded list of recognized VCS URL patterns.

I do have an idea. First off, I am puzzled that vcs.go uses such a roundabout way to go about the

[2017-08-14 09:25] tariq1890 opened #197 "UI Issues that need fixing"
Here are a few UI issues that I have found

1. There is no input validation. We should validate for an empty string and throw an error.
2. The placeholder holder text should disappear on focus/click.
3. Rather than populating error messages as notifications, we can show error messages as alert dialogs instead. Right now errors stick to the notification div panel and don't disappear. They occupy sp

[2017-08-14 09:31] shawnps commented on #197
@tariq1890 Personally I don't think we need a fix for no. 1, the error we show is good enough for me. And for no. 3 I think I'd find a popup (if that's what you're suggesting) more annoying than what we have currently.

@hermanschaaf thoughts?

[2017-08-14 10:27] hermanschaaf commented on #197
For no 1: I agree with @tariq1890 here, some validation on an empty string would be a nice change, even if it is just a nicer error message.

No. 2 is not an issue for me, that's just default browser behavior (it disappears as soon as you type something, which I think is fine)

For no 3: I think a valuable change would be to show only the latest notification, not a whole long list like in the scre

[2017-08-14 10:34] shawnps commented on #197
@tariq1890 if you still want to make a PR, feel free to go with @hermanschaaf's comments :)

[2017-08-15 02:01] tariq1890 commented on #197
Sure! I'll create the PR

[2017-08-15 05:27] tariq1890 commented on #194
@shawnps Thoughts?

[2017-08-15 05:56] shawnps commented on #194
Hey @tariq1890 sorry not sure I totally follow - I believe we're using VCS because we can't assume everyone will be using `git` for their Golang packages. For example people might be using Mercurial, or Subversion, etc.

[2017-08-15 06:01] #197 closed

[2017-08-15 06:09] tariq1890 commented on #194
I agree with what you have to say. But VCS has this method of regex validation. I don't think the best approach is to assume a pattern for all of these repositories. This is the main reason that GitHub Enterprise URLs fail as they don't match the patterns declared/defined in VCS.go.

A better way of validating would be to provide a ping command to see if the repository connection is established. F

[2017-08-18 14:45] shawnps commented on #66
Someone requested this in #goreportcard on the Gophers Slack, but I'm not sure we necessarily want to hit GitHub for this info. One idea that we came up with is to go through the repos in the cache, check for smaller repos (maybe < 50 .go files or something), and update those periodically.

[2017-08-18 14:52] shawnps opened #199 "Unique repos count on high scores page seems wrong"
"Reports generated for 18,830 unique repos so far."

This seems too high to me. Could be a bug.

[2017-08-18 19:13] hermanschaaf commented on #199
Goreportcard has had around 60k unique users, so it sounds plausible to
me...

On Fri, Aug 18, 2017 at 3:52 PM, Shawn Smith <notifications@github.com>
wrote:

[2017-08-19 02:14] shawnps commented on #199
@hermanschaaf yeah I think you're right, the logic looks sound and I tested a few weird cases on my local and everything looked fine. Closing

[2017-08-19 02:17] shawnps commented on #199
Typing the repo with a different case on one letter will increase the count unfortunately :(

[2017-08-25 12:18] Horgix opened #200 "Badges with stats"
First, thanks for making this, it is really useful 🙂

Second, the reason of this issue: I think it would be really nice to be able to have **badges** for separate stats (gofmt, golint, ...) as well as for the global score as it appears on the High Scores page. The target goal being to be able to just have a glande at the badges without having to click on the current goreport badge to see details.

[2017-08-30 05:36] kataras commented on #189
Hello guys && @shawnps

Go 1.9 released, we need a correct reportcard, my own web framework drops from A+ to B because of type alias inside a file with restrict access to go 1.9, I assume that vet tools don't care about that and count it to the overall result no matter what but now that Go 1.9 released I think that if you just upgrade the host's machine Go Programming version and the vet tools the

[2017-08-30 05:52] shawnps commented on #189
I will take a look tonight

[2017-08-30 06:42] kataras commented on #189
You're awesome, thank you very much for your work

[2017-08-30 07:05] shawnps commented on #189
@kataras should be all set: https://goreportcard.com/report/github.com/kataras/iris

[2017-08-30 07:06] shawnps commented on #189
@mafredri should be fixed for you as well: https://goreportcard.com/report/github.com/mafredri/cdp

Thanks for reporting!

[2017-08-30 07:06] #189 closed

[2017-09-05 20:35] jannisfink opened #201 "exit code 2 for every result but the license check"
When pressing the "Refresh now" button, every score is 0% and the error message `An error occurred while running this test (exit status 2)` is shown. The only report that works is the license check.

Example: https://goreportcard.com/report/github.com/suluvir/server

[2017-09-05 20:39] shawnps commented on #201
Hi @jannisfink

We've been having an issue lately where the CPU and memory spike dramatically on the server, and everything gets slow. Will have to do some more investigation but for now I restarted the service and it seems better.

[2017-09-06 07:44] jannisfink commented on #201
👍 looks good. I will close this one

[2017-09-06 07:44] #201 closed

[2017-09-14 13:03] jsmith-dev opened #202 "Line 1: warning: file is not gofmted with -s (gofmt)"
Line one is often a comment (i.e):

// Welcome to MyGoApp this file is blah, blah, blah.

Q: Why is a comment line on line one (1) captured for warning on 'gofmted' basis?
Q: Is the suggestion that comments are to be avoided or wrapped in 'gofmt' ??
Q: by design or false positive?

[2017-09-14 16:38] shawnps commented on #202
@jsmith-dev when you have a moment could you link to an example repo please? Thanks!

[2017-09-14 18:51] hermanschaaf commented on #202
@jsmith-dev I suspect you are being misled by the error being on line 1: the error message is trying to say that the entire file is not `gofmt`-ed. It is not necessarily specific to the comment in your file, or to line 1 in particular :smile:

You should be able to fix it with `gofmt -s -w <your file>.go`

[2017-09-14 23:36] jsmith-dev commented on #202
oh. Right. Makes more sense.

[2017-09-15 10:05] shawnps commented on #202
I'm gonna reopen this because the Line 1 thing is misleading. We should fix the message to say the whole file needs gofmt.

[2017-09-19 03:21] tariq1890 opened #203 "repos folder is included in the go build path"
The 'repos' folder which  holds all the code to be statically analyzed are included in the build path when I run

`go build ./...`

Since I have been working with a fork, I have found this getting in the way often when I want to run the build all command. I have renamed the directory as '_repos' since go build automatically ignores directories that have names beginning with an underscore. I propos

[2017-09-19 03:25] shawnps commented on #203
@tariq1890 That sounds fine to me, if you want to make a PR with the code changes I'll merge and then update the server accordingly.

[2017-09-19 03:49] tariq1890 commented on #203
Created PR #204

[2017-09-19 11:04] #203 closed

[2017-09-20 03:38] shawnps opened #205 "Templating: add footer"
Right now in order to change the footer we need to edit 5 different templates. Add a footer template so we can edit just 1

[2017-09-20 06:32] #205 closed

[2017-09-21 13:28] arsham commented on #113
I'm experiencing the same problem [here](https://github.com/arsham/expvastic/blob/af5eeb25406ad2597cdd0184aff46b60f712c525/token/example_test.go#L15)
 from [this report](https://goreportcard.com/report/github.com/arsham/expvastic). The [identifier](https://github.com/arsham/expvastic/blob/af5eeb25406ad2597cdd0184aff46b60f712c525/token/token.go#L35) is defined and on local version it reports no iss

[2017-09-23 17:03] chmike commented on #7
The badge is unfortunately not updated on github. It works well with travis and goverall badges.
github displays a B, while I now have an A+. This is frustrating.

Thank you for the package and service. It's a great service to enhance code quality. I wish I could see my numeric score.

[2017-09-23 17:06] shawnps commented on #7
@chmike would you mind posting a specific repo so we can take a look? Thanks

[2017-09-23 17:07] hermanschaaf commented on #7
Hi @chmike, thanks for the feedback! This is probably due to image caching on the part of either Github, or your browser. A browser hard refresh might fix it. You didn't specify which repository you are talking about, but if it's securecookie, it shows as an A+ to me:

<img width="1005" alt="screenshot 2017-09-23 18 05 47" src="https://user-images.githubusercontent.com/1121616/30775369-031c7336-a0

[2017-09-23 17:21] chmike commented on #7
Yes! That is the repository. Thank you very much.  How come that I only see a B ? I tried connecting from another computer (same network) so the browser cache can't be in play. I also tried a hard refresh with shift reload and ctrl-F5 (windows). I tested with my phone, (fresh connection & different provider) and I also see the B label. It looks like a github issue.

[2017-09-23 17:27] hermanschaaf commented on #7
Yeah, Github does some pretty aggressive caching of the images, unfortunately. If you look at the image source on the readme, you'll see that it actually links to `camo.githubusercontent.com`, not `goreportcard.com`. We set a cache-control header (https://github.com/gojp/goreportcard/blob/master/handlers/badge.go#L68) to tell Github not to cache the image, but looks like they (or, potentially, a p

[2017-09-24 09:01] chmike commented on #7
I could see the A+ after two hours delay. Good to know if some raise up the problem again. Some cache in the path needed to be refreshed. The cache save your servers from many requests and reduce display latency. So its OK. Thank you for the fast response and for keeping the service running.

[2017-09-25 06:13] GoLangsam commented on #113
Same experience with my new repo [github.com/GoLangsam/template](https://goreportcard.com/report/github.com/GoLangsam/template) using unnamed import aka `import . "html/template"` (as does standard `html/template/template_test.go`).

Local use of `go vet` and `go tool vet` remains silent.

Local use of `gometalinter` gives same "noise"!
Local use of `goreportcard` (under Windows - mind You :-) wit

[2017-09-25 09:44] GoLangsam opened #206 "templates/about.html - "Note about ..." para"
To me, the "Note about Digital Ocean ..." paragraph seems to be in contrast to the [link](https://www.signalsciences.com/) and the logo in the footer.

You may like have a look at `templates/about.html`

[2017-09-25 10:08] GoLangsam opened #207 "Windows support"
When investigating #113 I installed on Windows and it worked mysteriously well!
( notwithstanding Your disclaimer in Your ReadMe ;-)

This is mostly because go is very tolerant about slashes when used directly as arguments e.g. to ioutil.ReadDir or `os.MkdirAll("_repos/src/github.com", 0755)`

Just: some things do ***not*** work yet, e.g. gofmt.

As far as I can see, it **only** needs use of path/

[2017-09-25 11:14] shawnps commented on #206
Good point, thanks @GoLangsam

[2017-09-25 11:14] #206 closed

[2017-09-25 14:06] shawnps commented on #207
@GoLangsam since we run this app on Linux, this really isn't a priority for us, but if you want to make a PR and everything is backwards-compatible, I don't see why we wouldn't merge it unless it is a massive diff. If it's just `path/filepath` stuff, I'd be interested to see a PR.

Sorry for our "_ignorant_ code" 😂

[2017-09-25 14:19] shawnps commented on #113
I will take a look at this soon.

[2017-09-25 21:09] hermanschaaf commented on #190
I think "ago" is more human-friendly than an exact time, which will probably (for simplicity) be in UTC and not the user's timezone. But I agree, the user experience could certainly be better here.

One option I would be happy with is to have javascript update the time on the page, so if you keep the page open long enough, it will start showing "1 minute ago", "2 minutes ago", etc.

We have also t

[2017-09-25 21:16] hermanschaaf commented on #200
I quite like the idea, to be honest. But it would require some code changes and perhaps a more cluttered UI (which is best avoided), and a CI tool like Jenkins or Travis-CI is perhaps a better place for this. If we get a lot of upvotes on this issue I might rethink my stance, but for now I think it's not worth the extra complication.

[2017-09-26 02:04] GoLangsam commented on #190
Looking @ [travis](https://travis-ci.org/) I noticed, that

- they also show a non-refreshed `6 minutes ago`
- but also can I see the *real* time as a tooltip! :-)

Rechecking Your site (and implementation) I realize: I have to admit: I missed this **title** thing. :-(

Thus, now I just wonder about how to make the existence of the tooltip-title visual.
( remember having see bloggers using things

[2017-09-26 02:46] GoLangsam commented on #113
Looking @ [alecthomas/gometalinter#218](https://github.com/alecthomas/gometalinter/issues/218) I feel that they'r pushing this off to the go tool chain. Thus, there is no hope for any quick solution soon.

Having browsed `cmd/go/main.go` and friends such as `pkg.go` I understand the trouble of the go team in supporting the variety of usages of their tools.

I also understand and experience: the *b

[2017-09-26 02:49] GoLangsam commented on #113
Having found this, I'll have to read and think a little more in order to come up with a feasible solution which suits Your product.

[2017-09-26 03:19] GoLangsam commented on #190
@hermanschaaf  I just notice: even `github` behaves similar in their (comment header)[https://github.com/gojp/goreportcard/issues/190#issuecomment-332064543]

( And they just use a slightly (IMHO) more readable format. )

[2017-09-26 10:59] GoLangsam commented on #113
@shawnps @hermanschaaf

[here we go](https://github.com/gojp/goreportcard/pull/209) - Sorry for keeping You waiting :-)

[2017-09-27 02:38] #190 closed

[2017-09-27 03:20] GoLangsam commented on #207
@shawnps You have an interesting way to play with colons `":"` :-)

Please teach me:

- What does `AddError` hope to receive?

- What does `getFileSummaryMap` try to achieve when doing
``
[code]

See enclosed annotated panic
[trace000.txt](https://github.com/gojp/goreportcard/files/1335681/trace000.txt)

[2017-09-29 05:07] tariq1890 opened #211 "Listing popular Go repositories dynamically."
Currently, the popular report cards on the go report card homepage are hard-coded. Is it possible to retrieve this dynamically instead? We could make a GitHub API call to retrieve popular/trending repositories. Once retrieved we can cache the list of repositories in boltdb and refresh it every week or so.

If you're okay with this idea, I can work on a PR for this.

[2017-10-01 08:22] attwad opened #212 "license file not found"
Hi, my go report card has a 0% on the presence of a LICENSE file although it definitely has one:

Go report card:
https://goreportcard.com/report/github.com/attwad/cdf-fe#license
My license:
https://github.com/attwad/cdf-fe/blob/master/LICENSE

[2017-10-01 08:25] hermanschaaf commented on #212
Hi, thanks for reporting!

The report page does not refresh automatically on changes, there is a button the left-hand panel (`Refresh now`) that allows you to pull the latest changes and run the checks again. I checked out the page you linked and saw it was last refreshed a month ago; clicking the refresh button made the license show as 100%.

Hope that helps.

[2017-10-01 08:25] #212 closed

[2017-10-01 08:32] attwad commented on #212
Awesome! thanks a lot :)

[2017-10-01 08:44] hermanschaaf commented on #211
Thanks for the suggestion @tariq1890, I like the idea as you described it, where we can pull the most popular Go repositories from Github every week or so. I'd be open to trying it if the new code can be added as a separate command-line tool that updates boltdb. Of course there will also be some minor changes in the existing code to then read from the database, or fall back to defaults if none are

[2017-10-01 21:22] tariq1890 commented on #211
@hermanschaaf That's a great idea. Testing if a report is generatable and populating the cache with it. I can do the PR for that. Thanks for the tip!

[2017-10-01 22:44] tariq1890 commented on #211
@hermanschaaf How would you like to gather the popular/trending repos? Unfortunately, there is no way to retrieve trending repos through the GitHub API. Other open source repositories seem to be scraping the github trending page HTML. The only drawback is that when GitHub changes their HTML structure, the scraping logic may cease to work and necessitate an updating of code logic.

If you're okay w

[2017-10-02 06:51] hermanschaaf commented on #211
I agree, since there are no other options and it's a command-line tool, HTML scraping is okay in this case. Sounds good!

[2017-10-02 07:04] tariq1890 commented on #211
Great! I've made this preliminary PR so that I can go ahead work on the popular repos command line tool. Let me know if you have any feedback. Thanks!

https://github.com/gojp/goreportcard/pull/213

[2017-10-04 08:07] shawnps opened #214 "vanity import paths seem to be skipping boltdb cache and going straight to git"
Whenever I put a vanity import URL in, it's never found in boltdb and automatically does a git pull. This is expensive

[2017-10-04 17:49] aweisser commented on #120
Any updates on this? I'd love to see that feature for gerrit and gitlab.

[2017-10-04 18:09] aweisser opened #215 "Choose and inject concrete checks in main.go"
It'd be more convinient to choose the desired check.Check structs in main.go and inject them to the handlers component instead of instantiate them in a private function handlers.newChecksResp(...).

[2017-10-05 20:13] hermanschaaf commented on #214
@shawnps I tested this locally and it doesn't seem to be the case, are you sure? Or do you mean that it will get pulled once for the vanity import, and pulled again if you put it in the github url, and saved under a different name?

[2017-10-07 01:15] zbintliff commented on #202
I'm also think there may be an issue:
https://goreportcard.com/report/github.com/pact-foundation/pact-go#gofmt

The above says:
[code]

but when I pull down the files and run fmt there is no change:
[code]

Granted, when i run `gofmt -s dsl/mock_service.go` I do get output:
[code]

I even written it to another file and diff them, with no change:
[code]

Which may point to an issue with `gofmt` and

[2017-10-07 10:34] hermanschaaf commented on #202
@zbintliff We cache repositories on Go Report Card so that we don't have to do a fresh `git pull` on every page load. This is indicated in the left-hand panel, where it says "Last refresh 1 year ago". I clicked the refresh button on your page and now the `gofmt` error on `mock_service` is no longer there, but there are some other files. So I think your issue was just one of caching.

We have anoth

[2017-10-22 17:31] jaynagpaul opened #217 "Update golint"
My [goreportcard](https://goreportcard.com/report/github.com/socialplanner/instahelper) is displaying a golint warning using the new type aliases in Go 1.9. Updating to the latest version at https://github.com/golang/lint fixed this for me locally.

Thank you for making such a great and useful tool 🙏 !

[2017-10-22 21:19] tariq1890 opened #218 "The Line errors generated in the report summary have incorrect links"
For eg:-

In the report for https://goreportcard.com/report/github.com/golang/crypto

For the first go vet issue at Line 188, the href is generated as

https://goreportcard.com/report/github.com/golang/crypto#L188

rather than

https://github.com/golang/crypto/blob/master/blake2s/blake2s_test.go#L188

[2017-10-22 21:24] tariq1890 commented on #218
I have opened #219 for this

[2017-10-23 01:25] shawnps commented on #217
@jaynagpaul thanks for reporting, should be fixed now. Reopen if something there's still a problem

[2017-10-23 01:25] #217 closed

[2017-10-23 18:37] #218 closed

[2017-10-26 10:11] bailantaotao opened #220 "There was an error processing your request: Could not download the repository."
Hi,

Why my library cannot to do goreportcard, the message can refer to title.

repo URLs: github.com/getamis/eth-client

[2017-10-26 10:18] shawnps commented on #220
@bailantaotao we currently have a bug where repos on a default branch other than `master` fail. It looks like your default branch is `develop`. You could change the default branch to `master` for an immediate workaround, or wait for someone to fix the bug.

[2017-10-26 10:18] shawnps commented on #220
(or of course submit a PR if you can fix it :))

[2017-10-26 10:20] shawnps commented on #220
Issue is here: https://github.com/gojp/goreportcard/issues/180 Closing this ticket as duplicate

[2017-10-26 10:20] #220 closed

[2017-10-27 02:16] bailantaotao commented on #220
thanks!! :)

[2017-10-27 15:23] melvinodsa commented on #120
I tested the method @Archosian mentioned. Its working.  :smile:
I am thinking about adding an oAuth module infornt of this tool, which will enable my gitlab or other private repo users to access tool and yet the tool is not open source. Any suggestions?

[2017-10-30 19:40] unsacrificed opened #222 "Useless error message for gofmt: "strconv.Atoi: parsing " runtime": invalid syntax""
I receive following error message for my [project](https://goreportcard.com/report/github.com/apaxa-go/helper) (gofmt test):

This message is useless, even source file does not specified. In general I dont know that to fix and where (or may be it is a bug in gorepocard?).

So:

1. Can someone tell me what does this message mean?
2. I suggest to improve error messages.

[2017-10-31 01:05] shawnps commented on #222
@unsacrificed looks like we're running out of memory while running `gofmt` on your repo.

[2017-10-31 09:39] unsacrificed commented on #222
@shawnps thanks for information. OOM may be because of large files in my project ('''unicodeh/is-*-gen.go''' & '''unicodeh/tables-*-gen.go''') on the one side and large memory consumption by Go's AST on the othe other side.

Can you say how much memory is available? Then I'll decide that to do.

[2017-11-02 16:22] vipally opened #223 "It will download fail if dest repository's default branch is not ‘master’"
It reports 'There was an error processing your request: Could not download the repository when the repository default branch is not ‘master’
 eg: "github.com/vipally/binary"
It fails when "git checkout master" if repository's default branch is not master
git fail info:
error: pathspec 'master' did not match any file(s) known to git.

[2017-11-03 17:02] stevenh commented on #113
This is still an issue, I've raised it against go vet:
https://github.com/golang/go/issues/22530

[2017-11-06 11:12] atakanyenel commented on #62
I started learning Golang (I have experience in web dev) and I want to work on this issue to better understand how go works. Todos do not intervene with the grade reports and looks easier than other issues.

As you are not using many external libraries, I will add my regex logic as a file in the `check` folder and add the `todofinder` function to the overall process. Also add the corresponding htm

[2017-11-06 14:27] kzahedi opened #225 "There was an error processing your request: Could not download the repository."
There seems to be a problem with my repository:

https://goreportcard.com/report/github.com/kzahedi/goent

https://github.com/kzahedi/goent

Cheers,
Keyan

[2017-11-06 14:32] shawnps commented on #225
Hi @kzahedi

We ran out of disk space on our server. I did some cleanup so it should work now. Normally we get alerts on disk usage but for some reason it didn't fire, which I'll have to investigate separately.

Thanks for reporting.

[2017-11-06 14:32] #225 closed

[2017-11-06 14:34] kzahedi commented on #225
Thank you very much for the fast reply! Problem solved.

[2017-11-07 10:05] stevenh commented on #113
As [suggested by Russ Cox](https://github.com/golang/go/issues/22530#issuecomment-342286322) if the calls to ```go tool vet``` are replaced with calls to ```go vet``` examples pass.

[2017-11-18 05:21] yangwenmai opened #228 "There was an error processing your request: Could not download the repository."
There seems to be a problem with my repository:

https://goreportcard.com/report/github.com/anseres/anser

https://github.com/anseres/anser

[2017-11-19 18:44] tariq1890 commented on #228
This is the same as Issue #223

[2017-11-20 22:42] rakanalh opened #229 "Org mode support"
Hello,

I would be nice to be able to append the file extension to the badge link so that emacs org-mode can display the image correctly.
Example links for other badges can be found here:
https://raw.githubusercontent.com/rakanalh/scheduler/master/README.org

Thanks

[2017-11-22 04:55] shawnps commented on #229
Thanks @rakanalh, I'll look into serving both for backwards-compatibility.

[2017-11-22 05:56] yangwenmai commented on #228
Thanks.

[2017-11-22 05:56] #228 closed

[2017-12-06 16:49] ddrechse opened #230 "Could not analyze the repository: no .go files found"
Hi,
This is the error I get when running goreportcard on
github.com/oracle/federated-ingress-controller
There was an error processing your request: Could not analyze the repository: no .go files found

however, if I fork it
github.com/ddrechse/federated-ingress-controller
goreportcard works fine

Any ideas?

Tnx

[2017-12-07 03:31] shawnps commented on #230
Hi @ddrechse

Looking at the logs, I see something went wrong when we tried to clone the repo originally...I'm not sure what caused that issue, but I deleted the repo on our server and retried and it appears to work now. Please reopen if you run into this again.

Thanks!
Shawn

[2017-12-07 03:31] #230 closed

[2017-12-07 15:30] ddrechse commented on #230
Hi Shawn
Tnx for the quick response.  There is one more repo that needs cleansing
github.com/oracle/navarkos

Tnx Much

[2017-12-08 00:09] shawnps commented on #230
@ddrechse looks like the same issue, I'll have to do some investigation into why it happened. For now I cleared it out and it should work again. Thanks!

[2017-12-08 00:23] ddrechse commented on #230
Tnx again :)  Appreciate it

[2017-12-08 16:14] ddrechse opened #231 "My Badge isn't showing up properly"
Hi,

Look here and u will see an error goreport card
https://github.com/ddrechse/navarkos/blob/master/README.md

Click the goreportcard badge link and it is an A+ grade
https://goreportcard.com/report/github.com/oracle/navarkos

I copied the markup from this page.  I don't know why it doesn't work
I don't think its a caching issue.  I have had others checking

Help

Tnx
Doug

[2017-12-08 16:42] hermanschaaf commented on #231
Hi Doug, thanks for bringing this to our attention. I wonder if it was a temporary issue (sometimes Github caches images more aggressively than they should), because I can see it when I load the page:

![screenshot from 2017-12-08 16-40-34](https://user-images.githubusercontent.com/1121616/33775560-b2580512-dc36-11e7-98af-4dd56dace0cb.png)

[2017-12-08 17:15] ddrechse commented on #231
Thanks for looking at it
Please try here when u get a chance, this is the "real" repo
https://github.com/oracle/navarkos

If that looks good, close the ticket and I will follow up w github

Tnx
Doug

[2017-12-08 17:31] hermanschaaf commented on #231
Still looks good:

![screenshot from 2017-12-08 17-30-38](https://user-images.githubusercontent.com/1121616/33777642-8d1e7432-dc3d-11e7-8c4c-3bab79394d0e.png)

[2017-12-08 18:32] ddrechse commented on #231
ok thanks for checking.  I'll look into github caching

Regards
Doug

[2017-12-08 18:32] #231 closed

[2017-12-08 21:51] ddrechse commented on #231
Just an FYI. We got around the github cache by appending a ? to the url
[![Go Report Card](https://goreportcard.com/badge/github.com/oracle/navarkos?)](https://goreportcard.com/report/github.com/oracle/navarkos)

Doug

[2017-12-14 22:03] didenko commented on #202
The issue does not seem to be related to (only) caching. Consider https://goreportcard.com/report/go.didenko.com/fst, which as of ***now*** still show that message:

![2017-12-14 15 57 51](https://user-images.githubusercontent.com/99670/34016518-ce7fe1e6-e0e7-11e7-94b6-0a0bc95cddb0.jpg)

Yet local `gofmt` finds no differences:

![2017-12-14 16 00 27](https://user-images.githubusercontent.com/99670

[2017-12-15 00:54] didenko opened #232 "ineffassign reporting is incorrect"
`Ineffassign`'s negative check reported as positive. At the refreshed repo, `goreportcard` detects an `ineffassign` positive:

![2017-12-14 18 48 17](https://user-images.githubusercontent.com/99670/34021494-dbf587be-e0ff-11e7-99c3-38d3adb8f754.jpg)

While `ineffassign` itself does not detect any errors:

![2017-12-14 18 47 12](https://user-images.githubusercontent.com/99670/34021511-f177b0da-e0ff-

[2017-12-16 20:21] BitQOne opened #233 "There was an error processing your request: Could not analyze the repository: no .go files found"
Unable to refresh go project /github.com/viant/endly

https://goreportcard.com/report/github.com/viant/endly

[2017-12-20 05:04] shawnps opened #234 "ReportHandler not found in cache error shouldn't be an error"
This looks scarier than it really is:

`ERROR ReportHandler: "github.com/foo/bar" not found in cache`

It should just be a normal log line or something.

[2017-12-23 05:57] #234 closed

[2017-12-23 05:58] shawnps commented on #233
@BitQOne we've been experiencing some scaling issues lately. The report looks okay to me now so I'll close this. Feel free to reopen if it happens again.

[2017-12-23 05:58] #233 closed

[2017-12-23 06:00] shawnps commented on #214
@hermanschaaf you're right, I just tried a vanity URL and this doesn't appear to be the case. Probably was a different issue, maybe related to /badge endpoint never caching. Closing

[2017-12-23 06:00] #214 closed

[2017-12-23 06:02] shawnps commented on #222
This project seems to update okay now, albeit it still does consume a lot of the server's resources. We simply need a bigger server, which costs money, which we don't have. Going to close this for now

[2017-12-23 06:02] #222 closed

[2017-12-24 20:23] AlekSi opened #235 "Consider adding megacheck and/or staticcheck"
https://github.com/dominikh/go-tools
I found staticcheck to be super useful.

[2017-12-27 04:57] tariq1890 commented on #235
I agree with this. I find them very useful. I also see that many Go repositories that have A+ scores also have several megacheck issues. Right now goreportcard is a bit too lenient. @shawnps

[2017-12-30 11:06] xor-gate commented on #212
Thats weird, I just hit the refresh button and it also complaining at 0% for the LICENSE file. I'm sure the master branch (which probably goreportcard only looks at):

Go report card:
https://goreportcard.com/report/github.com/xor-gate/cicd
My License:
https://github.com/xor-gate/cicd/blob/master/LICENSE

[2017-12-30 13:07] shawnps commented on #212
@xor-gate Hi, we don't currently check any branches other than master. It looks like your repo's default branch is develop, so I'm quite sure that's what is causing the issue. Not sure if an issue has been created around that problem but I think it would require us to ping GitHub on every request, which may prove infeasible.

[2017-12-30 13:11] xor-gate commented on #212
That explains a lot, you are right. When adhere to Gitflow style there are multiple branches, and I did set the default "view" to develop but master should always be at first sight. I will switch to master then. Thanks for your response.

[2017-12-30 13:56] xor-gate commented on #212
I have changed the default to the master branch, still no luck. Not sure what causes the problem.

[2017-12-30 15:32] shawnps commented on #212
Hi @xor-gate yeah I think once we clone the repo with the wrong branch, we don't have any logic to fix it when the user updates their default branch to master. Take another look, it should be fixed now after I removed the old repo on our server.

[2017-12-30 15:39] xor-gate commented on #212
Yeah it seems to work now.

[2018-01-02 12:02] floodcode opened #237 "Main site doesn't work"

[2018-01-02 12:04] shawnps commented on #237
High load on the server. Restarting it

[2018-01-02 12:04] #237 closed

[2018-01-18 11:29] rogozhka opened #238 "AddError: could not parse if fileName begins with "-""
https://goreportcard.com/report/github.com/rogozhka/tgwrap

I see no forbiddance for naming like "-wrap-command.go" in language spec. Am I wrong?
BTW it is useful to sort and group files.

[2018-01-25 13:48] rameshthoomu opened #239 "error processing request"
Got the below error when I did refresh on the goreportcard of https://goreportcard.com/report/github.com/hyperledger/fabric. Could you help us or give steps to fix this.
[code]

[2018-01-25 22:23] shawnps commented on #239
@rameshthoomu this is due to the default branch not being master. Go Report Card has no way of knowing the default branch when pulling down the repository. The same problem would happen if someone tried to `go get` your repo. If you switch the default branch to `master` it should work.

[2018-01-25 22:51] shawnps commented on #239
@rameshthoomu it should work now. Feel free to reopen if you still encounter issues

[2018-01-25 22:51] #239 closed

[2018-01-25 22:52] shawnps commented on #180
Should be fixed - I copied what `go get` is doing in https://github.com/gojp/goreportcard/commit/d16ec21ff2895bec4c8a977570d97a6e23e88cd4

[2018-01-25 22:52] #180 closed

[2018-01-25 22:53] shawnps commented on #223
This should be fixed in https://github.com/gojp/goreportcard/commit/d16ec21ff2895bec4c8a977570d97a6e23e88cd4

[2018-01-25 22:53] #223 closed

[2018-01-26 02:41] rameshthoomu commented on #239
This is working now. Thanks @shawnps for the quick fix

[2018-02-07 07:12] shawnps commented on #238
@rogozhka This was probably an issue with our code - I don't think we've seen any repos with files that begin with dashes up until now. It looks like you updated your filenames to remove the dashes from the beginning so I'm going to close this. If someone else runs into it we can revisit. Thanks

[2018-02-07 07:12] #238 closed

[2018-02-10 19:45] zenhack opened #241 "Ignore auto-generated files."
It would be useful to be able to ignore auto-generated files. As an example, I have a package that has a bunch of files that are the output of capnproto schema. The issues the report card raises are almost entirely in the generated output:

https://goreportcard.com/report/github.com/zenhack/go.sandstorm

Ideally, the tool would just pick up on the auto-generated comment in those files and ignore t

[2018-02-22 12:02] fubarhouse commented on #7
Is there any intention right now to add the "for-the-badge" style - because it clearly isn't supported...

[2018-02-24 23:45] yangwenmai commented on #232
I also have this problem.
![tidb_gojp](https://user-images.githubusercontent.com/1710912/36636332-c81e87b6-19ff-11e8-8561-e3720564743e.png)

[2018-03-22 18:01] aalmiray commented on #200
It could perhaps be done by passing additional query parameters to the badge URL, that's how Sonarqube does it for different metrics, for example `image:https://sonarcloud.io/api/badges/measure?key=org.codehaus.griffon:griffon&metric=sqale_debt_ratio["Technical Debt", link="https://sonarcloud.io/dashboard?id=org.codehaus.griffon%3Agriffon"]` results in

[![Technical Debt](https://sonarcloud.io/api

[2018-03-31 11:22] MichaelS11 opened #243 "Deleted repos stay on high score page"
After a repos has been deleted/moved, there does not seem to be any way for them to be removed from the high score page. Clicking refresh now gets the error:

There was an error processing your request: Could not analyze the repository: could not clone repo: exit status 128

Examples:
https://goreportcard.com/report/github.com/wrfly/high_scores

https://goreportcard.com/report/github.com/wrfly/Hig

[2018-04-17 20:27] nikogura commented on #120
The following Dockerfile will let you run against a private gitlab with a self signed certificate:

`FROM golang:1.8-alpine

# SSH key for getting code
ARG SSH_KEY

# hostname for internal github/gitlab server
ARG GIT_HOST

# most of this is verbatim from the project.  openssl is added
RUN apk update && apk upgrade && apk add --no-cache git make openssl openssh

# trust repo's self signed cert
RUN

[2018-04-23 12:01] davyxu opened #244 "report icon on markdown README not refresh!"
Hi, heres my github(https://github.com/davyxu/cellnet)  using goreportcard

I have updated the goreport page(https://goreportcard.com/report/github.com/davyxu/cellnet)
but the github page always no update and shows level C

Why?

[2018-04-23 12:05] hermanschaaf commented on #244
Hi @davyxu , the image is cached by github on your browser. The issue is on the Github side, and it's likely that if you clear your cache you'll see that the correct value:

![screen shot 2018-04-23 at 1 03 45 pm](https://user-images.githubusercontent.com/1121616/39125446-e2aa2828-46f6-11e8-9405-2e9c2a8e831f.png)

We set headers on the image to prevent caching, but github doesn't always respect th

[2018-04-23 12:05] #244 closed

[2018-05-08 09:05] shady831213 opened #246 "trigger refresh through travis"
Hi,
I didn't found any doc to describe how to trigger refresh through CI tools. But I found the solution and it works. like this:
[code]
:)

[2018-05-13 14:56] muhlemmer opened #247 "False positive in go vet."
Go vet is giving a false positive:

This occurs in this [report card](https://goreportcard.com/report/github.com/muhlemmer/view).

This is an old [bug](https://github.com/golang/go/issues/20655) in Go, fixed in 1.10. Probably the site is running an older version of Go?

Local `go vet .` doesn't return this error. (Running Go 1.10.1)

[2018-05-15 08:01] fredbi commented on #202
This false positive problem on simple go fmt issue is really annoying.
It looks like that the code in master has merged a fix for this. Do you plan to deploy this version on the goreportcard.com site any time soon?

[2018-05-28 19:58] breml commented on #113
I have a similar problem with my package [logstash-config](https://github.com/breml/logstash-config).

Locally `go vet .`, `go tool vet .` as well as `gometalinter .` do not return an error. I use `go version go1.10.1 linux/amd64`. On goreportcard.com the following error is shown (https://goreportcard.com/report/github.com/breml/logstash-config):

[code]

The `ParseReader` function is defined in `

[2018-06-01 07:07] AkashEMC commented on #202
phasing the same issue what zbintliff has mentioned above. any resolution ??

[2018-06-01 07:35] shawnps commented on #202
@AkashEMC could you link a sample repo, please? Thanks

[2018-06-13 04:13] doraemon0 opened #250 "go report error on github"
Please have a look:
The README.md of https://github.com/nknorg/nkn
The badge shows error.
The badge could be accessed: https://goreportcard.com/badge/github.com/nknorg/nkn

If this is not an issue, please close it.

[2018-06-13 05:39] shawnps commented on #250
Hi @doraemon0, thanks for reporting this.

I'm not sure why this is happening...we set a `Cache-Control` header when serving the badge which should disallow any caching:

https://github.com/gojp/goreportcard/blob/master/handlers/badge.go#L67

But maybe there is some issue on GitHub's end.

[2018-06-13 06:32] doraemon0 commented on #250
Hi @shawnps , got it, thank you for your help.

[2018-06-13 11:39] shawnps commented on #250
@doraemon0 I've written in to GitHub support to ask about your repo specifically. I'll let you know when I hear back from them.

[2018-06-13 11:40] shawnps commented on #247
Hi @muhlemmer, I've updated the Go version on our server to 1.10 and I'm not seeing this issue on your report anymore. Thank you for reporting!

[2018-06-13 11:40] #247 closed

[2018-06-15 09:10] halink0803 opened #251 "Always checking master instead of checking default branch"
I change default branch of my repository to "develop" instead of "master". However when I check with goreportcard it still check my master branch. How can I let goreportcard to check my default branch?

[2018-06-15 09:12] #251 closed

[2018-06-21 10:48] dAnjou commented on #120
#134 can be a viable workaround for most use cases here.

[2018-07-01 10:18] AkashEMC commented on #202
@shawnps sorry for late reply, my issue got resolved, it was due to missing Unit test cases along with code.

[2018-07-17 05:44] leighmcculloch opened #253 "Add check for semantic version tags"
With go1.11 modules (`go mod`) enter as an experiment, and previously `dep` has been the recommended approach to dependency management. Both put significant value on go projects tagging their releases with semantic versions, or [semver](https://semver.org/).

I think it's worth adding a check to goreportcard that signals that there is value to tagging versions.

I'd be open to adding the commit to

[2018-07-24 08:37] Southclaws commented on #120
If you don't need self signed certs or self hosted GitHub and don't want to bake SSH into the container, my solution was some quick modification to the Dockerfile:

[code]

Then run with a passwordless SSH key mounted into the container at runtime: `-v $(HOME)/.ssh/id_goreportcard_rsa:/root/.ssh/id_rsa`.

Another, more long term alternative would be to replace Git command line calls with [src-d/go

[2018-07-26 21:41] riquellopes opened #254 "How can i invalidate the project?"
Hi,

I would like invalidate my personal project at goreportcard. How can I do this?

[2018-08-01 02:05] riquellopes commented on #254
I would like to remove it from the cache.  It's a project that I deleted. https://goreportcard.com/report/github.com/riquellopes/testcard

[2018-08-10 09:45] ohir commented on #202
Pity to write "metoo" but the "gofmt -s" test is just broken. I do have `gofmt -s` on write (with vim-go). So there is no way I could commit not formatted code.
Sample repo: https://github.com/ohir/bitpeek

[2018-08-10 21:56] shawnps commented on #202
Hi @ohir:

1. Click Format on this: https://play.golang.org/p/E0jMFat2z2k and you'll see that the space after "MIT" in the comment is removed.
2. Click Format on this: https://play.golang.org/p/Hh1OtkF_KEg and you'll see issues with the alignment of comments.

[2018-08-11 07:16] ohir commented on #202
OK. Seems that there is refactoring of gofmt under way and new one is smarter about comments.
For bitpeek publishing and yesterday's checks I used `go version devel +f2131f6e0c`.

I checked now with `go version go1.10.3` and indeed older (but release/official) gofmt produces what you pointed. Space slipped in because the (c) header I put via sed right before publishing. It hadn't got a chance to b

[2018-08-11 08:13] shawnps commented on #202
No problem :) thanks for using Go Report Card and for being actively involved in making it better.

This is a nice idea, I'd like to have a page on Go Report Card that shows which versions of linters and Go we're using.

[2018-08-16 13:31] thomasyuan commented on #120
We used self-hosted Gitlab, I think at least for self-hosted Gitlab, you needn't care about ssh key or certs at all. The runner itself will automatically do that for you.

My question is, is there an official docker image on dockerhub.com? At least I didn't find it. That will be all I need to run goreportcard for our private repo.

[2018-08-23 14:33] papakai commented on #127
Site is again down.

[2018-08-23 14:45] hermanschaaf commented on #127
Thanks - I'm unable to take a look at this right now, but I'll try and resurrect it ASAP

[2018-09-13 20:04] rameshvk commented on #113
I hit this regularly when working with examples (with a _test package name).  Gometalinter will pass locally but goreportcard reports these false warnings.  In most cases, I am able to change the example to use the same package name but sometimes that causes import cycles....

[2018-09-25 18:46] BenLubar commented on #241
Another example: https://goreportcard.com/report/github.com/BenLubar/steamworks

This doesn't report any errors with `gometalinter` locally due to the `// nolint` comment at the start of the generated file.

[2018-10-13 17:04] patyogesh commented on #134
I can take this if no one has been working on this actively.

[2018-10-14 01:04] shawnps commented on #134
@patyogesh that would be great. If you open a PR I'm happy to review.

[2018-10-16 12:29] zhulongcheng opened #256 "502 Bad Gateway"
https://goreportcard.com

![image](https://user-images.githubusercontent.com/11815801/47016372-16024000-d182-11e8-93d4-449015149af4.png)

[2018-10-16 13:29] hermanschaaf commented on #256
Thanks for reporting, we got the service back up and running now. We'll look into it to try and prevent it from happening again in the future.

[2018-10-16 13:29] #256 closed

[2018-10-25 05:33] sarathsp06 opened #257 "view : invalid link when there is no master branch"
For the following project there is no branch named "master" but the report link assumes the url to have master in it

https://goreportcard.com/report/github.com/chain/txvm

[2018-10-26 14:04] carstenhag commented on #202
I don't understand how I can fix this problem.
https://goreportcard.com/report/gitlab.com/K-AI/it4me

`go fmt ./...` finds no issues on my project.
`gofmt -s cmd/pullmails/pullmails.go` prints out the program. No clue how to automate this.

[2018-10-26 14:21] shawnps commented on #202
@carstenhag It seems like upgrading the Go version to 1.11 on the server fixed the issue. Please check again to confirm.

[2018-10-31 23:18] #250 closed

[2018-11-17 00:46] mrinalwadhwa commented on #113
Have the same problem in this report https://goreportcard.com/report/github.com/ockam-network/did

Locally `go vet github.com/ockam-network/did` returns no errors.

[2018-11-20 11:38] fgm opened #258 "There was an error processing your request: Could not analyze the repository: could not clone repo: exit status 128"
On a local install following the instructions on the project page, all repositories I try return this error: "There was an error processing your request: Could not analyze the repository: could not clone repo: exit status 128"

It even fails on github.com/gojp/goreportcard itself.

Looking into _repos, a repository is created from the project repo, but only contains a single commit taken from a me

[2018-11-20 12:02] shawnps commented on #258
@fgm hmm, could you provide some more details about your installation? Which version of Go, on what OS?

[2018-11-20 12:55] fgm commented on #258
go version:
go version go1.11.2 darwin/amd64

uname -a
Darwin FGM-GUI15.local 17.7.0 Darwin Kernel Version 17.7.0: Wed Oct 10 23:06:14 PDT 2018; root:xnu-4570.71.13~1/RELEASE_X86_64 x86_6

git --version
git version 2.17.0

[2018-12-19 08:03] sarathsp06 commented on #257
Anyone working in this ??

[2018-12-20 16:56] xavierhardy commented on #152
What about now @dlsniper, @rkulla? We could also check for Go module files. It's not mandatory yet, but might soon be: https://github.com/golang/go/wiki/Modules

[2018-12-20 16:59] xavierhardy commented on #110
This is more or less a duplicate as `go-unused` is part of `go-tools` now, which is referred to in #235.

[2018-12-20 17:01] xavierhardy opened #260 "Check README file"
Check for the existence of a readme file (just like the license file).

[2018-12-31 22:45] networkimprov opened #263 "Drop gocyclo"
Cyclomatic complexity analysis encourages break-up of otherwise coherent functions, giving an illusion of reduced complexity, but more likely a reduction in code quality.

And Go's reliance on `if err != nil { return err }` can cause high scores without any actual complexity increase,