[2019-01-26 22:39] kortschak commented on #192
This is still not working.

[2019-01-29 09:26] ruslanBik4 opened #264 "Let report local repo"
Hi.
 I make change this great repo for read&reports local repo.
This need to private repo analizing.
Pls, add me to contributors & I add PR about this issue

[2019-02-04 18:52] shraiysh opened #267 "Ignore vendor/"
Can we ignore the vendor directory for all processes except for the ones that compile/test the code?

[2019-02-06 16:23] georgeok opened #268 "Proposal: Add option to generate badges from the cli"
It would very convenient for CI environments to have a badge generated by the `goreportcard-cli`. The badge should go to the stdout as an svg file or an image file to a specified output file. I am quite happy to implement if the authors like the idea.

[2019-02-07 16:32] georgeok opened #270 "Docker build fails"
When running  `docker build -test .` the docker build fails.

[code]

[2019-02-08 16:38] Miouge1 commented on #120
For the folks on GitLab, another option is to run goreportcard in CI, something like:
[code]

[2019-02-14 16:13] #270 closed

[2019-02-28 02:02] shawnps commented on #263
@networkimprov Thanks for the ticket.

I've considered removing gocyclo in the past, but I haven't seen many complaints about it. That + the thumbs down reactions is leading me to close this ticket out for now, but we can always reevaluate if more people start to hate gocyclo :)

[2019-02-28 02:02] #263 closed

[2019-02-28 02:03] shawnps commented on #267
@shraiysh we should be ignoring vendor already - could you give us an example repo where it's not being ignored?

[2019-02-28 12:15] shraiysh commented on #267
Hi @shawnps
Vendor is not already ignored. Here is an output for `goreportcard-cli -v` in my go project

[code]

[2019-02-28 12:22] shawnps commented on #267
@shraiysh I'm not able to reproduce this, have you tested on multiple repos or just the one?

[2019-03-02 08:59] shraiysh commented on #267
Try this to reproduce the error

main.go
[code]
Install [dep](https://github.com/golang/dep)
Run `dep init && dep ensure` inside the project.
Run `go run main.go` and make sure that it runs properly.
Run `goreportcard-cli -v` in the same folder

[2019-03-11 06:00] xujiajun opened #273 "go report error on github"
hello,
as title said

The badge shows error.

The badge could be accessed: https://goreportcard.com/badge/github.com/xujiajun/nutsdb

The README.md of https://github.com/xujiajun/nutsdb

can someone give me some advise?

[2019-03-11 06:07] shawnps commented on #273
Hi @xujiajun, do you still see the error after doing a hard refresh in your browser? I think the issue might be related to GitHub's caching. I see an A+ badge in the README.

[2019-03-11 06:11] xujiajun commented on #273
@shawnps , thanks. I  try to  do a hard refresh, its ok now  :)

[2019-03-11 17:45] chungjin opened #274 "don't have target when make start-dev"
It seems you forget to update your readme, from `make start-dev` to `make start`.

Even though I changed the target to start, it will `go run main.go`, but
[code]

[2019-03-15 12:23] bcvery1 commented on #273
I have the same issue, however it is happening in multiple browsers, incognito mode (Chrome) and after clearing the cache.
Badge: https://goreportcard.com/badge/github.com/bcvery1/tilepix
Report: https://goreportcard.com/report/github.com/bcvery1/tilepix
README: https://github.com/bcvery1/tilepix/blob/master/README.md

The repo has been public for a few hours, and I have refreshed the report page

[2019-03-15 12:25] shawnps commented on #273
Hi @bcvery1, I'm seeing an A+ badge on your README. Are you seeing the error badge?

[2019-03-15 12:27] bcvery1 commented on #273
@shawnps Hey, thanks for the speedy reply, yeah, I'm seeing error on the README, doesn't matter where I view it from (freshly installed browser, and mobile browser I've never view github on before, for example)

[2019-03-15 12:29] shawnps commented on #273
@bcvery1 I'm inclined to think it's an issue on GitHub's side (maybe their CDN) if I'm seeing an A+ and you're seeing an error. In which case unfortunately there's nothing we can do :( but I'll keep this open in case more people run into it.

[2019-03-15 12:31] bcvery1 commented on #273
@shawnps yeah, that sounds about right.  The report seems to be working correctly outside of github.

I'll give it the weekend, I'll report back if just needed time! Maybe it made a difference that I added the badge while the repo was still private...?

[2019-03-15 12:35] shawnps commented on #273
@bcvery1 Hmm, Go Report Card doesn't support private repos - do you mean you copied another badge and did a search-and-replace on the repo name before you actually ran it through Go Report Card?

I'd also be curious to see what the HTTP response headers look like for the image URL in the README. For example, is the `Cache-Control` header set?

[2019-03-15 12:49] bcvery1 commented on #273
@shawnps Yeah, although the "search-and-replace" was changing two URLs, so was straight-forward.

Some (maybe) helpful info from that image request:
[code]

[2019-03-15 12:59] shawnps commented on #273
@bcvery1 that's weird, I see `Cache-Control: no-store, no-cache, must-revalidate`, which is what we set on our backend.

[2019-03-15 13:01] shawnps commented on #273
@bcvery1 so according to GitHub's docs if `Cache-Control` is set to `no-cache` but users are still seeing cached images, we're supposed to contact GitHub support. So I'll do that :) I'll keep you posted.

[2019-03-16 00:21] shawnps commented on #273
Hi @bcvery1, I got a response from GitHub:

How does it look on your end?

[2019-03-16 10:54] bcvery1 commented on #273
@shawnps It looks all good now!  Thanks for all your effort!

[2019-03-24 20:38] michaelsanford commented on #246
And a PowerShell one-liner (for the curious):

[code]

[2019-03-28 10:31] idefixcert commented on #120
In the productiongo book is stated:
" You can try it on
goreportcard.com if your source code is open source, or run the server locally to make use of the
tool on your internal network or private repositories."

How ist that possible.
I don't have gitlab, I have a simple git project?

[2019-03-29 07:16] shawnps commented on #120
Hi @idefixcert,

It's possible to use the CLI on your git project:

https://github.com/gojp/goreportcard#command-line-interface

[2019-04-03 09:44] pascaldekloe opened #275 "Untraceable vet error"
“ExampleMust1LabelHistogram refers to unknown identifier: Must1LabelHistogram (vet)”
— https://goreportcard.com/report/github.com/pascaldekloe/metrics#go_vet

The function exists, go doc [links the example](https://godoc.org/github.com/pascaldekloe/metrics#example-Must1LabelHistogram) and `go vet github.com/pascaldekloe/metrics` reports no errors.

[2019-04-03 09:55] pascaldekloe commented on #275
@ceriath mentioned the `metrics_test` package might have something to do with it. It is common for examples to change package. Examples are less readable and copy–past won't work without (`metrics.`) package prefixes.

[2019-04-04 14:55] thepudds opened #276 "add a check for a 'replace' directive in a 'go.mod' for Go modules"
### Summary

In short, while a `replace` directive in a `go.mod` might be a necessary evil or might be needed for a temporary workaround, I think it is fair to say that it is always cleaner to _not_ have a `replace`, and hence very worthwhile to drop the "Go Report Card" score if there is a `replace` found in a Go module.

### Background

Some background on `replace` is available in this [FAQ](htt

[2019-04-04 15:02] thepudds commented on #276
The implementation could be fairly straightfoward.

`go mod edit -json` prints the current module's `go.mod` file in JSON form, including showing whether or not there are any `replace`. Alternatively, doing a `find . -name go.mod` and then `go mod edit -json <path/to/a/go.mod>` does the same for a `go.mod` outside of the current module. ([Documentation link](https://golang.org/cmd/go/#hdr-Edit_go_

[2019-04-04 15:11] thepudds commented on #253
Wanted to briefly bounce this to see what the latest thinking is, especially since it sounds like @leighmcculloch had volunteered to do the work.

FWIW, I think there is a lot of value in this, especially given Go modules are [planned](https://blog.golang.org/modules2019) to be enabled by default in Go 1.13, which is not too far away.

Go modules work much better in practice if more of the broader

[2019-04-04 15:43] leighmcculloch commented on #253
I haven't started on this yet. I was waiting for some indication from @gojp / @hermanschaaf / @shawnps that it would be accepted before putting any time into it. I'm still happy to do it but if anyone else is keen go for it.

[2019-04-08 14:03] bmuschko opened #277 "Renamed GitHub repository causes badge rendering issue for new name"
I started out with the a new GitHub repository (https://github.com/bmuschko/lets-gopher). Later I renamed the repository to https://github.com/bmuschko/letsgopher (removed the hyphen). GitHub automatically puts a redirect in place from the old name to new name.

Pointing the GoReport card badge to the new repository in my `README.adoc` file renders "GoReportCard error" instead of the rating. I cou

[2019-04-08 14:59] shawnps commented on #277
@bmuschko I wonder if there was some caching issue at the time you updated the README. I see an A+ badge here:

https://goreportcard.com/badge/github.com/bmuschko/letsgopher

[2019-04-08 15:04] bmuschko commented on #277
@shawnps That's wha I thought first. I waited a couple of days and forced a refresh of the page. The badge is only rendered properly now because I pointed it to the original repository (see https://github.com/bmuschko/letsgopher/commit/7aa77b5271a9797ee8ea58421139a31fe649f204).

[2019-04-09 21:02] blockloop commented on #113
I was able to reproduce the error by running `go vet <file>` against only the example_test file rather than against the whole repo.

[code]

[2019-04-13 07:36] afbjorklund opened #280 "Please update golint version"
It gives a lot of warnings that are not available in the new command-line tool:

[code]
https://goreportcard.com/report/github.com/kubernetes/minikube

It would also be nice if the tool versions (commit?) was stated in the reports ?

This time it was because a redundant warning, removed in the latest golint:

[code]

https://go-review.googlesource.com/100841

[2019-04-15 05:01] lahsivjar opened #281 "Switch to golangci-lint from gometalinter"
[Gometalinter](https://github.com/alecthomas/gometalinter) is deprecated and archived in favor of [golangci-lint](https://github.com/golangci/golangci-lint). Is there any plan to switch to golangci-lint for reportcard too?

[2019-04-17 12:36] ljmsc commented on #113
hi,
i had the same issue. Please note the naming convention described here:
https://golang.org/pkg/testing/#hdr-Examples

[2019-05-07 00:22] #176 closed

[2019-05-07 04:58] #134 closed

[2019-05-07 05:00] mcauto commented on #267
I think this issue is duplicated https://github.com/gojp/goreportcard/issues/116#issuecomment-239674682 too.

[2019-05-07 05:02] shawnps commented on #281
Not at the moment - from what I can tell the license is incompatible.

[2019-05-07 05:02] #281 closed

[2019-05-07 05:03] #264 closed

[2019-05-07 05:17] shawnps commented on #258
@fgm are you still seeing this issue? I'm not able to reproduce it.

[2019-05-07 08:30] fgm commented on #258
Checking.

[2019-06-10 11:53] cjkreklow commented on #273
I'm having this issue right now.  According to https://github.com/github/markup/issues/224 you also need a correct Etag, Expires or Last-Modified.  My current Last-Modified shows 2016 even though the report refreshed a few minutes ago.
[code]

[2019-06-12 14:15] ianamason opened #286 "https://goreportcard.com/ is down."
Just in case you don't know.

[2019-06-13 14:17] #286 closed

[2019-06-13 17:54] bmuschko commented on #277
Apparently, the same issue occurs when the repository was private first and then was made public (see badge in https://github.com/bmuschko/kubectl-swiftnp).

[2019-06-19 18:43] mitinarseny commented on #127
Can't generate report for my project. Can you help, please?
<img width="1680" alt="image" src="https://user-images.githubusercontent.com/10659110/59791638-3f5c0880-92db-11e9-8ee0-73c89a0ac15a.png">

[2019-06-19 20:39] robmuh commented on #275
Looks like GoTool is calling the tool on each individual file instead of on the directory itself. It is worth nothing that this equivalent to `go tool vet` instead of `go tool` which is deprecated for user-land usage (and broken). https://github.com/gojp/goreportcard/blob/6ecdf3c5c38cf0855cec02ab2a02ecb78b6e456f/check/go_vet.go#L21

[2019-07-04 19:22] juan88 commented on #258
I'm having the same issue here. I cannot advance through the make install part of the installation procedure.

Any ideas on how it is possible to circumvent gometalinter?

Thanks

[2019-07-23 15:21] KatamariJr commented on #281
This project is unusable for newcomers as [Gometalinter](https://github.com/alecthomas/gometalinter) can no longer be built due to packages no longer existing in other repos (specifically github.com/nicksnyder/go-i18n/i18n). Either someone has to fork gometalinter and update the requirements (and document which version to fetch) or the project switches to golangci-lint.

[2019-07-25 05:01] hewiefreeman commented on #7
This might be an old topic, but I'm having the same issue: Github's caching is preventing my badge from updating even with a hard refresh.

Since you're already using query strings for styling the image and headers just don't get the job done, you could add another query string to the Image URL and Markdown templates (on the report cards). It's effective enough to just get the ID of the latest com

[2019-07-25 18:30] NathanielRose opened #287 "https://goreportcard.com/ is Down (7/25/2019)"
Unable to reach https://goreportcard.com/.
Badges and reports are not being displayed on repositories.

[2019-07-25 18:37] shawnps commented on #287
@NathanielRose thanks, we're having some scaling issues. It should be back up now.

[2019-07-25 18:37] #287 closed

[2019-08-08 09:13] chenguolin opened #288 "site 502 Bad Gateway"
![image](https://user-images.githubusercontent.com/5453241/62690730-d1d97800-b9ff-11e9-80d3-1f4925e4630b.png)

[2019-08-08 09:14] shawnps commented on #288
@chenguolin thanks, we're having some scaling issues and I had to restart the server.

[2019-08-08 09:14] #288 closed

[2019-08-14 18:42] adamdecaf opened #289 "504 Gateway timeout on refresh / no refresh for months"
Hello! I was noticing the badges on some of my repositories were broken, which led me to look at the goreportcard.com site and builds. After looking at the site I noticed builds haven't been checking my projects for months and a refresh eventually errors at "504 Gateway Timeout"

Is this service still supported?

- https://goreportcard.com/report/github.com/moov-io/ach (1 year)
- https://goreportc

[2019-08-14 18:45] hermanschaaf commented on #289
Hi Adam, yes the service is still supported, however we are having some scaling issues at the moment. I'm looking into it. That said, as it stands, checks do not automatically refresh themselves (as this would completely overwhelm our minimal infrastructure), to get the latest report you have to click the refresh button.

[2019-08-14 18:54] adamdecaf commented on #289
Ah okay. Thanks for the update and I'll try again in several hours or tomorrow.

[2019-08-16 13:54] michelpmcdonald opened #290 "Badge does not match score"
Hi,
My score is 100% but the badge is stuck on B:

https://goreportcard.com/report/github.com/michelpmcdonald/go-peat

I did create and completely destroy the repo a few times in git hub using the exact same repo name, not sure if that matters...

thanks

[2019-08-16 14:16] shawnps commented on #290
@michelpmcdonald thanks for bringing this to our attention - there was a bug in some caching code we're testing on the server. It should be fixed now, could you take another look?

[2019-08-16 14:26] michelpmcdonald commented on #290
Looks good on goreportcard.com, still shows as B score on github, but guessing that's nothing to do with goreportcard.

thank you

[2019-08-16 14:26] #290 closed

[2019-08-24 08:02] gboor commented on #268
+1 to this idea, but then you'd also have to generate the report HTML to link to, I guess. That way the whole functionality can be used in closed CI/CD pipelines.

Since the whole thing is open source, this should not be overly difficult. Another option is just self-hosting it.

I'm looking into using this for a series of private repos and I'm not sure yet what the best way will be, but I like the

[2019-08-27 12:53] anilmaurya commented on #289
Looks like this issue is already solved and can be closed. @adamdecaf

[2019-08-28 08:23] DarthSett opened #291 "goreportcard not showing the grade for repo after new commits"
I wanted to check the report of my repo and it worked fine the first time. When I tried to check it again after some new commits to the repo, it seems like it is still showing the results for the previous version of the repo. Can someone please help me on this?

[2019-08-28 08:31] shawnps commented on #291
@DarthSett could you please link to the repo?

[2019-09-06 00:28] SirWindfield opened #292 "Add json output via flag"
This would be useful when calling the cli from scripts. It would allow easier parsing of the results.

[2019-09-08 14:36] lmorg opened #294 "Misspell: Escape sequences treated as regular characters"
I have raised an issue on misspell's Github project page (link below) however I am also raising it here for completeness.

https://github.com/client9/misspell/issues/160

[2019-09-27 17:07] ragurney opened #295 "goreportcard in Travis"
Thanks a lot for the tool, it's fantastic!

I think it would be really helpful for a couple of my repos to be able have a Travis stage which would grab the current master branch goreportcard score, and then run goreportcard on the working branch and fail if the score is lower than master. Is there already an example of this somewhere?

Off of the top of my head, I was thinking I could run the CLI

[2019-10-01 18:37] avelino opened #296 "endpoint json return"
I'm writing script to automatically process the pull request that arrives at the [awesome-go](https://github.com/avelino/awesome-go/issues/2718) (we need to automate the work there), which option you to implement endpoint with return JSON (REST)?

[2019-10-01 23:31] #292 closed

[2019-10-06 04:08] johnfercher commented on #96
Any news about this feature?

[2019-10-07 07:42] shawnps commented on #96
@johnfercher thanks for bringing this back to our attention. I'm discussing with @hermanschaaf but unfortunately we don't have much time recently to work on new features. Hopefully we will find some time in the future.

It's possible we will make it available to supporters at https://www.patreon.com/goreportcard.

[2019-10-12 08:40] andydotxyz opened #299 "Out of memory when checking format"
It seems that the Fyne theme directory may be a bit large but I don't have the error when I run locally...

An error occurred while running this test (AddError: could not parse "_repos/src/fyne.io/fyne/theme/fatal error: runtime: out of memory:1::warning: file is not gofmted with -s (gofmt)" - strconv.Atoi: parsing " runtime": invalid syntax)

https://goreportcard.com/report/fyne.io/fyne

Is there

[2019-10-12 08:58] shawnps commented on #299
@andydotxyz yeah, looks like our server is reaching its capacity :) I re-ran the report and it seems to be back to normal.

[2019-10-12 21:15] andydotxyz commented on #299
Thanks :)

[2019-10-15 21:53] andydotxyz commented on #299
It happened again :( https://goreportcard.com/report/fyne.io/fyne and https://goreportcard.com/report/fyne.io/desktop

[2019-10-16 19:39] DiegoEliasCosta opened #300 "Command `go vet` has stopped reporting suspicious cases in the live system"
The online system in https://goreportcard.com/ has stopped reporting any suspicious line code from the `go vet` analysis.

**How to reproduce?**
Run the analysis for the project `github.com/DiegoEliasCosta/unsafe-pointer-test`.

This project contains two cases of misuse of `unsafe.Pointer`, but no report is issued with the online system.

My local version of the Go Report Card and the `go vet` too

[2019-10-16 19:40] DiegoEliasCosta commented on #300
**Expected outcome:**

![image](https://user-images.githubusercontent.com/466193/66952768-3da51600-f02b-11e9-8685-9853f3af33e7.png)

[2019-11-02 14:36] andydotxyz commented on #299
This has happened again.
Is there something that I can do to help this stop happening?

[2019-11-02 14:52] shawnps commented on #299
@andydotxyz There's nothing you can do on the repo itself as far as I know. It's basically because we run this app on a single small instance and we've had to push it to its limit.

A couple of weeks ago I added an in-memory cache for the badge URL lookups. But that cache only gets bigger unless we restart the app (which I just did, and then re-ran your report which now seems fixed). I might try a

[2019-11-14 18:42] qdm12 opened #301 "CLI not working without gometalinter"
Hi there,

I am trying to run `goreportcard-cli` in a CLI but it seems that it relies on `gometalinter` which cannot be `go get` anymore (even older releases) and is deprecated.

I have the following error when running `goreportcard-cli`:

[code]

Is there any solution to this? Thanks!

[2019-11-17 23:15] minond opened #302 "502 on `/report/github.com/minon*`"
I noticed that the badges to my projects stopped working (some time ago actually, just getting around to creating this issue...) and I get a 502 when I navigate to my project's pages on goreportcard.com. Other projects are working perfectly fine, so this prompted me to play around with the URL and I ended up noticing that I get a 502 on any URL that matches `/report/github.com/minon` (notice how h

[2019-11-19 01:45] shawnps commented on #302
Hi @minond

We were having some file corruption issues with boltdb, so we switched to dgraph's badger. But it looks like we're still using boltdb in one place, and the code went down that path and panicked when accessing the boltdb file.

I'll look into removing the last pieces of boltdb, but I'm not sure when I can get to it -- hopefully in the next couple of days.

[2019-11-19 02:09] shawnps commented on #302
@minond could you try again? I've tried a couple of your repos and it seems to work now.

[2019-11-19 03:59] minond commented on #302
It’s working, thanks for looking into this!

[2019-11-19 03:59] #302 closed

[2019-12-09 03:37] xiekeyi98 opened #303 "OOM when go report Card test in TiDB"
See this Card in: https://goreportcard.com/report/github.com/pingcap/tidb
And it OOM.

Is it anyway try to solve this?
![image](https://user-images.githubusercontent.com/7782671/70405469-47218c00-1a78-11ea-986e-ea569973a4b5.png)

[2019-12-22 02:17] gdamore opened #304 "Want better integration with shields.io"
Shields.io generates beautiful shields, with a lot more flexibility than the go report card.  For example, look at the shields on github.com/nanomsg/mangos -- I was able to style that all quite nicely and compactly.

If goreport offered the JSON endpoint for providing the data to shields.io, then I'd have the same options.

Also, it would be nice to be able to refer to goreport with a nice SVG log

[2019-12-25 10:12] tisnik opened #305 "Go vet and Golint tasks fail with `An error occurred while running this test (exit status x)`"
Two tasks **go vet** and **golint** fail with the following error:
`An error occurred while running this test (exit status x)`

for the following repository:
https://goreportcard.com/report/github.com/tisnik/go-root

Might be caused by timeouts or OOM on the server side, as local run seems to be ok.

Please note that this repo contains quite a lot of small examples, some of them have issues delibe

[2019-12-26 17:25] andydotxyz commented on #299
It's happened again :-/

[2020-01-07 10:58] sebastianst commented on #232
I can confirm that this problem is still there https://goreportcard.com/report/github.com/perun-network/go-perun#ineffassign

It is the same pattern: goreportcard's ineffassign claims that there is an unused `err` variable (which is evidently used in the next line though). Running `ineffassign` locally doesn't show any errors.

[2020-01-09 12:13] tommyalatalo commented on #120
Has there been any further progress on something like a GRC docker container which can access a private Gitlab (or other) repo, so that you can set up links to the self-hosted reports in a browser?

[2020-01-15 21:13] jessemillar opened #307 "There was an error processing your request: Could not analyze the repository: no .go files found"
I’m guessing the issue is that I originally had my repo’s default branch set to `gh-pages` in the GitHub UI. My default branch has been set to `master` for about a week now but I still can’t generate a Report Card.

https://goreportcard.com/report/github.com/jessemillar/sabacc

[2020-01-18 05:30] jessemillar commented on #307
I used the GitHub UI to move my repo to an organization I own (github.com/compycore) and now I’m able to generate a Go Report Card by pointing to `github.com/compycore/sabacc`.

Leaving this issue open since not finding any `.go` files when the main branch is set to `master` seems like a bug.

[2020-01-21 17:37] HowJMay opened #308 "`creater` is seen as mispelling `creature`"
[code]
see report: https://goreportcard.com/report/github.com/googleforgames/agones#misspell

[2020-01-21 19:41] hermanschaaf commented on #308
So, firstly, this should be reported to the misspel library instead: https://github.com/client9/misspell

But secondly, `creater` is indeed not correctly spelled, it should be `creator`. The suggestion offered by misspell is not good, but the word `creater` is indeed not correct.

[2020-01-21 19:41] #308 closed

[2020-01-22 09:56] HowJMay commented on #308
Sorry for my mistakes

[2020-02-10 15:09] shawnps opened #310 "High scores page broken"
Looks like the high scores page broke with the badger migration. Need to figure out why.

[2020-02-11 08:47] #310 closed

[2020-02-12 18:48] NITEMAN commented on #281
AFIK  golangci-lint's license has changed after this issue: https://github.com/golangci/golangci-lint/blob/master/LICENSE

[2020-02-19 18:59] #275 closed

[2020-02-21 06:26] arp242 opened #311 ""gofmt" errors out on Go 1.13 syntax like 0b0001"
https://goreportcard.com/report/zgo.at/zhttp has the errors:

    Line 17: missing ',' in argument list:1::warning: file is not gofmted with -s (gofmt)
    Line 18: missing ',' in argument list:1::warning: file is not gofmted with -s (gofmt)

The offending lines use Go 1.13 syntax:

    const (
        ServeTLS      = uint8(0b0001)
        ServeRedirect = uint8(0b0010)
    )

Unless I missed it, t

[2020-02-21 06:27] arp242 commented on #311
Oh, and "golint" too btw:

        /zgo.at/zhttp/serve.go
        Line 17: warning: missing ',' in argument list (and 1 more errors) (golint)

[2020-02-25 19:07] sams96 commented on #299
I'm getting the same error when I include large (>50MB) files (which I have because I haven't found a better way to include data files). Could you just check the file size first and ignore anything too big?

[2020-02-29 20:46] Jacalz opened #312 "Perform security analisys using gosec"
It would be great if [gosec](https://github.com/securego/gosec) could be integrated as a means of security checking all repositories that are signed up for the report card. It is a good step towards a more secure go ecosystem.

[2020-03-05 14:29] titouanfreville commented on #301
Main issue here is that gometalinter is now deprecated: https://github.com/alecthomas/gometalinter
Else installing it will make it work. But we should not need to install a dependencies on a client :)

[2020-03-07 18:11] shellfu commented on #301
https://github.com/gojp/goreportcard/pull/298

This seems to solve it. Any reason why this cannot be merged and solve this issue?

[2020-03-19 10:47] henvic opened #313 "bad reporting: runtime: out of memory issue on goreportcard.com"
Hi, I'd like to report that I tried to import a new project (~ 45k lines of code; has vendorized dependencies) to goreportcard.com and I'm getting a bad report (F, no useful results):

https://goreportcard.com/report/github.com/henvic/wedeploycli

gofmt fails with

[code]

and everything else but the license fails with

[code]

However, if I run it locally, everything but the license passes (perha

[2020-03-20 01:34] mogaika commented on #313
same for [https://goreportcard.com/report/github.com/mogaika/god_of_war_browser](https://goreportcard.com/report/github.com/mogaika/god_of_war_browser)

[2020-03-20 03:53] yucaowang commented on #313
+1
Is this caused by server resource limit?

[2020-03-20 04:33] shawnps commented on #313
Yup, we probably ran out of memory. One of these days I'll have enough money to upgrade the server and put alerting in place etc. :) Please check again.

[2020-03-20 07:10] yucaowang commented on #313
@shawnps It works! Thanks!

[2020-04-08 10:23] gildas opened #314 "call to gofmt does not include files with // +build"
When running goreportcard on packages that use +build the gofmt report is wrong as not all files are tested.
For an example see: https://goreportcard.com/report/github.com/gildas/go-logger

[2020-04-08 12:25] gildas opened #315 "go_vet fails to run with tests using strechr/suite's LessOrEqual"
the goreportcard CLI spits:

[code]

Here is the smallest test to reproduce this:

go.mod:
[code]

zz.go:
[code]

zz_test.go:
[code]

[2020-04-08 12:33] gildas commented on #315
Ok, I found the reason....

goreportcard completely ignores `go.mod`...

If the go pkg has an old version of a package but the modules mentioned in the `go.mod` use a newer version of that package, goreportcard uses the one from the go pkg instead of the one from the go.mod.

As soon as I updated the version in the pkg, the test passed.

Not sure if you guys want to see this as a bug or not.

[2020-04-08 12:33] #315 closed

[2020-04-10 22:07] mostynb commented on #263
Where's the best place to register dislike for cyclomatic complexity analysis? I agree with @networkimprov's comments, plus also the implementation used here (gocyclo) is abandonware.

[2020-04-15 08:45] jeandeaual commented on #311
It seems like I'm getting the same issue with gofmt and golint on [this report](https://goreportcard.com/report/github.com/jeandeaual/tts-deckbuilder): `Line 218: missing ',' in argument list`.

This could be caused by the octal syntax `0o755`.

I'm not getting any error when running `gofmt -s` or `golint` on my project locally.

[2020-04-15 08:59] arp242 commented on #312
gosec tends to have a lot of false positives though.

[2020-04-15 10:18] Jacalz commented on #312
Yes you are right, but gosec allows to turn off various checks. The ones that don’t really produce false positives could be used, like for example unhandled errors and other errors that aren’t very common but really bad.

[2020-06-04 18:13] dvrkps opened #318 "golang/lint is frozen and deprecated"
https://github.com/golang/go/issues/38968#

[2020-06-05 10:11] graywolf-at-work opened #319 "Getting 404 when I try to generate report"
I keep getting 404 instead of the report being generated. Steps:

1. Open https://goreportcard.com/
2. Enter `git.sr.ht/~graywolf/gomemcache` into the input field
3. Press `Generate Report`
4. Get redirected to `https://goreportcard.com/report/git.sr.ht/~graywolf/gomemcache`
5. `404 page not found`

[2020-06-09 20:08] arkn98 commented on #96
Is this issue still open? Can I work on it?

[2020-06-21 13:32] jeroenrinzema commented on #313
Hi @shawnps , I am noticing a similar issue when generating a go report for https://goreportcard.com/report/github.com/jexia/maestro

[2020-07-02 11:35] georgysavva opened #321 "Badge show error in readme, but goreport show A+"
Hi. Here is my repo:
https://github.com/georgysavva/scany
As you can see the badge is `error` in the Readme.
But it's A+ on the goreportcard site:
https://goreportcard.com/report/github.com/georgysavva/scany
I tried different browsers and devices. It's error everywhere.
This happened after I renamed the repo. I waited a day and it didn't help. I deleted the repo and created a new one with the same

[2020-07-03 09:37] georgysavva commented on #321
I managed to purge the Github CDN cache as advised in this guide:
https://docs.github.com/en/github/authenticating-to-github/about-anonymized-image-urls

The command to do that:
[code]

[2020-07-03 09:37] #321 closed

[2020-07-05 17:28] lmorg opened #322 "OOM when generating a report"
OOM error when running a report against github.com/lmorg/murex
[code]
Works fine when I run goreportcard locally.

[2020-07-06 19:58] realshuting commented on #322
Came across the same issue, is there any workaround?

[2020-07-07 16:29] lmorg commented on #322
@realshuting I think it's a hosting issue. For now I've been running the tools locally and removed the badge from my README. So I've still got the coverage but unfortunately this way I'm not also promoting the tooling that provided the coverage.

[2020-07-13 17:08] lmorg commented on #322
Closing this issue because the problem seems to be resolved

[2020-07-13 17:08] #322 closed

[2020-07-18 16:24] hitzhangjie opened #323 "Will go module replace directive supported?"
Hi, will the go module replace directive supported in future version?

I see some relevant error, that says no module found, when run `goreportcard-cli -v`.

[2020-07-26 04:40] krader1961 opened #324 "gofmt does not recognize numeric literals introduced by Go 1.13"
A project I contribute to requires Go 1.14 and uses the numeric literal syntax introduced in Go 1.13. The hosted Go Report Card for the [project](https://goreportcard.com/report/github.com/elves/elvish) reports a gofmt error due to the use of the numeric literal `0o777`. This implies that the hosted version of this program is using a Go version older than 1.13. There are other issues noting that t

[2020-07-28 12:04] shawnps commented on #324
@krader1961 We've upgraded to the latest Go version on the server.

Removing `gometalinter` is a much bigger endeavor that unfortunately we will just have to get to when we can, which is probably not in the immediate future.

[2020-07-28 20:58] krader1961 commented on #311
FWIW, In response to issue #324 that I opened the goreportcard team has updated the Go version used on the server. The `gofmt` section of the hosted report no longer complains about the numeric literal syntax introduced with Go 1.13. So I believe this issue can be closed as resolved.

[2020-07-28 21:00] arp242 commented on #311
Coolio :-)

[2020-07-28 21:01] krader1961 commented on #324
Thanks for taking the time to update the Go version. That has eliminated all of the spurious errors for the Elvish shell project. I appreciate that replacing the dependency on gometalinter will take a non-trivial amount of work.  I'll review the open issues to see if that is already tracked. If not I'll open an issue noting the need for someone to tackle that work.

[2020-07-28 21:01] #324 closed

[2020-08-01 04:59] krader1961 opened #325 "golint used by the hosted goreportcard needs to be updated"
The resolution to issue #324 fixed the recognition of numeric literals by `gofmt` introduced by Go 1.13. However, I see that the `golint` portion of the report still complains about the numeric literal `0o777` in the same package of the Elvish shell project. From which I can only conclude that the `golint` tool used on the hosted goreportcard service predates Go 1.13. I don't see that warning when

[2020-08-01 05:42] shawnps commented on #325
@krader1961 I've updated `golint` on our server, please try again and let me know how it goes.

[2020-08-01 05:49] krader1961 commented on #325
LGTM (looks good to me)

The golint portion of the [goreportcard for the Elvish shell](https://goreportcard.com/report/github.com/elves/elvish) no longer shows a spurious warning for the `0o777` literal.

[2020-08-01 05:49] #325 closed

[2020-08-29 22:37] ancarda commented on #319
I also got this problem when I tried to analyze `git.sr.ht/~ancarda/tls-redirector`. I suspect it's because we're using SourceHut. If I had to guess, the tilde (`~`) might be causing problems.

I just made [a quick repo on GitHub](https://github.com/ancarda/a-nice-go-program), and Go Report Card was able to analyze it: https://goreportcard.com/report/github.com/ancarda/a-nice-go-program -- so it's

[2020-09-01 03:55] kennethtxytqw opened #327 "Feature: A static site generator"
We can reduce cost and maintenance by having a static site generator function, this will allow usage of it even in a private repo.

[2020-09-25 17:27] bobdonat opened #328 "goreportcard.com is not accessible"
It appears that goreportcard.com is not accessible.   Is this why the go report card badge is not showing up?

Is there an update when goreportcard.com will be online?

[2020-09-25 23:26] creekorful commented on #328
I've been suffering the same issue: my Github action that refresh automatically Go report card is failing because of that.

[2020-09-26 00:22] shibumi opened #329 "Go report says "F", but status shows "A+" for everything"
Hi,
I don't know if this is a cache issue, but the badge for https://github.com/theupdateframework/go-tuf shows "F" although all checks are showing A+

[2020-09-26 01:51] shawnps commented on #329
Hi, we're experiencing high server load: https://github.com/gojp/goreportcard/issues/328

[2020-09-26 01:51] #329 closed

[2020-09-26 01:51] shawnps commented on #328
Hi,

We're experiencing high server load and I had to increase our Digital Ocean droplet size. That does seem to be helping but we're still using a lot of memory.

[2020-09-26 08:16] creekorful opened #330 "Github action to refresh goreportcard"
Hello there,

First of all thanks for your fantastic project!

I have made a Github action that refresh repository goreportcard and I use it in my CI pipelines.

See: https://github.com/marketplace/actions/go-report-card

Would you be interested for a PR that will include it in your README so that users know how to easily interact goreportcard & Github actions?

Cheers!

[2020-09-27 10:05] ptxmac opened #331 "goreportcard.com is out of disk space"
When trying to analyse a new project I get the following error

`There was an error processing your request: Could not analyze the repository: could not clone repo: mkdir _repos/src/github.com/ptxmac: no space left on device`

[2020-11-16 18:10] lu4p opened #332 "Add check for go.mod"
I think a check for a go.mod file should be added, similar to the LICENSE check.

[2020-12-12 14:52] kevwan opened #333 "goreportcard doesn't work"
https://goreportcard.com/report/github.com/tal-tech/go-zero

![image](https://user-images.githubusercontent.com/1918356/101987048-adb13980-3ccc-11eb-9dae-5178181b19b3.png)

[2020-12-26 01:10] JonSnow47 opened #334 "Can not make install success"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.15.6 darwin/amd64
</pre>

### What go env you are?
<pre>
$ go env
GO111MODULE="on"
GOARCH="amd64"
GOBIN=""
GOCACHE="/Users/miasto/Library/Caches/go-build"
GOENV="/Users/miasto/Library/Application Support/go/env"
GOEXE=""
GOFLAGS=""
GOHOSTARCH="amd64"
GOHOSTOS="darwin"
GOINSECURE=""
GOMODCACHE="/Users/miasto/go/

[2021-01-04 13:19] For-ACGN opened #335 ""nolint" directive is lose effectiveness"
I add "// nolint" and "// nolint: gocyclo" directives to my project, but it is lose effectiveness in https://goreportcard.com/
however I used the latest gometalinter: https://github.com/alecthomas/gometalinter/releases/tag/v3.0.0 and
deploy the latest goreportcard on my server,  after that test my project, it is become effective.

I think goreportcard on https://goreportcard.com/ maybe use old "go

[2021-01-15 09:41] suzaku commented on #164
I just run into the same issue for https://github.com/juicedata/juicefs, and it doesn't seem to be a cache issue because I see the same "error" state in different browsers.

[2021-01-17 18:41] last-saiyan commented on #334
had similar issue, [This Stackoverflow answer solves it](https://stackoverflow.com/a/60388411)
maybe we need to add this to documentation on setup

[2021-02-01 02:19] xuri commented on #69
Kindly notice @shawnps @hermanschaaf, this issue has been fixed since the PR #336 merged.

[2021-02-21 06:51] Bhupesh-V opened #337 "Support for checking global variable declarations"
I just stumbled upon [gochecknoglobals](https://github.com/leighmcculloch/gochecknoglobals) to check for global var declarations.
does this seem to be a valuable addition to the go report?

The package author has also cited this source: https://peter.bourgon.org/blog/2017/06/09/theory-of-modern-go.html

[2021-02-28 21:06] hermannolafs opened #338 "Badge not updating in GitHub"
I have a public repo with a go report card badge
https://github.com/hermannolafs/smokesignal

It still says B, which was the rating when I added the badge.
Since then I have fixed it to be be A+
https://goreportcard.com/report/github.com/hermannolafs/smokesignal

I have removed the badge and re-added it and it still says B on my repo :(

Does it take a while?
Is this some caching issue on GitHubs

[2021-03-01 06:46] hermannolafs commented on #338
The report card has now updated.
This is just takes a while.

[2021-03-01 06:46] #338 closed

[2021-04-24 14:55] #333 closed

[2021-04-24 14:57] #57 closed

[2021-04-25 11:55] shawnps commented on #334
@JonSnow47 I think this is fixed with a recent change pinning `gometalinter` to a version that works. Let me know if it's still broken for you.

[2021-04-26 02:39] kortschak commented on #192
This is still not working.

[2021-04-26 02:53] shawnps commented on #192
@kortschak I'm not too familiar with vanity import paths, do you know how to resolve the path to its GitHub URL?

[2021-04-26 04:23] kortschak commented on #192
Thanks. The information can be obtained from the go-source meta tag of the vanity URL. For example, for gonum.org, you'll find things like this:

[code]

The docs for this don't really exist because apparently it was something that came from godoc.org. The commit that added it is [here](https://github.com/golang/gddo/commit/864b1c0aba009e37d301365a2f6f6cf51a3caef3).

See also, https://github.com/g

[2021-04-26 04:53] #253 closed

[2021-04-26 07:41] shawnps commented on #192
We can probably do something similar to what the Go source is doing (I think it's [here](https://github.com/golang/tools/blob/master/go/vcs/vcs.go)), or perhaps [this package](https://pkg.go.dev/golang.org/x/tools/go/vcs#RepoRoot) has something. I'll need to do some more digging.

[2021-04-26 10:05] shawnps commented on #334
Feel free to reopen if this doesn't work still.

[2021-04-26 10:05] #334 closed

[2021-04-26 10:07] shawnps commented on #304
We've recently merged a PR that redirects badge requests to shields.io. Please reopen this issue if that didn't solve your problem.

[2021-04-26 10:07] #304 closed

[2021-04-26 10:21] shawnps commented on #301
I've pinned the required version of `gometalinter` in `tools/tools.go` which gets installed with `make install`, and updated the installation instructions in the README. We might revisit `gometalinter` in the future but for now this seems to work. Please reopen if the installation instructions still don't work for you.

[2021-04-26 10:21] #301 closed

[2021-04-26 10:43] koalalorenzo commented on #194
up!

[2021-04-26 16:37] graywolf-at-work commented on #319
This did not magically fix itself.

[2021-04-27 04:51] JonSnow47 commented on #334
It's works.

[2021-04-27 14:04] sarathsp06 commented on #257
Is anyone working on this or should it be closed

[2021-04-27 14:47] #323 closed

[2021-04-28 02:37] #337 closed

[2021-04-28 02:37] #335 closed

[2021-04-28 02:37] #332 closed

[2021-04-28 02:37] #331 closed

[2021-04-28 02:37] #330 closed

[2021-04-28 02:37] #328 closed

[2021-04-28 02:37] #327 closed

[2021-04-28 02:37] #318 closed

[2021-04-28 02:37] #314 closed

[2021-04-28 02:37] #313 closed

[2021-04-28 02:37] #312 closed

[2021-04-28 02:37] #307 closed

[2021-04-28 02:37] #305 closed

[2021-04-28 02:37] #303 closed

[2021-04-28 02:37] #300 closed

[2021-04-28 02:37] #299 closed

[2021-04-28 02:37] #296 closed

[2021-04-28 02:37] #295 closed

[2021-04-28 02:37] #294 closed

[2021-04-28 02:37] #280 closed

[2021-04-28 02:37] #277 closed

[2021-04-28 02:37] #276 closed

[2021-04-28 02:37] #274 closed

[2021-04-28 02:37] #273 closed

[2021-04-28 02:37] #268 closed

[2021-04-28 02:37] #267 closed

[2021-04-28 02:37] #260 closed

[2021-04-28 02:37] #258 closed

[2021-04-28 02:37] #254 closed

[2021-04-28 02:37] #246 closed

[2021-04-28 02:37] #241 closed

[2021-04-28 02:37] #235 closed

[2021-04-28 02:37] #232 closed

[2021-04-28 02:37] #229 closed

[2021-04-28 02:37] #215 closed

[2021-04-28 02:37] #211 closed

[2021-04-28 02:37] #207 closed

[2021-04-28 02:38] #202 closed

[2021-04-28 02:38] #200 closed

[2021-04-28 02:38] #199 closed

[2021-04-28 02:38] #188 closed

[2021-04-28 02:38] #185 closed

[2021-04-28 02:38] #181 closed

[2021-04-28 02:38] #172 closed

[2021-04-28 02:38] #153 closed

[2021-04-28 02:38] #152 closed

[2021-04-28 02:38] #140 closed

[2021-04-28 02:38] #120 closed

[2021-04-28 02:38] #113 closed

[2021-04-28 02:38] #110 closed

[2021-04-28 02:38] #105 closed

[2021-04-28 02:38] #98 closed

[2021-04-28 02:38] #96 closed

[2021-04-28 02:38] #66 closed

[2021-04-28 02:38] #69 closed

[2021-04-28 02:38] #62 closed

[2021-04-28 02:38] #37 closed

[2021-04-28 02:38] #44 closed

[2021-04-28 02:38] #25 closed

[2021-04-28 02:38] #15 closed

[2021-04-28 04:04] shawnps commented on #257
@sarathsp06 It looks like GitHub redirects to the default branch when no `master` is found now. I'll close this out but I'll make a note to look into how we might get the default branch rather than assume it's `master`.

[2021-04-28 04:04] #257 closed

[2021-05-05 14:07] lmorg opened #339 "Failed processes shouldn't affect rating"
goreportcard appears to shell out to a number of 3rd party ELFs, but if those fail you get a big fat 0% against that metric and your score dropping significantly even though there might not be any issue.

The kind of failures I'm describing are:
[code]

Failed processes should either return 100% or, better yet, not be included in the calculation for the project rating.

[2021-05-06 10:25] lmorg commented on #339
To give an example of what I mean:
![image](https://user-images.githubusercontent.com/12153701/117282985-418ec800-ae5d-11eb-8bf5-5480df78310b.png)

[2021-05-06 15:14] Bhupesh-V commented on #337
@shawnps any insights on this?

[2021-05-07 12:21] andrew-field commented on #318
Still relevant I think

[2021-05-07 12:33] andrew-field commented on #318
@dvrkps @shawnps I think this should be reopened, good to bear in mind.

[2021-05-07 12:34] andrew-field commented on #332
@lu4p  @shawnps I good issue I think to reopen

[2021-05-08 15:40] TheDiveO commented on #301
Nope, still doesn't work and things got even more confusing. To start with, the most recent README under the "Installation" section says:

    Assuming you already have a recent version of Go installed, pull down the code with `go get`:

    git clone https://github.com/gojp/goreportcard.git

...so which one gives, `go get` or `git clone`?

Cloning the git repo as instructed, changing into it, and

[2021-05-14 11:43] rmohr opened #340 "Please bump ineffassign to not report false positives"
The ineffassign check seems to be pretty old and contain a bug. We see on https://goreportcard.com/report/github.com/kubevirt/kubevirt#ineffassign false positives, which don't happen with latest code from the ineffassign repo.

[2021-05-14 11:44] rmohr commented on #340
Related to https://github.com/gojp/goreportcard/issues/232

[2021-05-17 07:28] marcelmiguel commented on #276
For us, it will be nice to have:

- "go build" able to ignore "replace" section
- Control at CI: stop merging if go.mod includes replace.

[2021-05-26 02:28] peake100 opened #343 "Status 128 when trying to fetch report"
Hello!

I'm getting an error message while trying to generate by report card:

Affected Repo: http://github.com/opencinemac/vtc-go

Error message:

[code]

[2021-05-26 13:28] obalunenko opened #344 "Status 502 when trying to open https://goreportcard.com/"
502 Bad Gateway status when trying to open https://goreportcard.com/
`Failed to load resource: the server responded with a status of 502 (Bad Gateway)`

[2021-05-26 18:09] peake100 commented on #343
Update: I am now getting a 502 error, same as #344

[2021-05-26 19:06] njasm commented on #343
Same error for a repo of mine.

Repo: `github.com/njasm/marionette_client`
Error: `There was an error processing your request: Could not analyze the repository: could not clone repo: exit status 128`

[2021-05-27 03:51] fubarhouse commented on #343
A personal project is now reporting an `F` and I can't review the report.
`github.com/fubarhouse/pygmy-go`.

[2021-05-27 05:05] shawnps commented on #343
Hi, we've been having some backend issues. Please try again, the reports for repos mentioned in this ticket should work now. Let me know if there's still issues.

[2021-05-27 05:07] fubarhouse commented on #343
That works again, thanks.

[2021-05-27 08:50] peake100 commented on #343
Works again for me. Thank you!

[2021-05-27 08:50] #343 closed

[2021-05-27 22:50] obalunenko commented on #344
Checked again - now it works like a charm.

[2021-05-27 22:50] #344 closed

[2021-06-10 16:10] paullaffitte commented on #96
Since the default branch on github is now `main`, it would be quite useful to be able to specify the branch name.

[2021-06-11 08:26] RainbowMango commented on #340
+1
I see on https://goreportcard.com/report/github.com/karmada-io/karmada false positives too.

cc @shawnps @gojp

[2021-06-11 08:49] shawnps commented on #340
We're having memory issues with `ineffassign` on large repos.

Will try to think of a solution, but we might need to just disable `ineffassign` for large repos while we figure it out.

[2021-06-11 09:21] RainbowMango commented on #340
What kind of memory issues? Have you reported it to the `ineffassign` community?

[2021-06-11 09:34] shawnps commented on #340
Running `ineffassign ./...` on the https://goreportcard.com/report/github.com/karmada-io/karmada repo (and probably other large repos) on our server uses basically all of its free memory, to the point where other process can no longer allocate.

No, not sure if it's a problem with `ineffassign` or our server.

[2021-06-11 09:36] #339 closed

[2021-06-11 09:43] RainbowMango commented on #340
It works fine on my side (with the latest ineffassign):
[code]

[2021-06-11 09:46] RainbowMango commented on #340
Have you updated the `ineffassign`?
No false positives now:
https://goreportcard.com/report/github.com/karmada-io/karmada

![image](https://user-images.githubusercontent.com/8268873/121667454-e182e580-cadc-11eb-990b-85d94d8ae309.png)

[2021-06-19 16:57] tinyzimmer opened #346 "Intentional Misspellings"
This might be an odd one that is almost impossible to fix, but figured I'd bring it up anyway. I have a k8s controller project [here](https://github.com/pelotech/jsonnet-controller). The name of the custom resource is a `Konfiguration`. That triggered the following:

![image](https://user-images.githubusercontent.com/38474291/122649827-7e2a3080-d138-11eb-99ec-4f8bea130b08.png)

[2021-06-22 20:41] ainsleyclark opened #347 "No space left on device"
Hi.
I'm trying to analyse a repo but facing this issue on the website:
_There was an error processing your request: Could not analyze the repository: could not clone repo: exit status 128_

It says there's no space left on the device?

Thanks in advance.

[2021-06-24 10:53] Forceu opened #348 "Ineffassign reports a lot of false positive since last update"
Up until my last refresh which was 4 weeks ago, Ineffassign never reported any problems with my project. After I did a refresh today however, it reports a lot of functions that are apparently undeclared.

However all of them are only included if a specific tag is passed (and then both the source code is parsed and the functions are declared).

You can see the report at https://goreportcard.com/rep

[2021-06-24 10:58] #348 closed

[2021-06-24 11:06] Forceu commented on #348
Sorry, that was indeed a correct error message, I am closing this issue now.

[2021-06-25 13:40] rfay commented on #347
Looks like goreportcard is completely broken, see the error output at https://goreportcard.com/report/github.com/drud/ddev

[2021-06-26 02:16] kortschak commented on #192
unstale

[2021-06-27 08:05] ancarda commented on #319
This issue is still relevant

[2021-06-27 08:06] ancarda commented on #319
Might be a duplicate of #194 actually

[2021-06-27 08:12] hermanschaaf commented on #319
Yes, this is a duplicate of #194. I believe it could be fixed by using the Go proxy to download zip files rather than using `git clone`. I'll close this as a duplicate but leave #194 open.

[2021-06-27 08:12] #319 closed

[2021-07-03 20:50] gucio321 opened #349 "deprecate golint"
Hi there,
`golint` is deprecated now (https://github.com/golang/lint) so it shouldn't be a part of go report card anymore.

[2021-07-27 05:12] odinn1984 opened #350 "Badge not updating on GitHub even though it's up to date everywhere else"
Hi folks!

I'm using the badge on my GitHub repo and it seems like it's not updating when the score changes after I refresh on the site. Everywhere else it's working fine it's just GitHub.

I copied the Markdown suggested by the website and the score changed multiple times for me since this is a new repo but the "grade" never got updated on GitHub even though it's changed now.

Are you setting the

[2021-07-27 06:26] odinn1984 commented on #350
I'm closing this one because it just got updated... could be that i wasn't patient enough or expected the cache invalidation to be shorter :)

[2021-07-27 06:26] #350 closed

[2021-08-03 10:09] TomWright commented on #340
I am still seeing false positives, or at least an issue with the way goreportcard is running the checks: https://github.com/gordonklaus/ineffassign/issues/66

[2021-08-13 14:26] DustyRat commented on #267
This still seems to be an issue

Before removing vendor directory:
[code]

After removing vendor directory:
[code]
28 vs 1199 files

I looked into dep but seeing how it's been archived it's probably no longer the solution.

[2021-08-14 12:47] WhyNotHugo opened #351 "404 for any of my repos"
I'm trying to us `goreportcard` for a few repos, but they all return 404:

git.sr.ht/~whynothugo/autovdirsyncer
git.sr.ht/~whynothugo/systemd-lock-handler

Maybe it's the `~` in the URL which is kind of not-so-common nowadays?

[2021-08-14 12:53] WhyNotHugo commented on #351
Oh, #194 seems related.

However, a bunch of other non-github repositories worked fine, I'm not really sure if that issue is actually still valid or not.

[2021-08-15 20:25] Halfi opened #352 "Could not analyze the repository: could not clone repo: exit status 128"
After renaming master branch to the main I always get error on refresh now button:
`There was an error processing your request: Could not analyze the repository: could not clone repo: exit status 128`
https://goreportcard.com/report/github.com/Halfi/postmanq

[2021-08-15 21:30] ahmedalhulaibi commented on #352
I am also seeing this error.

I did some local debugging and isolated the issue to this block of code:

https://github.com/gojp/goreportcard/blob/90f40babc458157667588faa664896dc544beccd/download/download.go#L83-L92

Looks like the repo is failing to sync.

Logs:
[code]

[2021-08-18 10:55] LucasCarioca opened #354 "128 error trying to generate a report"
I keep getting an error with the code 128 when trying to generate a report. It also says `could not clone repo`.

It's for this repo github.com/LucasCarioca/pi-net-dht

Not sure if I'm doing something wrong but it worked fine a few days ago for some of my other projects.

[2021-08-18 11:19] viovanov commented on #354
Same here for github.com/aserto-dev/sver

[2021-08-20 02:07] #346 closed

[2021-08-29 02:08] #194 closed

[2021-09-02 10:36] georgettica opened #355 "replace gometalinter (which is deprecated)"
as seen here the tool relies on gometalinter
https://github.com/gojp/goreportcard/blob/bc8ceed159f60e73cbaf0f9208413e48e86537fe/tools/tools.go#L7

but https://github.com/alecthomas/gometalinter is archived and pushing people towards ttps://github.com/golangci/golangci-lint

I do not want to install gometalinter on my machine as there is an alternative which is maintained

is the migration in the r

[2021-09-02 10:43] georgettica commented on #355
similar to  #349

[2021-09-03 02:08] #349 closed

[2021-09-10 23:45] dechristopher opened #356 "Upgrade to go 1.17 to fix ineffassign issues with new stdlib functions"
![image](https://user-images.githubusercontent.com/12652694/132928266-94b65178-7dc5-4062-b79f-f83b23e1f1ab.png)

`time.Time.UnixMilli` was added in go1.17

[2021-09-16 14:51] TheDiveO commented on #356
Looks like ineffassign has other hiccups too: for github.com/thediveo/netdb it reports missing identifiers that clearly exist.

[2021-09-16 14:52] TheDiveO commented on #340
another batch of false psoitives here, too: github.com/thediveo/netdb

[2021-09-18 21:49] ThomasObenaus commented on #352
Same issue happens here
https://goreportcard.com/report/github.com/ThomasObenaus/go-conf#golint

[2021-09-28 09:12] TheDiveO commented on #340
Another problem with the old ineffassign: it doesn't seem to handle build flags and thus seem to ignore parts of the sources.

[2021-10-06 11:38] alimoli opened #357 "Repository with `main` branch is not updated"
My [repository](https://github.com/limoli/kid) report is not refreshed correctly.
The branch is `main`.

Clicking on one of the files links present on the report I am redirected to Github, but Github says:
![Screenshot 2021-10-06 at 13 35 06](https://user-images.githubusercontent.com/68189985/136195003-6df797e1-5bd1-4570-8eed-774c1b0bbf82.png)

Indeed all the links to the files in the report use t

[2021-10-14 09:02] WhyNotHugo commented on #351
This is still an issue. Processing most of my got repos still doesn't work.

[2021-10-16 02:15] fly33499 commented on #356
I want to upgrade it!!!!! plz!!

[2021-10-20 02:17] #354 closed

[2021-11-04 02:12] #355 closed

[2021-11-12 14:30] #351 closed

[2021-11-12 14:37] WhyNotHugo commented on #351
Thanks, @hermanschaaf! :)

[2021-11-12 14:37] hermanschaaf commented on #351
@WhyNotHugo Yeah, this was related to the tilde in the path, fixed [here](https://github.com/gojp/goreportcard/commit/60688a70a66bf85c44b2bafe82bd1d31403d338a). The example URLs in the original issue description work now:
 - [git.sr.ht/~whynothugo/autovdirsyncer](https://goreportcard.com/report/git.sr.ht/~whynothugo/systemd-lock-handler)
 - [git.sr.ht/~whynothugo/systemd-lock-handler](https://gore

[2021-11-13 14:12] TheDiveO commented on #357
ˋmasterˋ branch repositories seem to be affected, too. Refresh fails. Sadly, goreportcard seems to degenerate...

[2021-11-13 14:24] shawnps commented on #357
@TheDiveO please try again, we just deployed a fix.

[2021-11-13 14:26] TheDiveO commented on #357
Yes, that fixed the refresh problem for my repository/ies. Thank you!

[2021-11-14 01:35] synfinatic commented on #357
Seems to be still a problem for me?  https://goreportcard.com/report/github.com/synfinatic/aws-sso-cli

[2021-11-14 01:43] shawnps commented on #357
@synfinatic we're experimenting with using https://proxy.golang.org for downloading modules. The latest version we get from there is v1.2.3:

https://proxy.golang.org/github.com/synfinatic/aws-sso-cli/@latest

We still need to do some UI work to display what version of the module we checked.

[2021-11-14 01:46] synfinatic commented on #357
Ah, that would explain it!  And yes, indicating what version you're analyzing would be helpful.  I was expecting you would be pulling HEAD from `main`/default branch.

[2021-11-14 02:10] shawnps commented on #357
@synfinatic module version is displayed on the page now 👍  https://goreportcard.com/report/github.com/synfinatic/aws-sso-cli

[2021-11-16 03:56] YYCoder opened #358 "Could not analyze the repository"
I've tried a couple of times for my project github.com/YYCoder/thrifter, everything works fine when I use the command-line interface, but when I use the web interface, it shows errors as below:

[code]

it says `could not get latest module version`, but I have tried `go get github.com/YYCoder/thrifter@latest`, no error occurs.

here is my project output using the command-line interface, it worked:

[2021-11-16 04:11] shawnps commented on #358
@YYCoder it looks like Go Report Card is unable to fetch the latest module info from proxy.golang.org:

https://proxy.golang.org/github.com/YYCoder/thrifter/@latest

I'm searching around to see why this might be.

[2021-11-16 04:21] shawnps commented on #358
@YYCoder it looks like the code the proxy uses for checking module paths expects lowercase:

https://github.com/golang/mod/blob/master/module/module.go#L738

I'll have a fix deployed shortly.

[2021-11-16 04:52] YYCoder commented on #358
Thanks for your quick reply, it worked after I change my module path to `github.com/yycoder/thrifter`, but it would be better to provide a way that users don't have to deal with.

[2021-11-16 04:53] shawnps commented on #358
@YYCoder yup you're right, unfortunately it wasn't as easy to fix as I initially thought. I'll keep working on it, thanks for raising this issue 👍

[2021-11-19 02:10] #352 closed

[2021-11-20 12:59] AchoArnold opened #359 "There was an error processing your request: Could not analyze the repository: no .go files found"
The repository has .go files all over. https://github.com/NdoleStudio/flutterwave-go

What am I doing wrongly?

![image](https://user-images.githubusercontent.com/4196457/142727168-6900851f-e9be-4f4d-819d-e92f2b695479.png)

[2021-11-20 22:08] kozgot commented on #359
I have the same error for my repository.
![image](https://user-images.githubusercontent.com/37455584/142742114-14a90b88-1c2e-4b14-8d21-327d23b0c0bc.png)

For me, the report card was working originally without a problem as you can see on the screenshot (Last refresh: 1 week ago), but last Wednesday (17/11/2021) I could not refresh it because of this error, and it has not been fixed since. I have no

[2021-11-20 23:19] YashdalfTheGray commented on #359
This could potentially be related to #357, have you switched your branch name recently? I think that's the problem that I'm having.

https://goreportcard.com/report/github.com/YashdalfTheGray/colorcode

[2021-11-21 07:52] kozgot commented on #359
No, I have not switched my branch name.

[2021-11-21 11:06] shawnps commented on #359
@kozgot I believe your issue may be because there's no `go.mod` in the root of your repo.

The other issues are due to a case-sensitivity bug I'm investigating but unfortunately can't give any guarantees for when it will be fixed.

[2021-11-21 11:46] shawnps commented on #359
@AchoArnold @YashdalfTheGray your repos seem to be working now, let me know if you notice any more issues 👍

[2021-11-21 13:47] kozgot commented on #359
@shawnps, yes because this repository contains the code of 3 individual microservices, so the go.mod files are in subdirectories, however as I wrote before, the issue only occured about a week ago, before that everything worked fine. And the cli tool also works fine currently, and I have not changed the project structure, so I do not see any reason as to why this error appeared out of nowhere.

[2021-11-21 14:40] shawnps commented on #359
@kozgot we're now using proxy.golang.org to download the latest module (as of about a week ago) which likely explains it.

[2021-11-21 14:57] kozgot commented on #359
@shawnps Can you recommend a way to make it work again? This is a university project for me, and the due date is very close now, so I really do not want to split the code into multiple repos.

[2021-11-21 15:04] shawnps commented on #359
@kozgot would `go mod init github.com/kozgot/go-log-processing` in the root not work?

[2021-11-22 13:40] shawnps commented on #358
@YYCoder I believe this is fixed now. Feel free to reopen this issue if you see the problem again.

[2021-11-22 13:40] #358 closed

[2021-11-23 04:22] YashdalfTheGray commented on #359
Yay! Thanks! Out of curiosity, what was the issue? No worries if you don't have time to get into it and sorry for interrupting the conversation flow.

[2021-11-23 09:44] shawnps commented on #359
@YashdalfTheGray no worries!

The issue was: we used to use git to pull down repositories and run the checks. But we recently switched to downloading .zip files containing the module contents from proxy.golang.org.

proxy.golang.org rejects module names with uppercase letters (see the links I posted in https://github.com/gojp/goreportcard/issues/359#issuecomment-974795724). So we just needed to lo

[2021-11-23 09:47] kozgot commented on #359
@shawnps I did not have the time to look into it yet, but certainly will. Thank you for the suggestion.

[2021-11-23 09:49] shawnps commented on #359
@kozgot sure, let me know how it goes.

[2021-11-23 11:07] AchoArnold commented on #359
Its all good from my end. Can i close the ticket?

[2021-11-23 11:08] shawnps commented on #359
@AchoArnold sure, thanks for reporting 👍

[2021-11-23 11:09] #359 closed

[2021-11-25 17:55] wenlng opened #360 "Need help, Refresh error in the goreportcard.com, and the github Library is github.com/wenlng/go-captcha"
Refresh error in the goreportcard.com, and the github Library is github.com/wenlng/go-captcha.
My library needs to refresh the report. When I click the "Refresh Now" button in web page,

Url: https://goreportcard.com/report/github.com/wenlng/go-captcha
An error response will be reported:
--------------------------------------------
There was an error processing your request: Could not analyze the

[2021-11-26 01:14] shawnps commented on #360
@wenlng please try removing the quotes from the first line of the go.mod.

[2021-11-26 03:18] shawnps commented on #356
@dechristopher @TheDiveO @jimschubert I believe this has been fixed and I don't see ineffassign issues on the repos you posted above. Feel free to reopen if that's not the case.

[2021-11-26 03:18] #356 closed

[2021-11-26 08:04] TheDiveO commented on #356
looks good, thank you very much!

[2021-11-26 10:26] georgettica commented on #355
@shawnps  this is the issue I was discussing

[2021-11-26 10:27] shawnps commented on #355
Thanks @georgettica we'll take a look.

[2021-11-26 10:27] georgettica commented on #355
I remembered the tool was not using the new versions and had an alternative that did so I forgot I commented on other PR's

[2021-11-26 10:27] shawnps commented on #355
FWIW we've pinned a version of gometalinter that does work, but this is something we've been discussing for a while now so I'll chat with @hermanschaaf about it.

[2021-11-27 07:44] shawnps commented on #357
@alimoli the GitHub links now point to the latest module version. For example https://github.com/limoli/kid/blob/v1.0.0/common.go#L1.

[2021-11-27 15:09] wenlng commented on #360
Thank you

[2021-11-27 15:10] wenlng commented on #360
@shawnps Thank you

[2021-11-27 15:10] #360 closed

[2021-11-27 20:02] vkuznet opened #361 "gocyclo:ignore does not work"
Hi,
I found that goreportcard somehow ignores `gocyclo:ignore` which should prevent reporting high scores. When I add comment `//gocyclo:ignore` to high complexity function the goreportcard still shows this function as high complexity even though manually run `gocyclo` correctly skip it. You may have a look at [dbs2go](https://goreportcard.com/report/github.com/vkuznet/dbs2go) repo where I have pl

[2021-11-28 11:04] shawnps commented on #361
@vkuznet I've upgraded `gocyclo` to [`v0.3.1`](https://github.com/fzipp/gocyclo/tree/v0.3.1) so it should work now. Let me know if you still see the issue.

[2021-11-28 13:54] #357 closed

[2021-11-28 13:55] #361 closed

[2021-11-28 20:47] Strachi-sama opened #362 "goreportcard-cli not working"
[code]

[2021-11-29 05:28] shawnps commented on #362
@Strachi-sama I'm not able to reproduce this issue locally -- could you provide a public repo that causes this issue? Thanks

[2021-11-29 05:38] shawnps commented on #340
We updated `ineffassign` last month and after testing some of the repos mentioned in this ticket I don't see any false positives. Going to close this but feel free to reopen if anyone is still seeing this issue.

[2021-11-29 05:38] #340 closed

[2021-11-29 17:01] joao-fontenele commented on #362
I'm having the same issue, git bisect tells me it's this commit that introduced the error https://github.com/gojp/goreportcard/commit/7455924850b0aeee63881d32c41cfe1fc7ef1bb8

[2021-11-29 22:28] kolyshkin opened #363 "gofmt warns on Go 1.17+ `//go:build` lines"
We have recently added Go 1.17+ go:build tags to runc (see https://github.com/opencontainers/runc/pull/3185/commits/d8da00355e305f0564a9de6854bf5df1aa4b73d9) and that resulted in goreportcard giving warnings on gofmt -s, like this (from https://goreportcard.com/report/github.com/opencontainers/runc):

[code]

Apparently, some older version of gofmt is used, which does not understand go:build tags.

[2021-11-29 22:39] kolyshkin opened #364 "Stale report (old code analyzed)"
When taking a look at runc report (which was saying "Last refresh: 3 days ago" before I hit "Refresh" button), I have noticed a few warnings that were fixed quite a long time ago.

For example, these ones from the misspell warning (at the very bottom of https://goreportcard.com/report/github.com/opencontainers/runc)

[code]

were fixed by https://github.com/opencontainers/runc/commit/75761bccf7f93

[2021-11-29 22:42] kolyshkin commented on #363
Same issue with another repo: https://goreportcard.com/report/github.com/moby/moby

[2021-11-30 02:55] shawnps commented on #364
@kolyshkin we are using proxy.golang.org to download modules now. If you tag a new release it should work hopefully.

[2021-11-30 04:21] kolyshkin commented on #364
Ah, so it's testing a released version. Perhaps it can link to a released version then. Currently all links from warnings go to `master`, ie the default branch -- this have confused me about which version is tested.

[2021-11-30 04:27] shawnps commented on #364
@kolyshkin hmm, it shouldn't be linking to `master`. Could you show me where it's doing that?

[2021-11-30 04:30] shawnps commented on #363
@kolyshkin I think this may be the same issue as https://github.com/gojp/goreportcard/issues/364, meaning these errors wouldn't show up if a new version were released (not totally sure though).

[2021-11-30 04:31] kolyshkin commented on #364
Ah! Yes, I guess I was looking into the old report, which said "updated 3 days ago". Currently all links make sense, thank you for clarification (I started to think I lost my mind as I swear I saw "master" 😓 earlier today).

[2021-11-30 04:33] shawnps commented on #364
@kolyshkin no worries! Glad we got it sorted out.

[2021-11-30 04:34] kolyshkin commented on #363
Hmm. Now the links in warnings point out to v1.0.2 release, which does not have `//go:build` tags, so I'm totally unsure what it complains about.

[2021-11-30 04:38] shawnps commented on #363
@kolyshkin I took one file and ran `gofmt -s -w` on it as a test:

`libcontainer/apparmor/apparmor_unsupported.go`

Before `gofmt -s`:
[code]

After:

[code]

[2021-11-30 04:39] kolyshkin commented on #364
By the way, this broke links in moby/moby report card (https://goreportcard.com/report/github.com/moby/moby). This is because moby repo do not obey SemVer (historically, since they were using vYY.MM (year/month) versions before golang started requiring semver), and thus proxy.golang.org adds `+incompatible` suffix to module version). I guess the fix to that is as easy as adding something like `ver

[2021-11-30 04:42] shawnps commented on #364
@kolyshkin yes that's certainly a bug, thanks for pointing that out 👍

[2021-11-30 04:43] kolyshkin commented on #363
Ah, so it's vice versa -- it doesn't like the **absense** of go:build tags.

This is going to be a problem with lots of packages I guess, since those tags are not really required until at least Go 1.19.

OTOH this points out to a potential future problem, so maybe it's not a bug, it's a feature!

[2021-11-30 04:46] shawnps commented on #364
@kolyshkin the moby issue should be fixed in https://github.com/gojp/goreportcard/commit/114dbff3bd8105bd8e85dfaff01b0961ec891e1d

[2021-12-01 08:22] marcelloh opened #365 "panic & stacktrace when running on the repo itself"
goreportcard % goreportcard-cli
2021/12/01 09:17:41 disabling ineffassign on large repo...
2021/12/01 09:17:41 disabling misspell on large repo...
panic: runtime error: index out of range [1] with length 1

goroutine 25 [running]:
github.com/gojp/goreportcard/check.fileURL({0x102735067, 0x1}, {0x14000308000, 0x3f})
	/Users/marcelloh/data/go-tools/goreportcard/check/utils.go:231 +0x990
github.com/g

[2021-12-02 09:10] shawnps commented on #362
1237c87 may have fixed it, please try again

[2021-12-02 10:34] Strachi-sama commented on #362
[code]
It works perfectly on Goland, I guess it's something path related. Thank you

[2021-12-02 18:12] ejweber opened #366 "A recent commit causes gocyclo to run on the vendor directory"
Changes made in https://github.com/gojp/goreportcard/commit/87e76dbbd038211f049a900c1c19423c6ebf7830 cause gocyclo to run on the vendor directory.

Specifically, the following lines change the last argument of metalinter from "./..." to ".", but only for gocyclo.

https://github.com/gojp/goreportcard/blob/87e76dbbd038211f049a900c1c19423c6ebf7830/check/utils.go#L338-L342

It's not clear why the cha

[2021-12-02 18:14] ejweber commented on #366
I should mention that, while I am running gometalinter directly in the above examples, these gocyclo issues are included in the goreportcard-cli output as well.

[2021-12-04 03:49] cmoog opened #367 "502 Bad Gateway from goreportcard.com"
[code]

[2021-12-04 05:23] shawnps commented on #367
@cmoog thanks, we had a bug in the version-parsing code. Should be fixed now.

[2021-12-04 05:23] #367 closed

[2021-12-04 09:13] shawnps commented on #365
Fixed in https://github.com/gojp/goreportcard/commit/1237c87143f4e8f325bf4f85145a6b3cf6275042

[2021-12-04 09:13] #365 closed

[2021-12-04 09:14] #364 closed

[2021-12-06 06:39] MarcelXia opened #368 "update readme for simple installation"
If you want to use the commandline version, then this will do the trick:
go install github.com/gojp/goreportcard/cmd/goreportcard-cli

Perhaps you can put that in the readme (because then there's no need to get the software locally via git)

[2021-12-09 21:45] asmyasnikov opened #369 "Check failed for repo with major versions defined as first line in go.mod"
My repo defines v3 major version in [go.mod](https://github.com/ydb-platform/ydb-go-sdk/blob/master/go.mod#L1) file
Refresh button click failed with error
[code]
Also I try to call curl command and receive the same result:
[code]
How to refresh repository report for major versions?

[2021-12-15 15:11] axiangcoding commented on #369
same issue, any solutions?

[2021-12-16 20:22] hrmnjt commented on #349
Raising this as a concern to make it an active issue

[2021-12-16 20:24] hrmnjt commented on #355
Was this discussed? current Go Report Card still includes `golint` as a check

[2021-12-19 03:33] phanirithvij commented on #314
Not stale, bug report.

[2021-12-28 20:52] medmouine opened #370 "`gofmt` and `ineffassign` uses go version 1.17 on 1.18-beta1"
I have a [public module](https://github.com/medmouine/gomad) that uses Go `v1.18BETA1` but the checks are made using an older version (I am guessing 1.17) on `gofmt` and `ineffassign` which gives error related to generics syntax.

Example gofmt:
[code]

I can confirm `gofmt` on `v1.18` does not return any issues.

### How to replicate:
[code]

[2021-12-29 02:08] shawnps commented on #370
@medmouine we use the latest stable version of Go which is currently 1.17

[2022-01-11 15:17] Danielius1922 commented on #369
The problem seems to be in https://github.com/gojp/goreportcard/blob/fe7635329954dfcb646a25072c24228494537881/handlers/check.go#L24. The call to `Download.Clean` returns base url of the module and this url has the version `/v*` suffix stripped.

For example `github.com/ydb-platform/ydb-go-sdk/v3` will be transformed to `github.com/ydb-platform/ydb-go-sdk` and it will call `https://proxy.golang.org

[2022-01-12 09:57] asmyasnikov commented on #369
This fix may be broke repositories where v2+ versions stored as subdirectory

[2022-01-13 09:56] Danielius1922 commented on #369
It should work, the goreportcard code uses [Module Proxy](https://go.dev/ref/mod#goproxy-protocol) protocol (see `$base/$module/@v/$version.info` docu) to download .zip of the repository. The Module Proxy should does the resolution whether v2+ is stored in the root or in subdirectory. We just need the correct module name for the uri for all this to work.
The whole fix should thus consists of updat

[2022-01-20 15:31] altitude opened #371 "Is the service down?"
It looks like the hosted service goreportcard.com is down - just checking in and using this issue as an opportunity to offer to sponsor the project monthly, if that can help.

[2022-01-20 17:03] drpaneas commented on #371
Indeed the service looks down for couple of hours now. Is this a glitch or a insufficient funds issue?

[2022-01-21 02:21] shawnps commented on #371
Hello, thanks for opening this issue.

I'm not sure yet why this happened, but we were able to restart the service successfully. I'm going through the logs now.

While more funds would help us scale up (we do have a [Patreon](https://patreon.com/goreportcard)), it doesn't look like we hit any sort of resource limitation.

[2022-01-21 09:51] altitude commented on #371
Fantastic, thanks @shawnps!

[2022-01-21 09:58] shawnps commented on #371
Looks like we're having some issues again, I'm investigating now.

[2022-01-24 16:20] Forceu opened #372 "Bad request: invalid escaped module path"
I'm not sure if the problem is on my side, but I am unable to refresh my project and get the following error code:

`There was an error processing your request: Could not analyze the repository: could not download repo: could not get latest module version from https://proxy.golang.org/gokapi/@latest: bad request: invalid escaped module path "gokapi": malformed module path "gokapi": missing dot in

[2022-01-24 23:26] shawnps commented on #372
Hi @Forceu, could you try changing the first line of your `go.mod` to `github.com/forceu/gokapi`?

[2022-01-25 06:09] error0x001 opened #373 "There was an error processing your request: Could not analyze the repository: no .go files found"
Hey there!

I have an issue with my repo. It was ok a few days ago, the rating was A, but now I see the badge with 'go report: error', and the error in https://goreportcard.com/

https://github.com/error0x001/ws-cursors

Could you help me, please?

[2022-01-25 13:22] Forceu commented on #372
Still the same error? Or is the request cached?

[2022-01-25 13:33] shawnps commented on #372
@Forceu the Golang module proxy sees the latest version as v1.3.0:

https://proxy.golang.org/github.com/forceu/gokapi/@latest

https://proxy.golang.org/github.com/forceu/gokapi/@v/v1.3.0.mod

If you tag v1.3.1 I think it should work (you do have a 1.3.1 tag but it needs the v prefix)

[2022-01-25 13:35] Forceu commented on #372
Ah I did not realise that it needs to be tagged. Has that been changed? Because half a year ago goreportcard would use the latest master

[2022-01-25 13:38] shawnps commented on #372
@Forceu yes, we used to use git but we're now downloading modules from the proxy.

[2022-01-25 13:39] #372 closed

[2022-01-25 13:45] shawnps commented on #373
@error0x001 it seems like version v0.0.1 is not showing up yet on the Golang proxy:

https://proxy.golang.org/github.com/error0x001/ws-cursors/@latest

I'm not sure when it will show up, but once it does Go Report Card should be able to download it and run checks.

[2022-02-08 18:25] spekary opened #376 "goFmt AddError file not found"
Running on github.com/goradd/got

I received the following error:

An error occurred while running this test (AddError: could not parse "_repos/src/github.com/goradd/got@v0.10.4/internal/got/stat parser.go: no such file or directory:1::warning: file is not gofmted with -s (gofmt)" - strconv.Atoi: parsing " no such file or directory": invalid syntax)

It looks like it is adding "stat " in front of

[2022-02-09 08:10] shawnps commented on #376
@spekary that is interesting. I'm not sure why it happened but I did just refresh the data and it seems to be working:

https://goreportcard.com/report/github.com/goradd/got

[2022-02-09 14:59] #376 closed

[2022-02-10 04:25] wintermi opened #377 "Could not analyze the repository: could not download repo"
When I try to refresh the report for my repository - github.com/winterlabs-dev/bqwrite-test

I get the following error message: _"There was an error processing your request: Could not analyze the repository: could not download repo: could not get latest module version from https://proxy.golang.org/bqwrite-test/@latest: bad request: invalid escaped module path "bqwrite-test": malformed module path

[2022-02-11 09:17] shawnps commented on #377
@wintermi this is interesting yeah, if you look at the v0.2.0 go.mod:

https://proxy.golang.org/github.com/winterlabs-dev/bqwrite-test/@v/v0.2.0.mod

The module name is bqwrite-test. pkg.go.dev also shows no results:

https://pkg.go.dev/search?q=github.com%2Fwinterlabs-dev%2Fbqwrite-test

Since the module name is correct in the main branch, If you tag a new release it should work.

[2022-02-11 10:59] wintermi commented on #377
I created a new tag and release as suggested, however this has resolved the issue.

[2022-02-11 12:04] shawnps commented on #377
@wintermi looks like we had an older version cached. I refreshed the report and it's using v0.2.1 now.

[2022-02-11 14:24] wintermi commented on #377
Thanks, everything looks good now.

[2022-02-11 14:24] #377 closed

[2022-02-14 09:07] antichris opened #378 "Golint is deprecated"
This was already brought up in #349, but the issue was closed by the bot without anyone actually addressing it (which is probably yet another issue: when nobody gives a shit about an issue for more than 60 days, it just magically "poof"s closed).

[2022-02-14 12:26] antichris commented on #378
Also CC: @cristaloleg, @TheDiveO, @BrenekH, @Denchick, @georgettica, @obalunenko, @antoineco, @benjaminbartels, @slyang-git, and @patrickhoefler, who thumbs-up'ed both previous issues and, I suspect, would appreciate this issue being finally addressed for real.

[2022-02-14 12:29] cristaloleg commented on #378
Yes, `golint` is frozen but not deprecated, it still works and suggests what is better to fix. However, after Go 1.18 release `golint` (probably?) will not work with generics because it knows nothing about them.

AFAIR https://github.com/mgechev/revive is a drop-in replacement for `golint` and probably that's the tool that we should use.

[2022-02-14 13:31] antichris commented on #378
If by "not deprecated" you mean "it can still be downloaded, installed and kind of more or less works", I would hesitantly agree.

But the fact is that the repo is archived, the package is officially unmaintained and frozen, and the tens of outstanding issues it had were all closed unresolved when the Go team agreed on and enacted the decision to, literally, ***deprecate*** (https://github.com/gol

[2022-02-21 17:12] wongni opened #379 "cli doesn't work"
I tried to build cli on MacOS and Ubuntu, but both didn't work because goreportcard-cli is not found.

[code]

[code]

[2022-02-22 03:40] shawnps commented on #379
@wongni can you provide the output of `go list -f '{{.Target}}'`?

[2022-02-24 02:57] mstmdev opened #380 "Either or both random return errors in the ineffassign or misspell"
Hello, I had some problems.
An error occurred while generating the report in this link: [https://goreportcard.com/report/github.com/no-src/gofs](https://goreportcard.com/report/github.com/no-src/gofs).
Either or both random return errors in the ineffassign or misspell. It worked once, but it always fails now.

[2022-03-11 11:51] lindell commented on #380
Same [here](https://goreportcard.com/report/github.com/lindell/multi-gitter):

![image](https://user-images.githubusercontent.com/284868/157861590-fa7446dc-84e8-4eb7-98ac-fd37846085a8.png)

But works fine using the cli no matter how many times I run it:
![image](https://user-images.githubusercontent.com/284868/157861803-20a39f60-dc0b-456c-a1e4-87f6e1ac53d1.png)

[2022-03-15 22:08] lmittmann opened #381 "Go1.18 Support"
Many tools are not able to handle Go1.18 yet. Upgrading `gofmt` should be fairly easy, but `golint` or `ineffassign` could be problematic.

[2022-03-19 22:11] peczenyj commented on #378
Hello

the latest version of golangci-lint (v1.45.0) add some support to go1.18 via one flag that disable most of the problematic linters that does not work properly with generics.

I try to use goreportcard with one project using generics and the result was a big mess. Perhaps it is time to move forward?

https://github.com/golangci/golangci-lint/releases/tag/v1.45.0

[2022-03-19 22:11] peczenyj commented on #381
BTW
https://github.com/gojp/goreportcard/issues/378#issuecomment-1073120006

[2022-03-21 16:47] spekary commented on #381
For reference, a project that make extensive use of 1.18 generics:

https://goreportcard.com/report/github.com/goradd/maps

gofmt chokes on it. golint, not too bad. Everything else is fine.

[2022-03-22 02:33] phanirithvij commented on #381
Maybe switch or conditionally switch to staticcheck? https://github.com/golang/go/issues/38968#issuecomment-631622473

[2022-03-22 02:55] shawnps commented on #381
Hello, GRC is now running on Go 1.18, and the golint check has been removed.

[2022-03-23 02:31] shawnps commented on #381
@spekary just to clarify we were already running go vet, it didn't replace golint.

We can certainly take a look at running staticcheck.

[2022-03-24 00:38] GZGavinZhao opened #382 "Incorrect go-import meta tags with GitLab modules that contain upper-case letters"
I'm having an issue with my Go project (https://gitlab.com/GZGavinZhao/cf-tool), particularly that Goreportcard was unable to generate a report because my Git repo url and module url contain upper-case letters:
[code]

I thought this was my problem, until I saw some packages that Azure maintains (e.g. https://github.com/Azure/azure-pipeline-go). Their Git repo url and module url also contain upper

[2022-03-26 07:25] illiafox opened #383 "parsing bug cause Could not analyze the repository"
I want to update `github.com/illiafox/mailbase` card, but have error:
[code]
Site don't parse my link normally, so it call `https://proxy.golang.org/mailbase/@latest` instead of `https://proxy.golang.org/github.com/illiafox/mailbase/@latest`

[2022-03-26 07:27] shawnps commented on #383
Hi, please try changing the module name in `go.mod` to `github.com/illiafox/mailbase`:

https://github.com/illiafox/mailbase/blob/master/go.mod#L1

[2022-03-26 07:33] illiafox commented on #383
@shawnps didn't help

[2022-03-26 07:41] shawnps commented on #383
@illiafox it may take some time for the Golang proxy to update.

https://proxy.golang.org/github.com/illiafox/mailbase/@latest

You can see it still has the old `go.mod` here:

https://proxy.golang.org/github.com/illiafox/mailbase/@v/v0.0.0-20220326071402-4612c2da4689.mod

[2022-03-26 07:43] shawnps commented on #383
@illiafox seems it updated:

https://proxy.golang.org/github.com/illiafox/mailbase/@v/v0.0.0-20220326072947-96a213b5357d.mod

https://goreportcard.com/report/github.com/illiafox/mailbase

[2022-03-26 07:43] #383 closed

[2022-03-26 07:46] illiafox commented on #383
yeah, thanks!

[2022-03-26 07:58] shawnps commented on #370
Go Report Card is now using Go 1.18

[2022-03-26 07:58] #370 closed

[2022-04-14 23:23] emirpasic opened #384 "Report failing for repo for unknown reasons"
Given a couple of tools are failing on the report for [https://goreportcard.com/report/github.com/emirpasic/gods](https://goreportcard.com/report/github.com/emirpasic/gods), I assume it has to do something with the infrastructure, or?

Please let me know if this can be fixed or if I can do something to resolve the issue, thanks!

![image](https://user-images.githubusercontent.com/3115942/163492556

[2022-04-15 08:54] shawnps commented on #384
@emirpasic the server was out of memory so I restarted it and the report looks okay now. I think we may have a memory leak somewhere, but unfortunately I don't have time to look into it atm.

[2022-04-15 09:50] #384 closed

[2022-04-18 14:22] antichris commented on #378
@shawnps

Is that the final resolution for this issue or are there other plans (e.g. [revive], as https://github.com/gojp/goreportcard/issues/378#issuecomment-1039031222 suggested, or something else)?

[revive]: https://github.com/mgechev/revive

[2022-05-12 01:02] AlexanderMatveev commented on #90
@hermanschaaf same here https://goreportcard.com/report/github.com/AlexanderMatveev/gentls

[2022-05-12 13:49] Shanduur opened #385 "ineffassign and misspell return error - error occurred while running this test (exit status 2)"
As said, in my [project](https://goreportcard.com/report/gitlab.com/sat-polsl/gcs/gcs-core) I see this errors for `ineffassign` and `misspell`:

[code]

While using `goreportcard-cli` I see:

[code]

Is this some temporal issue with the server?

[2022-05-20 04:16] yeahdongcn opened #386 "Report loading all the time"
I tried to open the first [link](https://goreportcard.com/report/github.com/AdguardTeam/AdGuardHome) in the `High Scores`, but the report page is loading all the time.

`make start` locally and encounter the same issue.

[2022-05-22 13:41] yeahdongcn commented on #386
It turns out `https://cdn.jsdelivr.net/npm/handlebars@4.7.7/dist/handlebars.min.js` is blocked in China...

[2022-05-22 13:41] #386 closed

[2022-05-25 23:40] DocSavage commented on #313
Had same issue :(

[2022-05-30 08:45] sergefdrv commented on #385
The same [here](https://goreportcard.com/report/github.com/filecoin-project/mir).

[2022-06-01 18:05] vorlif commented on #385
And [here](github.com/vorlif/spreak)

[2022-06-02 04:24] haoel commented on #385
same [here](https://goreportcard.com/report/github.com/megaease/easeprobe)

And gofmt report out-of-memory

[2022-06-02 10:37] gen2brain commented on #363
I am using just `//go:build` tags, have `go 1.17` requirement in `go.mod` and still get this warning. I have tags in 250+ files so I get a bad report.

I cannot even add old style with gofmt (i.e. add just blank `// +build` and gofmt should do the job) because it is "too complex":
[code]

I would not want to maintain this manually in two different styles where the old one is not readable at all, a

[2022-06-07 00:18] scottfeldman opened #387 "Refresh Now button loads previous project"
On github, I've imported a repo from my personal account to an organization under my personal account.  After doing so, I'm getting odd behavior on the imported repo.  If I hit refresh button on Go Report Card summary page, the page reloads with the old project, the one I imported from.

I start out here: [https://goreportcard.com/report/github.com/merliot/merle](https://goreportcard.com/report/gi

[2022-06-07 02:05] scottfeldman commented on #387
Had some stale references to old project in go.mod....fixed and closing this issue.

[2022-06-07 02:05] #387 closed

[2022-06-09 07:31] smutel opened #388 "Old tag in goreportcard.com"
Hello,

I don't understand why a old tag of my repo is reported in goreportcard.com ?

https://goreportcard.com/report/github.com/smutel/terraform-provider-netbox => v1.3.0

This tag has been released one year ago ...

How to use the last tag ?

Thanks.

[2022-06-09 07:37] shawnps commented on #388
Hi @smutel

I think Go treats anything above v1 differently:

https://go.dev/doc/modules/release-workflow#breaking

You may be able to update your `go.mod` to:

`module github.com/smutel/terraform-provider-netbox/v4`

[2022-06-09 10:02] smutel commented on #388
I updated the `go.mod` and I click on the refresh button.
However the version is still 1.3.0 in goreportcard.com.

[2022-06-09 11:01] shawnps commented on #388
@smutel Not totally sure but you may need a `v4` dir:

https://research.swtch.com/vgo-module

We are basically doing the same thing as [pkg.go.dev](https://pkg.go.dev/github.com/smutel/terraform-provider-netbox)

[2022-06-21 12:06] maunzCache opened #389 "Suggestion: Show a lowscore instead of highscore"
I just noticed that the highscore on the frontpage is not really helpful to me. You can see like some projects with some amount of files and a great score of 100% but as always with those scoreboards you'll miss out all the other projects that were evaluated.

So my first idea was to go the other way round and show those projects that really need help to get a better score which means have a clean

[2022-07-05 21:56] mk-5 opened #392 "Bug: report doesn't work when `-` inside github group name"
**Steps to reproduce:**

Open any repo with `-` in user group name, like https://goreportcard.com/report/github.com/mk-5/fjira

**Problem:**

There is no way to show report for github repositories  that contains `-` character inside group name, like `github.com/ab-2/somerepo`. The github url is automatically converted to `github.com/ab2/somerepo`.
Error message for above example: could not downloa

[2022-07-07 10:12] thediveo commented on #378
As revive stresses that out of the box it acts as a faster drop-in replacement for golint, please drop it finally into goreportcard! From reading and rereading this issue and revive's documentation that shouldn't be rocket science and get this issue quickly and reliably plugged?!

[2022-07-17 16:37] tagatac commented on #355
Bump

[2022-07-17 16:50] tagatac opened #393 "ineffassign check not reproducible locally"
https://goreportcard.com/report/github.com/tagatac/bagoup reports

but when I run it locally, I don't get any output:
[code]

[2022-08-19 08:58] dnaeon opened #394 "Report is generated for different tag and unable to change default branch"
Hey all,

I don't see an option to change the default branch for my project and also it seems report is generated for a really old tag instead.

https://goreportcard.com/report/github.com/dnaeon/go-vcr

How do I change the default branch?

Thanks!

[2022-08-20 00:18] everdrone commented on #304
Doesn't seem to allow to customize the colors and logo.

Is it possible to forward all the query params to shield.io?

Specifically:
- color
- labelColor
- logo
- logoColor

[2022-08-22 12:21] everdrone opened #395 "More customization for shields.io"
Decided to open a new issue as a continuation of https://github.com/gojp/goreportcard/issues/304, since it was closed and marked as stale.

It would be nice to have the query parameters available by default on shields.io badges on this badge as well.
Specifically these parameters:
- `color`
- `labelColor`
- `logo`
- `logoColor`
- `label`
- `message` (probably not this one since it's gonna override

[2022-09-13 15:53] wood-jp opened #397 "cli alters generated files"
Repo contains generated code that helpfully starts with

[code]

Running the cli renames these files to `foo.go.grc.bk` and then leaves them like this.

I would expect that the report card should not actually alter any files in anyway.

[2022-09-16 18:28] XenGi opened #398 "reportcard can't parse my code"
I can't figure out why the report card doesn't like my go module. I'm quite new to Go. Can someone help?

Here's my code: https://gitlab.com/XenGi/dotfiles

I'm getting this error:

[code]

[2022-09-21 03:32] ghdwlsgur opened #400 "show me my repo ..."
I searched my github repository (github.com/ghdwlsgur/govpn) on the goreportcard homepage, but I get the following error.

[error]
There was an error processing your request: Could not analyze the repository: could not download repo: could not get latest module version from https://proxy.golang.org/govpn/@latest: bad request: invalid escaped module path "govpn": malformed module path "govpn": miss

[2022-09-21 03:42] shawnps commented on #400
@ghdwlsgur please try pushing a new tag -- the module name is incorrect in v0.1.2

[2022-09-21 03:46] ghdwlsgur commented on #400
Thank you for quick response !! 👍🏻👍🏻👍🏻
I will release a new release and come back.

[2022-09-21 04:07] ghdwlsgur commented on #400
https://goreportcard.com/report/github.com/ghdwlsgur/govpn

Oh yeah i'm so feel goooooooooooooood

solved it !!!! Thank you

[2022-09-21 05:20] shawnps commented on #400
@ghdwlsgur no problem, glad I could help 😄

[2022-09-21 05:20] #400 closed

[2022-09-21 05:38] shawnps commented on #398
@XenGi I've taken a look at this but haven't been able to figure it out yet.

We use proxy.golang.org to download modules. You can see both of these return errors:

https://proxy.golang.org/gitlab.com/XenGi/dotfiles/@latest

https://proxy.golang.org/gitlab.com/xengi/dotfiles/@latest

I'm not sure why though because they both seem like valid module paths according to the docs:

https://go.dev/ref/m

[2022-09-23 13:35] XenGi commented on #398
I change the name in the url from `xengi` to `XenGi`. Maybe the old one is still cached somewhere? Cause apparently this was important. With the lowercase I couldn't run it through the proxy.

[2022-11-24 22:35] mk-5 commented on #392
there was no problem with parsing - it was a repo issue. The name of the module needs to be exact match with name of the repo

[2022-11-24 22:35] #392 closed